- position = Time.zone.now.to_i.to_s + Time.zone.now.usec.to_s
%div.well{ id: "item_#{position}", class: "#{'fieldset_with_errors' if @template.errors.keys.include?(:items)}", data: { object: 'expand-item-details', target: ".item_#{position}_details", selector: 'itemdetails' }, style: 'cursor:pointer' }
  .pull-right= link_to 'Remove', "#", data: { object: 'remove', target: "#item_#{position}" }, class: 'btn btn-xs btn-danger-inverse'

  .form-group{ style: 'margin-bottom:0' }
    = label_tag "template_item_hashes_#{position}_description", 'Description', class: 'col-md-2 control-label'
    .col-md-8
      = text_field_tag "template[item_hashes][][description]", template_item.description, class: 'form-control'

  %div{ class: "item_#{position}_details", style: 'display:none', data: { object: 'itemdetails' } }
    .form-group{ style: 'margin-top:18px' }
      = label_tag "template_item_hashes_#{position}_owner_id", 'Assigned To', class: 'col-md-2 control-label'
      .col-md-8
        - owners = User.current.with_project(current_user.all_projects.where(id: @template.project_id).pluck(:id), true).order('last_name, first_name')
        = select_tag "template[item_hashes][][owner_id]", options_for_select([['---', nil]] + owners.collect{|u| [u.reverse_name,u.id]}, template_item.owner_id), data: { object: 'noclickbubble' }, class: 'form-control'

    .form-group
      = label_tag "template_item_hashes_#{position}_interval", 'Due Date Offset', class: 'col-md-2 control-label'
      .col-md-10
        .row
          .col-xs-6.col-md-3
            = number_field_tag "template[item_hashes][][interval]", template_item.interval, data: { object: 'noclickbubble' }, class: 'form-control'
          .col-xs-6.col-md-3
            = select_tag "template[item_hashes][][interval_units]", options_for_select(['days', 'weeks', 'months', 'years'].collect{|i| [i,i]}, template_item.interval_units), data: { object: 'noclickbubble' }, class: 'form-control'

    .form-group
      = label_tag "template_item_hashes_#{position}_due_time", 'Due At', class: 'col-md-2 control-label'
      .col-md-10
        .row
          .col-xs-6.col-md-3
            = text_field_tag "template[item_hashes][][due_time]", template_item.due_time, data: { object: 'noclickbubble' }, class: 'form-control'

    .form-group
      = label_tag "template_item_hashes_#{position}_duration", 'Duration', class: 'col-md-2 control-label'
      .col-md-10
        .row
          .col-xs-6.col-md-3
            = number_field_tag "template[item_hashes][][duration]", template_item.duration, min: 0, data: { object: 'noclickbubble' }, class: 'form-control'
          .col-xs-6.col-md-3
            = select_tag "template[item_hashes][][duration_units]", options_for_select(['minutes', 'hours', 'days', 'weeks', 'months', 'years'].collect{|i| [i,i]}, template_item.duration_units), data: { object: 'noclickbubble' }, class: 'form-control'

    .form-group
      = label_tag "template_item_hashes_#{position}_tags", 'Tags', class: 'col-md-2 control-label'
      .col-md-10
        - if @template.project && @template.project.tags.size > 0
          %table.table.table-borderless.table-fixed
            - @template.project.tags.in_groups_of(5).each do |row_tags|
              %tr
                - row_tags.each do |tag|
                  %td
                    - if tag
                      - tag_selected = (template_item.template_item_tags.where(tag: tag).count == 1)
                      %label.checkbox.tag-checkbox{ class: "#{'tag-selected' if tag_selected}", style: "margin-bottom:0;background-color:#{tag.color}" }
                        = check_box_tag "template[item_hashes][][tag_ids][]", tag.id, tag_selected
                        %span.tag-name= tag.name
        - else
          %div{ style: 'line-height:36px' }
            %span.text-muted Edit project to add tags.
