%div{ style: 'margin:20px' }
  %table{ style: 'width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;background-color: #fffad6;border:2px solid #F9F2B6' }
    %col{ width: '20%' }
    %col{ width: '60%' }
    %col{ width: '20%' }
    %tr
      %td{ style: 'padding-top:10px;padding-left:10px;vertical-align:top;white-space:nowrap' }
        = link_to @sticky.board ? @sticky.board.name : 'Holding Pen', "#{ENV['website_url']}/stickies/#{@sticky.id}", style: link_style
      %td{ style: 'padding-top:10px;padding-left:20px;padding-right: 20px; text-align:center;vertical-align:top' }
        - if @sticky.owner
          = image_tag("http:#{@sticky.owner.avatar_url(18, 'identicon')}", size: '18x18', alt: '', style: 'vertical-align: middle')
          = @sticky.owner.name
      %td{ style: 'padding-top:10px;padding-right:10px;text-align:right;vertical-align:top' }
        - if @sticky.due_date
          = simple_date_and_weekday(@sticky.due_date)
        - unless @sticky.all_day?
          %br
          = @sticky.due_time
    %tr
      %td{ colspan: 3, style: 'padding:20px' }
        = simple_markdown @sticky.full_description
    %tr
      %td{ colspan: 2, style: 'padding:0 10px 10px 10px' }
        = render 'sticky_tags', tags: @sticky.tags if @sticky.tags.size > 0
      %td{ style: 'padding:0px 10px 10px 10px;text-align:right;' }
        - if @sticky.completed?
          %span{ style: 'padding: 2px 4px;font-size:0.8em;background-color:#428bca;color:white' } completed
