<td></td>
<td style="padding-right:10px"><%= link_to sticky.name, "#{SITE_URL}/stickies/#{sticky.id}" %> <%= strip_tags(simple_markdown sticky.full_description).truncate(16) %></td>
<td style="padding-right:10px"><%= simple_date(sticky.due_date) unless sticky.due_date.blank? %></td>
<td style="padding-right:20px"><%= simple_weekday(sticky.due_date) unless sticky.due_date.blank? %></td>
<td style="padding-right:10px;<%= 'font-weight: bold;' if sticky.owner == @recipient %>"><%= sticky.owner.name if sticky.owner %></td>
<td style="padding-right:10px"><% if sticky.completed? %> <span style="color:#366DC2;font-weight:bold">completed</span> <% end %></td>
<td style="padding-right:10px"><%= @tags = sticky.tags; render partial: 'sticky_tags' %></td>
