Hello <%= @recipient.first_name %>,<br />
<br />
<%= @group.user.name %> <span style="border:1px solid #00ba25;background-color:#a6ffb8">ADDED</span> Group <%= link_to @group.name, "#{SITE_URL}/groups/#{@group.id}" %> with <%= pluralize @group.stickies.size, 'Sticky' %><% if @group.template %> from Template <strong><%= @group.template.name %></strong><% end %>.<br />
<br />
<% unless @group.description.blank? %>
<strong>Additional Group Information</strong><br />
<%= simple_format @group.description %>
<% end %>
<%= @stickies = @group.stickies; render partial: 'sticky_list' %>
<br />
Thank you!<br />
<br />
<%= DEFAULT_APP_NAME %> System Mailer<br />
<br />
<%= @footer_html %>
