= @group.user.name
%span{ style: 'padding:5px;background-color:#5cb85c;color:white' } added
Group
= link_to @group.name, "#{ENV['website_url']}/groups/#{@group.id}", style: 'color: #428bca'
with
= succeed '.' do
  = pluralize @group.stickies.size, 'Task'
  - if @group.template
    from Template
    %strong= @group.template.name
%br
%br
- unless @group.description.blank?
  %strong Group Description
  %br
  = simple_format @group.description
= render 'sticky_list', stickies: @group.stickies
