= @sender.name
%span{ style: 'padding:5px;background-color:#428bca;color:white' } completed
the following Task
= link_to @sticky.name, "#{ENV['website_url']}/stickies/#{@sticky.id}", style: link_style
on Project
= succeed '.' do
  = link_to @sticky.project.name, "#{ENV['website_url']}/projects/#{@sticky.project.id}", style: link_style
%br
= render 'sticky_note'

- if @sticky.group
  This task is part of Group
  = link_to @sticky.group.name, "#{ENV['website_url']}/groups/#{@sticky.group.id}", style: link_style
  - if @sticky.group.template
    from Template
    = succeed '.' do
      %strong= @sticky.group.template.name
    %br
  = render 'sticky_list', stickies: @sticky.group.stickies
  %br
