<%= render partial: 'layouts/per_page', locals: { type: 'comments' } %>

<table class="table table-striped" width="100%">
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Sticky</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td style="white-space:nowrap"><%= link_to comment.name, comment %></td>
    <td><%= link_to comment.user.name, comment.user %></td>
    <td><%= link_to comment.sticky.name, comment.sticky if comment.sticky %></td>
    <td><%= comment.description %></td>
    <td>
      <%= link_to 'Delete', comment, confirm: "Are you sure you want to delete Comment #{comment.name}?", method: :delete, class: 'btn btn-mini btn-danger' if current_user.all_deletable_comments.include?(comment) %>
    </td>
  </tr>
<% end %>
</table>

<center><%= paginate @comments %></center>
