<% width = '914px' %>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>
    <% if false %>
    <div class="field">
      <%= f.label :class_name %><br />
      <%= f.text_field :class_name %>
    </div>
    <div class="field">
      <%= f.label :class_id %><br />
      <%= f.text_field :class_id %>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :description, 'Comment' %><br />
      <%= f.text_area :description, rows: 7, style: "width:#{width}" %>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = @comment.new_record? ? 'new_comment' : "edit_comment_#{@comment.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@comment.new_record? ? "Create Comment" : "Update Comment"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
		<br />
  </div>
<% end %>
