.page-header
  %h1= @title

= form_for(@comment, html: { class: 'form-horizontal' }) do |f|
  - if @comment.errors.any?
    .callout.callout-danger
      %strong
        = pluralize @comment.errors.count, 'error'
        prohibited this comment from being saved

      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :description, 'Comment', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = cancel
