<%= form_tag comments_path(sticky_id: @sticky.id, position: @position, per: params[:per].to_i), method: :post, remote: true do %>
  <%= hidden_field_tag :position, @position %>
  <%= text_area_tag "sticky[#{@sticky.id}][comment][#{@position}]", '', name: 'comment[description]', rows: 2, style: "width:95%;margin:5px" %>
  <%= submit_tag 'Add Comment', class: 'btn btn-primary', style: 'margin:5px 0 0 5px' %>
<% end %>

<% @comments.each do |comment| %>
  <hr class="soften" style="margin-top:5px;margin-bottom:5px"/>
  <div style="background-color: white; padding: 5px;" class="<%= 'recently_updated' if current_user.last_sign_in_at and current_user.last_sign_in_at < comment.updated_at %>"
    onmouseover="$('#comment_<%= comment.id %>_delete_link').show();" onmouseout="$('#comment_<%= comment.id %>_delete_link').hide();">
    <table style="background-color: white;border: 0px"><col width="50px"/>
      <tr style="background-color: white;border: 0px">
        <td style="background-color: white;border: 0px;vertical-align:top">
          <%= image_tag comment.user.avatar_url(50), class: 'img-rounded' %>
        </td>
        <td style="background-color: white;border: 0px;vertical-align:top;padding-left:10px">
          <%= link_to comment.user.name, comment.user %>
          <span class="quiet" style="line-height:25px"><%= simple_time comment.created_at %></span>
          <% if current_user.all_deletable_comments.include?(comment) %>
            <%= link_to 'Delete', comment, method: :delete, id: "comment_#{comment.id}_delete_link", style: 'display:none', class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Comment #{comment.name}?" } %>
          <% end %>
          <div style="margin-top:5px;margin-left:20px;margin-bottom:-10px"><%= simple_format comment.description %></div>
        </td>
      </tr>
    </table>
  </div>

<% end %>

<center><%= paginate @comments %></center>
