<% width = '914px' %>
<% class_name = @object.class.name.downcase %>
<% form_name = "#{class_name}_#{@object.id}_comment_#{@position}_form" %>
<%= form_tag "/#{class_name.pluralize.to_sym}/#{@object.id}/add_comment", :position => @position, :remote => true, :id => form_name do %>
<p>
  <%= hidden_field_tag :position, @position %>
  <%= text_area_tag "#{class_name}[#{@object.id}][comment][#{@position}]", '', :name => 'comment', :rows => 2, :style => "width:#{width}" %>
  <%= link_to_function image_tag('icons/addfile.png', :alt => '') + 'Add Comment', "$.post($(\"##{form_name}\").attr(\"action\"), $(\"##{form_name}\").serialize(), null, \"script\");", :class => "button positive" %>
</p>
<% end %>
<br />

<% @object.comments(@limit).each do |comment| %>
  <div style="margin-bottom:5px">
    <%= link_to comment.user.name, comment.user %>
    <span class="quiet small">
      <% if comment.created_at.to_date == Date.today %>
        <%= comment.created_at.strftime("at %I:%M %p") %>
      <% else %>
        <%= comment.created_at.strftime("on %b %d, %Y at %I:%M %p") %>
      <% end %>
    </span>
    <pre><%= comment.description %></pre>
  </div>
<% end %>