<% @comments.each do |comment| %>
  <div style="background:rgba(0, 0, 0, .03); padding:5px;margin-bottom: 5px" >

  <div style="background-color: white; padding: 5px;" class="<%= 'recently_updated' if current_user.last_sign_in_at and current_user.last_sign_in_at < comment.updated_at %>">
    <%= link_to comment.user.name, comment.user %>
    <span class="quiet small"><%= simple_time(comment.created_at) %></span>
    <% if current_user.all_movable_comments.include?(comment) %>
      <%= link_to image_tag('gentleface/16/doc_export.png', alt: ''), move_comment_path(comment) %>
    <% end %>
    <% if current_user.all_deletable_comments.include?(comment) %>
      <%= link_to image_tag('gentleface/16/doc_delete.png', alt: ''), comment, confirm: "Are you sure you want to delete Comment #{comment.name}?", method: :delete %>
    <% end %>
    <div style="margin:5px 5px -15px 5px"><%= simple_format comment.description %></div>
  </div>
  </div>
<% end %>

<center><%= paginate @comments %></center>

<% width = '98%' %>
<% class_name = @object.class.name.downcase %>
<% form_name = "#{class_name}_#{@object.id}_comment_#{@position}_form" %>
<%= form_tag add_comment_comments_path(class_id: @object.id, class_name: @object.class, position: @position), remote: true, id: form_name do %>
<p>
  <%= hidden_field_tag :position, @position %>
  <%= text_area_tag "#{class_name}[#{@object.id}][comment][#{@position}]", '', name: 'comment', rows: 2, style: "width:#{width};margin:5px" %>
  <%= link_to_function image_tag('gentleface/16/doc_new.png', alt: '') + 'Add Comment', "$.post($(\"##{form_name}\").attr(\"action\"), $(\"##{form_name}\").serialize(), null, \"script\");", class: "button positive" %>
</p>
<% end %>
