<table>
  <tr>
    <th>User</th>
    <th>Under</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= link_to comment.user.name, comment.user %></td>
    <td>
      <% object = comment.object_model.constantize.find(comment.object_id) %>
      <% if object %>
        <%= object.class.name %>
        <%= link_to object.name, object %>
      <% end %>
    </td>
    <td><%= comment.description %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @comments %>