<h1>Listing comments</h1>
<form id="search-form">
  Search <%= text_field_tag 'search', '' %>
</form>
<div <% if false %>class="search"<% end %> id="comment_search"></div>
<%= javascript_tag(remote_function(:with => "$('search-form').serialize()", :url => search_comments_path, :method => :post)) %>

<% content_for :script do %>
  <%= javascript_tag do %>
    Event.observe(window, 'load', function(){
      new Form.Observer('search-form', 0.5, function(form, value) {
        if(rt){clearTimeout(rt);};
        rt=setTimeout('genericSearchRequest("<%= search_comments_path %>", "<%= form_authenticity_token %>", "' + form.id + '","")', 750);
      });
    });
  <% end %>
<% end %>