<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %><br />

<p>
  <b>User:</b>
  <%= link_to @comment.user.name, @comment.user %>
</p>

<p>
  <b>Object model:</b>
  <%= @comment.object_model %>
</p>

<p>
  <b>Object:</b>
  <%= @comment.object_id %>
</p>

<p>
  <b>Description:</b>
  <%= @comment.description %>
</p>
