%table.table.table-striped.table-condensed.table-fixed{ style: 'margin-bottom:0' }
  %col{ width: '50%' }
  %col{ width: '25%' }
  %col{ width: '25%' }
  %thead
    %tr
      %th Task
      %th Offset
      %th Assign To
  - template.sorted_items.each do |item|
    - item = item.symbolize_keys
    - owner = User.current.find_by_id(item[:owner_id])
    %tr{ style: 'border-bottom:1px solid #eee;margin-bottom:8px' }
      %td.nowrap{ style: 'overflow-x:hidden;' }
        - (item[:tag_ids] || []).each do |tag_id|
          - tag = template.project.tags.find_by_id(tag_id)
          = render 'tags/show', tag: tag if tag
        = item[:description]
      %td.nowrap
        - if item[:interval] != 0
          %b
            = '+' if item[:interval] > 0
            = item[:interval]
            = item[:units]
      %td.nowrap{ style: "overflow-x:hidden;#{'font-weight:bold' if current_user == owner}" }
        %span{ rel: 'tooltip', title: "#{owner ? owner.name : 'Unassigned'}", data: { placement: 'left', container: 'body' } }
          - if owner
            = image_tag owner.avatar_url(18, 'identicon')
            = owner.nickname
          - else
            = image_tag User.new.avatar_url(18, 'mm')
