<table class="blank padded" style="width:100%">
  <thead>
    <tr style="text-align:left">
      <th>Sticky</th>
      <th>Offset</th>
      <th>Assign To</th>
    </tr>
  </thead>
  <% @template.sorted_items.each do |item| %>
    <% item = item.symbolize_keys %>
    <% owner = User.current.find_by_id(item[:owner_id]) %>
    <tr style="border-bottom:1px solid #eee;margin-bottom:8px">
      <td>
        <%= item[:description] %>
      </td>
      <td><% if item[:interval] != 0 %> <b><%= '+' if item[:interval] > 0 %><%= item[:interval] %> <%= item[:units] %></b><% end %></td>
      <td style="<%= 'font-weight:bold' if current_user == owner %>"><%= link_to owner.name, owner if owner %></td>
    </tr>
  <% end %>
</table>