<table class="table table-striped table-bordered table-condensed" style="width:100%;table-layout:fixed">
  <thead>
    <tr>
      <th>Sticky</th>
      <th>Offset</th>
      <th>Assign To</th>
      <th>Due At</th>
      <th>Tags</th>
    </tr>
  </thead>
  <% @template.sorted_items.each do |item| %>
    <% item = item.symbolize_keys %>
    <% owner = User.current.find_by_id(item[:owner_id]) %>
    <tr style="border-bottom:1px solid #eee;margin-bottom:8px">
      <td>
        <%= item[:description] %>
      </td>
      <td><% if item[:interval] != 0 %> <b><%= '+' if item[:interval] > 0 %><%= item[:interval] %> <%= item[:units] %></b><% end %></td>
      <td style="<%= 'font-weight:bold' if current_user == owner %>"><%= link_to owner.name, owner if owner %></td>
      <td><%= Time.parse(item[:due_at_string]).localtime.strftime("%l:%M %p").strip rescue '' %><% if item[:duration].to_i > 0 %> for <%= item[:duration] %> <%= item[:duration_units] %><% end %></td>
      <td>

        <% (item[:tag_ids] || []).each do |tag_id| %>
          <% if @tag = @template.project.tags.find_by_id(tag_id) %><%= render partial: 'tags/show' %><% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
