<% position = Time.now.to_i.to_s + Time.now.usec.to_s %>
<div id="item_<%= position %>" class="<%= 'fieldset_with_errors' if @template.errors.keys.include?(:items) %> well" data-object="expand-item-details" data-target=".item_<%= position %>_details" data-selector="itemdetails" style="cursor:pointer">

  <%= link_to 'Remove', "#", 'data-object' => 'remove', 'data-target' => "#item_#{position}", class: 'btn btn-xs btn-danger-inverse', style: 'float:right' %>

  <div class="form-group" style="margin-bottom:0px">
    <%= label_tag "template_item_tokens_#{position}_description", 'Description', class: 'col-md-2 control-label' %>
    <div class="col-md-8">
      <%= text_field_tag "template[item_tokens][][description]", @item[:description], class: 'form-control' %>
    </div>
  </div>

  <div class="item_<%= position %>_details" style="display:none" data-object="itemdetails">
    <div class="form-group" style="margin-top:18px">
      <%= label_tag "template_item_tokens_#{position}_owner_id", 'Assigned To', class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <% owners = User.current.with_project(current_user.all_projects.where(id: @template.project_id), true).order('last_name, first_name') %>
        <%= select_tag "template[item_tokens][][owner_id]", options_for_select([['---', nil]] + owners.collect{|u| [u.reverse_name,u.id]}, @item[:owner_id]), data: { object: 'noclickbubble' }, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "template_item_tokens_#{position}_interval", 'Due Date Offset', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <%= number_field_tag "template[item_tokens][][interval]", @item[:interval], data: { object: 'noclickbubble' }, class: 'form-control' %>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= select_tag "template[item_tokens][][units]", options_for_select(['days', 'weeks', 'months', 'years'].collect{|i| [i,i]}, @item[:units]), data: { object: 'noclickbubble' }, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "template_item_tokens_#{position}_due_at_string", 'Due At', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <%= text_field_tag "template[item_tokens][][due_at_string]", (Time.parse(@item[:due_at_string]).localtime.strftime("%l:%M %p").strip rescue ''), data: { object: 'noclickbubble' }, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "template_item_tokens_#{position}_duration", 'Duration', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <%= number_field_tag "template[item_tokens][][duration]", @item[:duration] || 0, min: 0, data: { object: 'noclickbubble' }, class: 'form-control' %>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= select_tag "template[item_tokens][][duration_units]", options_for_select(['minutes', 'hours', 'days', 'weeks', 'months', 'years'].collect{|i| [i,i]}, @item[:duration_units] || 'hours'), data: { object: 'noclickbubble' }, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>


    <div class="form-group">
      <%= label_tag "template_item_tokens_#{position}_tags", 'Tags', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <% if @template.project and @template.project.tags.size > 0 %>
          <table style="width:100%;table-layout:fixed;">
            <% @template.project.tags.in_groups_of(5).each do |row_tags| %>
              <tr>
                <% row_tags.each do |tag| %>
                  <td>
                    <% if tag %><label class="checkbox tag-checkbox <%= 'tag-selected' if (@item[:tag_ids] || []).collect{|tag_id| tag_id.to_i}.include?(tag.id)%>" style="margin-bottom: 0px;background-color: <%= tag.color %>"><%= check_box_tag "template[item_tokens][][tag_ids][]", tag.id, (@item[:tag_ids] || []).collect{|tag_id| tag_id.to_i}.include?(tag.id) %> <span class="tag-name"><%= tag.name %></span></label><% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        <% else %>
          <span class="quiet">Edit project to add sticky tags.</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
