<div class="page-header">
  <h1>
    <%= @title %>
    <small><%= "Project #{link_to @template.project.name, @template.project} ".html_safe if @template.project %></small>
  </h1>
</div>

<%= form_for(@template, html: { class: 'form-horizontal' }) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_id, class: 'control-label' %>
    <div class="controls">
      <%= f.select :project_id, options_for_select([['---', nil]] + current_user.all_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = '0') ASC, name").collect{|p| [p.name, p.id]}, @template.project_id) %>
    </div>
  </div>

  <div class="control-group">

    <div class="controls">
      <label class="checkbox" for="template_avoid_weekends">
      <%= f.check_box :avoid_weekends %>
      Avoid Weekends
      </label>
      <span class="help-block muted">Set this if you prefer stickies to fall during a weekday.  Saturday gets pushed back to Friday and Sunday gets pushed forward to Monday.</span>
    </div>
  </div>

  <div id="items_container" data-object="sortable">
    <%= render partial: 'items' %>
  </div>

  <div class="control-group">
    <label class="control-label">
      <%= link_to 'Add Another Sticky', '#', id: 'add_more_items', class: 'btn btn-mini' %>
    </label>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
