<div class="page-header">
  <h1>
    <%= @title %>
    <small><%= "Project #{link_to @template.project.name, @template.project} ".html_safe if @template.project %></small>
  </h1>
</div>

<%= form_for(@template, html: { class: 'form-horizontal' }) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved</h4>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :project_id, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :project_id, options_for_select([['---', nil]] + current_user.all_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = 'f') ASC, name").collect{|p| [p.name, p.id]}, @template.project_id), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <label class="checkbox" for="template_avoid_weekends">
        <%= f.check_box :avoid_weekends %>
        Avoid Weekends
      </label>
      <div class="bs-callout bs-callout-info">
        <h4>What does avoiding weekends do?</h4>
        Set this if you prefer stickies to fall during a weekday.  Saturday gets pushed back to Friday and Sunday gets pushed forward to Monday.
      </div>
    </div>
  </div>

  <div id="items_container" data-object="sortable">
    <%= render partial: 'items' %>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <label class="control-label">
        <%= link_to 'Add Another Sticky', '#', id: 'add_more_items', class: 'btn btn-xs btn-default' %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
