<% width = '914px' %>
<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, style: "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :project_id %><br />
      <%= f.select :project_id, options_for_select([['---', nil]] + current_user.all_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = '0') ASC, name").collect{|p| [p.name, p.id]}, @template.project_id) %>
    </div>
    <div class="field">
      <%= f.label :avoid_weekends %> <span class="quiet">Set this if you prefer stickies to fall during a weekday.  Saturday gets pushed back to Friday and Sunday gets pushed forward to Monday.</span><br />
      <%= f.check_box :avoid_weekends %>
    </div>
    <div id="items_container">
      <%= render partial: 'items' %>
    </div>
    <%#= link_to 'Add More', add_item_templates_path, remote: true, method: :post %>
    <%= link_to 'Add More', '#', id: 'add_more_items' %>
  </fieldset>

  <div class="actions">
    <% form_name = @template.new_record? ? 'new_template' : "edit_template_#{@template.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@template.new_record? ? "Create Template" : "Update Template"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
		<br />
  </div>
<% end %>
