<%= render partial: 'layouts/per_page', locals: { type: 'templates', object_count: @count } %>

<table class="table table-striped table-bordered" style="width:100%"><col width="10%"/><col width="10%"/><col width="80%"/><col width="1%"/>
  <thead>
    <tr>
      <th><%== sort_field_helper(@order, 'templates.name', 'Name', 'templates_search') %></th>
      <th>Project</th>
      <th>Items</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @templates.each do |template| %>
    <tr>
      <td><%= link_to template.name, template %></td>
      <td><%= link_to template.project.name, template.project %></td>
      <td>
        <%= @template = template; render partial: 'compact_items' %>
      </td>
      <td>
        <% if current_user.all_templates.include?(template) %>
          <%= link_to "Edit", edit_template_path(template), class: 'btn btn-mini' %>
          <%= link_to 'Delete', template, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Template #{template.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @templates %></center>
