<% @title = 'Templates' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if @project %><small>Project <%= link_to @project.name, @project %></small><% end %>
    <%= link_to "Create Template", (@project ? new_template_path(template: {project_id: @project.id}) : new_template_path), class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag templates_path, method: :get, remote: true, id: "templates_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order, params[:order] %>
  <%= hidden_field_tag :project_id, params[:project_id] %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="templates"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
