<% @title = "Template: #{@template.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if @template.project %><small>Project <%= link_to @template.project.name, @template.project %></small><% end %>
    <% if current_user.all_templates.include?(@template) %>
      <%= link_to "Edit Template", edit_template_path(@template), class: 'btn btn-mini' %>
      <%= link_to "Delete Template", @template, confirm: "Are you sure you want to delete Template #{@template.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
      <%= link_to_function "Generate Stickies", "$('#dialog-form').modal();", class: 'btn btn-mini btn-primary', id: 'generate-stickies' %>
    <% end %>
    <%= link_to "View Templates", templates_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= link_to @template.user.name, @template.user if @template.user %></dd>

  <dt>Avoid Weekends</dt>
  <dd><%= check_box_tag 'template', 'avoid_weekends', @template.avoid_weekends?, disabled: true %></dd>
</dl>

<%= render partial: 'compact_items' %>

<div id="dialog-form" class="modal" style="display:none">
  <div class="modal-header">
    Select the Frame in which to Create <%= pluralize @template.items.size, 'Sticky' %>
  </div>
  <div class="modal-body">
  <%= form_tag groups_path(template_id: @template.id), method: :post, id: 'template_frame_form' do %>
    <div class="field"><%= label_tag :frame_id %><br />
    <%= select_tag :frame_id, options_for_select([['Backlog', nil]] + Frame.current.with_project(@template.project.id, current_user.id).order('frames.end_date desc').collect{|f| [f.project.name + ": " + f.name + ' - ' + f.short_time, f.id]} ) %>
    </div>
    <div class="field"><%= label_tag :initial_due_date %><br />
      <%= text_field_tag :initial_due_date, Date.today.strftime('%m/%d/%Y'), class: 'datepicker' %>
    </div>
    <div class="field"><%= label_tag :additional_text %><br />
      <%= text_area_tag :additional_text, '', rows: 7, style: "width:470px" %>
    </div>
  <% end %>
  </div>
  <div class="modal-footer">
    <%= link_to_function "Close", "$('#dialog-form').modal('hide');", class: 'btn' %>
    <%= link_to_function 'Generate Stickies', "$('#template_frame_form').submit();", class: 'btn btn-primary' %>
  </div>
</div>
