<% @title = "Template: #{@template.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if @template.project %><small>Project <%= link_to @template.project.name, @template.project %></small><% end %>
    <% if current_user.all_templates.include?(@template) %>
      <%= link_to "Edit Template", edit_template_path(@template), class: 'btn btn-mini' %>
      <%= link_to "Delete Template", @template, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Template #{@template.name}?" } %>
    <% end %>
    <%= link_to "View Templates", templates_path(project_id: @template.project_id), class: 'btn btn-mini' %>
    <%= link_to "Copy Template", copy_template_path(@template), class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= link_to @template.user.name, @template.user if @template.user %></dd>

  <dt>Avoid Weekends</dt>
  <dd><%= check_box_tag 'template', 'avoid_weekends', @template.avoid_weekends?, disabled: true %></dd>
</dl>

<%= render partial: 'compact_items' %>
