<% @title = "Template: #{@template.name}" %>
<h1><% if @template.project %><%= link_to @template.project.name, @template.project %> &raquo;<% end %><%= @title %></h1>

<% if current_user.all_templates.include?(@template) %>
  <%= link_to image_tag('gentleface/16/doc_edit.png', alt: '') + "Edit Template", edit_template_path(@template), class: 'btn' %>
  <%= link_to image_tag('gentleface/16/doc_delete.png', alt: '') + "Delete Template", @template, confirm: "Are you sure you want to delete Template #{@template.name}?", method: :delete, class: 'btn btn-danger' %>

  <%# if @template.project and @template.project.frames.size > 0 %>
    <%= link_to_function image_tag('gentleface/16/doc_new.png', alt: '') + "Generate Stickies", 'return false;', class: 'btn btn-primary', id: 'generate-stickies' %>
  <%# else %>
    <%#= link_to image_tag('gentleface/16/doc_new.png', alt: '') + "Generate Stickies", generate_stickies_template_path(@template), method: :post, class: 'btn btn-primary' %>
  <%# end %>
<% end %>
<%= link_to image_tag('gentleface/16/folder_open.png', alt: '') + "View All Templates", templates_path, class: 'btn' %>

<div style="clear:both"></div>
<% if false %>
<pre><%= @template.description %></pre>
<% end %>

<fieldset><br />
  <p>
    <b>User:</b>
    <%= link_to @template.user.name, @template.user if @template.user %>
  </p>

  <p>
    <b>Avoid Weekends:</b>
    <%= check_box_tag 'template', 'avoid_weekends', @template.avoid_weekends?, disabled: true %>
  </p>


</fieldset>

<p>
  <b>Items:</b>
  <div class="frame">
  <%= render partial: 'compact_items' %>
  </div>
  <%# @template.items.each do |item| %>
    <%#= @item = item; render partial: 'show_item' %>
  <%# end %>
</p>


<div id="dialog-form" title="Select the Frame in which to Create <%= pluralize @template.items.size, 'Sticky' %>:">
	<%= form_tag groups_path(template_id: @template.id), method: :post, id: 'template_frame_form' do %>
	  <div class="field"><%= label_tag :frame_id %><br />
	  <%= select_tag :frame_id, options_for_select([['Backlog', nil]] + Frame.current.with_project(@template.project.id, current_user.id).order('frames.end_date desc').collect{|f| [f.project.name + ": " + f.name + ' - ' + f.short_time, f.id]} ) %>
	  </div>
	  <div class="field"><%= label_tag :initial_due_date %><br />
	    <%= text_field_tag :initial_due_date, Date.today.strftime('%m/%d/%Y'), class: 'datepicker' %>
	  </div>
	  <div class="field"><%= label_tag :additional_text %><br />
	    <%= text_area_tag :additional_text, '', rows: 7, style: "width:470px" %>
	  </div>
  <% end %>
</div>
