<!-- authentications/index.html.erb -->
<%# title "Sign In" %>

<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>You can sign in to this account using:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "authbuttons/#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <p><strong>Add another service to sign in with:</strong></p>
<% else %>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>

<% if false %>
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "authbuttons/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<% end %>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "authbuttons/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<a href="/auth/google_apps?domain=gmail.com" class="auth_provider">
  <%= image_tag "authbuttons/google_apps_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "authbuttons/openid_64.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a>
<a href="/auth/ldap" class="auth_provider">
  <%#= image_tag "authbuttons/openid_64.png", :size => "64x64", :alt => "OpenID" %>
  LDAP
</a>
<a href="/auth/cas" class="auth_provider">
  <%#= image_tag "authbuttons/openid_64.png", :size => "64x64", :alt => "OpenID" %>
  CAS
</a>
<div class="clear"></div>

