<% boards = Board.current.where(project_id: (@group ? @group.project_id : nil)) %>

<%= label_tag :group_board_id, 'Board', class: 'col-md-2 control-label' %>
<div class="col-md-10">
  <% if @project_id %>
    <% board_groups = [] %>
    <% board_groups << ["Current", boards.where(archived: false).natural_sort] if boards.where(archived: false).size > 0 %>
    <% board_groups << ["Archived", boards.where(archived: true).natural_sort] if boards.where(archived: true).size > 0 %>
    <div id="board_id_container">
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <%= select :group, :board_id, options_for_select([['Holding Pen', nil]]) + grouped_options_for_select(board_groups, @group.board_id), {}, class: 'form-control' %>
        </div>
        <div class="col-xs-4 col-md-2">
          <%= link_to '+', '#', data: { object: 'create-new-board' }, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <div id="board_name_container" style="display:none">
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <%= hidden_field_tag "create_new_board", 0 %>
          <%= text_field_tag "group_board_name", '', placeholder: 'Enter new board name', autocomplete: "off", data: { object: 'typeahead', local: boards.collect{|b| b.name}.uniq.to_json }, class: 'form-control' %>
        </div>
        <div class="col-xs-4 col-md-2">
          <%= link_to 'cancel', '#', data: { object: 'show-existing-boards' }, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  <% else %>
    <%= hidden_field :group, :board_id %>
  <% end %>
</div>
