= form_for(@group, html: { class: 'form-horizontal' }) do |f|
  - if @group.errors.any?
    .callout.callout-danger
      %strong
        = pluralize @group.errors.count, 'error'
        prohibited this group from being saved

      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :description, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = cancel
