<%= render partial: 'layouts/per_page', locals: { type: 'groups' } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.id', 'Name', 'groups_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.template_id', 'Template', 'groups_search') %></th>
      <th>Description</th>
      <th>Stickies</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.project_id', 'Project', 'groups_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.user_id', 'Creator', 'groups_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group %></td>
      <td><%= group.template.name if group.template %></td>
      <td><%= group.description %></td>
      <td><%= group.stickies.size %></td>
      <td><%= link_to group.project.name, group.project %></td>
      <td><%= link_to group.user.name, group.user %></td>
      <td style="vertical-align:middle">
        <% if current_user.all_groups.include?(group) %>
          <%= link_to 'Delete', group, confirm: "Are you sure you want to delete Group #{group.name} and the associated #{pluralize group.stickies.size, 'Sticky'}?", method: :delete, class: 'btn btn-mini btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @groups %></center>
