<% @project = current_user.all_viewable_projects.find_by_id(params[:project_id]) %>
<% @template = @project.templates.find_by_id(params[:template_id]) if @project %>

<div class="row">
  <div class="col-md-3" style="margin-bottom:20px">
    <span style="font-weight:200;font-size:20px;"><%= @template ? @template.name : 'No Template Selected' %> <%= link_to 'Edit Template', edit_template_path(@template), class: 'btn btn-xs btn-default' if @template %></span>

    <span class="label label-highlight"><%= params[:search] %></span>
    <%= link_to 'clear'.html_safe, '#', rel: 'tooltip', title: 'Clear Filters', data: { object: 'clear-tags' }, class: 'btn btn-xs btn-default' unless params[:tag_ids].blank? and params[:search].blank? %>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-heading" data-object="suppress-click">
        <span class="badge"><%= @groups.total_count %></span>
        Groups
      </a>
      <% @groups.each do |group| %>
        <%= render partial: 'groups/menu', locals: { group: group } %>
      <% end %>
    </div>
    <div class="center"><%= paginate @groups, theme: "contour-small" %></div>
  </div>

  <div class="col-md-9" id="group_container" style="margin-bottom:20px"></div>
</div>
