<div style="float:right">
  Per Page
  <% [10,25,50].each do |count| %>
    <span class="per_page">
      <% if current_user.groups_per_page != count %>
        <%= link_to count, "#", 'data-count' => count, 'data-object' => 'groups', id: "count_#{count}" %>
      <% else %>
        <span class="selected"><%= count %></span>
      <% end %>
    </span>
  <% end %>
</div>

<div style="clear:both"></div>

<div class="frame">
  <table style="width:100%">
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.id', 'Name', 'groups_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.template_id', 'Template', 'groups_search') %></th>
      <th>Description</th>
      <th>Stickies</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.project_id', 'Project', 'groups_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.user_id', 'Creator', 'groups_search') %></th>
      <th></th>
    </tr>

    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.template.name if group.template %></td>
        <td><%= group.description %></td>
        <td><%= group.stickies.size %></td>
        <td><%= link_to group.project.name, group.project %></td>
        <td><%= link_to group.user.name, group.user %></td>
        <td style="vertical-align:middle">
          <% if current_user.all_groups.include?(group) %>
            <%= link_to image_tag('gentleface/16/doc_delete.png', alt: ''), group, confirm: "Are you sure you want to delete Group #{group.name} and the associated #{pluralize group.stickies.size, 'Sticky'}?", method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<center><%= paginate @groups %></center>
