<%= render partial: 'layouts/per_page', locals: { type: 'groups', object_count: @groups.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.id', 'Name', 'groups_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.template_id', 'Template', 'groups_search') %></th>
      <th>Description</th>
      <th>Tasks</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.project_id', 'Project', 'groups_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'groups.user_id', 'Creator', 'groups_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group %></td>
      <td><%= group.template.name if group.template %></td>
      <td><%= group.description %></td>
      <td><%= group.stickies.size %></td>
      <td><%= link_to group.project.name, group.project %></td>
      <td><%= link_to group.user.name, group.user %></td>
      <td style="vertical-align:middle">
        <% if current_user.all_groups.include?(group) %>
          <%= link_to "Edit", edit_group_path(group), class: 'btn btn-xs btn-default' %>
          <%= link_to 'Delete', group, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Group #{group.name} and the associated #{pluralize group.stickies.size, 'Task'}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @groups, theme: "contour" %></div>
