- @title = @group.new_record? ? 'New Group' : "Edit Group #{@group.name}"
.modal-header
  %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: 'true' } } &times;
  %h4.modal-title
    = link_to 'Projects', new_group_path( due_date: @group.initial_due_date ? @group.initial_due_date.strftime('%m/%d/%Y') : '' ), method: :get, remote: true
    &middot;
    - if @group.project
      = link_to @group.project.name, @group.project, target: '_blank'
      &middot;
      - @project_id = @group.project.id
    = @title
    - if @group.new_record?
      or
      = link_to 'Create Task', new_sticky_path(sticky: { project_id: @group.project_id, due_date: @group.initial_due_date ? @group.initial_due_date.strftime('%m/%d/%Y') : '' }), method: :get, remote: true, class: 'btn btn-xs btn-default'

.modal-body
  = form_for(@group, remote: true, html: { class: 'form-horizontal', style: 'margin: 0px' }) do |f|
    = f.hidden_field :project_id
    = render 'groups/inner_form', f: f

  #item_details
    = @template = @group.template; render 'templates/compact_items' if @group.template

.modal-footer
  = link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' }
  = submit_tag 'Create Group', class: 'btn btn-primary', data: { object: 'sticky-submit', target: '#new_group' }
