%span{ style: 'font-weight:200;font-size:20px;' }
  = @group.short_description
  = link_to 'Show Group', @group, class: 'btn btn-xs btn-default', target: '_blank'
  - if current_user.all_groups.include?(@group)
    = link_to 'Edit Group', edit_group_path(@group), class: 'btn btn-xs btn-default'
    = link_to 'Delete Group', @group, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Group #{@group.name} and the associated #{pluralize @group.stickies.size, 'Task'}?" }

= simple_format @group.short_description_second_half

.clearfix &nbsp;
= render 'stickies/list', stickies: @group.stickies
= render 'stickies/modal'
