<% if params[:from_calendar] == '1' %>
  $('#group_template_id').val('');
  $('#group_template_id').change();
  $('.error').removeClass('error');

  <% @group.stickies.each do |sticky| %>
    <% @sticky = sticky %>

    <%# TODO Refactor: Copied from stickies/create.js.erb %>
    old_element = $("#sticky_<%= @sticky.id %>_popup")
    if(old_element.parent().children(".sticky_popup").size() == 1){
      old_element.parent().remove();
    }else{
      old_element.remove();
    }

    <% unless @sticky.due_date.blank? %>
      var tag_container = $("#day_<%= @sticky.due_date.strftime('%Y%m%d') %>_tag_container_<%= @sticky.tag_ids.sort.join('_') %>");

      if(tag_container.length > 0){
        $(tag_container).append("<%= escape_javascript(render partial: 'stickies/popup', locals: { sticky: sticky } ) %>")
      }else{
        $("#day_<%= @sticky.due_date.strftime('%Y%m%d') %>").append("<div style='padding-bottom:5px' id='day_<%= @sticky.due_date.strftime('%Y%m%d') %>_tag_container_<%= @sticky.tag_ids.sort.join('_') %>'><%= @tags = @sticky.tags; escape_javascript(render("tags/small_tags")) %><%= escape_javascript(render partial: 'stickies/popup', locals: { sticky: sticky } ) %></div>")
      }

      $("#sticky_<%= @sticky.id %>_popup").effect("highlight", {}, 3000);
    <% end %>
    $(".project_<%= @sticky.project.id %>_color").css('color', '<%= @sticky.project.color(current_user) %>');
    <%# END TODO %>
  <% end %>

  activateCalendarStickyPopups();

  <%# Launch a refresh of the sticky search %>
  $("#stickies_search").submit();
<% else %>

  <% params[:board_id] = @group.board_id || '0' %>
  <% @project = @group.project %>

  $("#unarchived_boards_container").html("<%= escape_javascript(render partial: "boards/full_menu", locals: { archived: false, boards_visible: true }) %>")
  $("#archived_boards_container").html("<%= escape_javascript(render partial: "boards/full_menu", locals: { archived: true, boards_visible: false }) %>")

  setBoardNames();
  activateBoardDraggables();
  activateBoardArchiveDroppable();
  activateBoardDroppables();

  $("#search").val("<%= @group.short_description('') %>");
  $("#project_search").val("<%= @group.short_description('') %>");
  $("#group_search").val("<%= @group.short_description('') %>");
  $('[data-object~="template-select"][data-template-id~=<%= @group.template_id %>]').click();
<% end %>

hideStickyModal();
