<% @title = 'Groups' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_tag groups_path, method: :get, remote: true, id: "groups_search", style: "margin-bottom:-5px", class: 'form-search' do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="groups"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#groups_search").attr("action"), $("#groups_search").serialize(), null, "script");
  });
<% end %>
