<% @title = "Group #{@group.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <small>Project <%= link_to @group.project.name, @group.project %></small>
    <% if current_user.all_groups.include?(@group) %>
      <%= link_to "Edit Group", edit_group_path(@group), class: 'btn btn-mini' %>
      <%= link_to "Delete Group", @group, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Group #{@group.name} and the associated #{pluralize @group.stickies.size, 'Sticky'}?" } %>
    <% end %>
    <%= link_to "View Groups", groups_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= link_to @group.user.name, @group.user %></dd>

  <dt>Generated From Template</dt>
  <dd><%= link_to @group.template.name, @group.template if @group.template %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @group.description %></dd>
</dl>

<div id="stickies">
  <%= @stickies = @group.stickies; render partial: 'stickies/simple_stickies' %>
</div>
