<% @title = @group.name %>
<div class="page-header">
  <h1>
    <%= link_to @group.project.name, @group.project %> &middot;
    <%= link_to 'Groups', groups_path( project_id: @group.project_id ) %> &middot;
    <%= @title %>
  </h1>
  <% if current_user.all_groups.include?(@group) %>
    <%= link_to "Edit Group", edit_group_path(@group), class: 'btn btn-xs btn-default' %>
    <%= link_to "Delete Group", @group, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Group #{@group.name} and the associated #{pluralize @group.stickies.size, 'Sticky'}?" } %>
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= link_to @group.user.name, @group.user %></dd>

  <dt>Generated From Template</dt>
  <dd><%= link_to @group.template.name, @group.template if @group.template %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @group.description %></dd>
</dl>

<div id="stickies">
  <%= @stickies = @group.stickies; render partial: 'stickies/simple_stickies' %>
</div>
