<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :status %><br />
      <%= f.select :status, User::STATUS %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :system_admin %><br />
      <%= f.check_box :system_admin %>
    </div>
  </fieldset>
  <div class="actions">
    <% form_name = @user.new_record? ? 'new_user' : "edit_user_#{@user.id}" %>
    <%= link_to_function image_tag('contour/tick.png', alt: '') + (@user.new_record? ? "Create User" : "Update User"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
		<br />
  </div>
<% end %>
