<table class="table table-striped table-condensed"><col width="60%" /><col width="20%" /><col width="20%" />
  <thead>
    <tr>
      <th><%= current_user.name %>'s Projects</th>
      <th>Editor</th>
      <th>Viewer</th>
    </tr>
  </thead>
  <% current_user.all_viewable_projects.order(:name).each do |project| %>
    <tr>
      <td>
        <%= link_to project.name, project %>
      </td>
      <% if project.modifiable_by?(current_user) %>
        <% if project_user = project.project_users.find_by_user_id(user.id) %>
          <% unless project_user.allow_editing? %><td></td><% end %>
          <td>
            <%= link_to "Remove #{ project_user.allow_editing? ? 'Editor' : 'Viewer' }", project_user, method: :delete, remote: true, class: 'btn btn-mini btn-danger-inverse' %>
          </td>
          <% if project_user.allow_editing? %><td></td><% end %>
        <% else %>
          <td><%= link_to 'Add As Editor', project_users_path( project_user: { project_id: project.id, allow_editing: true }, editors_text: "[#{user.email}]" ), method: :post, remote: true, class: 'btn btn-mini btn-success' %></td>
          <td><%= link_to 'Add As Viewer', project_users_path( project_user: { project_id: project.id, allow_editing: false }, viewers_text: "[#{user.email}]" ), method: :post, remote: true, class: 'btn btn-mini btn-success' %></td>
        <% end %>
      <% else %>
        <td colspan="2" class="muted">You are a viewer on this project</td>
      <% end %>
    </tr>
  <% end %>
</table>
