<% @defaults = { chart_type: @chart_type, width: 320, height: 240, units: '', title: '', min: @values.values.flatten.min.to_i, max: @values.values.flatten.max.to_i, legend: 'right' } %>
<% @defaults.merge!(@chart_params) %>

<div><div id="<%= @chart_element_id %>" style="width: <%= @defaults[:width] %>px;height: <%= @defaults[:height] %>px"></div></div>

<%= javascript_tag do %>
addLoadEvent(function() {
  <% if @chart_type == 'pie' %>
    <%= "drawHighChartPieChart('#{@chart_element_id}', #{@values.to_json}, #{@defaults.to_json});".html_safe %>
  <% else %>
    <%= "drawHighChartHistogramChart('#{@chart_element_id}', #{@values.to_json}, #{@defaults.to_json}, #{@categories.to_json});".html_safe %>
  <% end %>
});
<% end %>
