<% boards = Board.current.with_project(@project_id, current_user.id) %>
<%= label :sticky, :board_id, class: 'control-label' %>
<div class="controls">
  <% if @project_id %>
    <% board_groups = [] %>
    <% board_groups << ["Current", boards.where(archived: false).natural_sort] if boards.where(archived: false).size > 0 %>
    <% board_groups << ["Archived", boards.where(archived: true).natural_sort] if boards.where(archived: true).size > 0 %>
    <div id="sticky_board_id_container">
      <%= select :sticky, :board_id, options_for_select([['Holding Pen', nil]]) + grouped_options_for_select(board_groups, @sticky.board_id) %>
      <%= link_to '+', '#', data: { object: 'create-new-board' }, class: 'btn btn-mini' %>
    </div>
    <div id="sticky_board_name_container" style="display:none">
      <%= hidden_field_tag "create_new_board", 0 %>
      <%= text_field_tag "sticky_board_name", '', placeholder: 'Enter new board name', autocomplete: "off", data: { provide: 'typeahead', source: boards.collect{|b| b.name}.to_json } %>
      <%= link_to 'cancel', '#', data: { object: 'show-existing-boards' }, class: 'btn btn-mini' %>
    </div>
  <% else %>
    <%= hidden_field :sticky, :board_id %>
  <% end %>
</div>
