= form_for(@project, html: { class: 'form-horizontal' }) do |f|
  - if @project.errors.any?
    .callout.callout-danger
      %h4
        = pluralize @project.errors.count, 'error'
        prohibited this project from being saved

      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :description, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = cancel
