<% width = '914px' %>
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, :style => "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :rows => 7, :style => "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :status %><br />
      <%= f.select :status, Project::STATUS %>
    </div>
    <div class="field">
      <%= f.label :start_date %><br />
      <%= f.date_select :start_date %>
    </div>
    <div class="field">
      <%= f.label :end_date %><br />
      <%= f.date_select :end_date %>
    </div>
  </fieldset>
  
  <div class="actions">
    <button class="positive">
      <%= image_tag('icons/tick.png', :alt => '') %>
      <%= @project.new_record? ? "Create Project" : "Update Project" %>
    </button>
    <%= cancel %>
		<br />
  </div>
<% end %>
