<table style="width:100%">
  <tr>
    <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.name', 'Name') %></th>
    <th>User</th>
    <th title="Updated since last login">Recent Stickies</th>
    <th>Editors/Viewers</th>
    <th>Status</th>
    <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.updated_at', 'Last Update') %></th>
  </tr>

<% @projects.each do |project| %>
  <% @project = project %>
  <tr class="<%= 'recently_updated' if current_user.last_sign_in_at < project.updated_at %>">
    <td>
      <span id="project_<%= @project.id %>_favorite_link"><%= render :partial => 'projects/favorite' %></span>
      <%= link_to @project.name, @project %>
    </td>
    <td><%= link_to @project.user.name, @project.user %></td>
    <td><%= @project.stickies.updated_since(current_user.last_sign_in_at).size %></td>
    <td>
      <% if @project.editors.size > 0 %><%= @project.editors.collect{|user| link_to user.name, user}.join("<br />").html_safe %><br /><% end %>
      <%= @project.viewers.collect{|user| link_to user.name, user}.join("<br />").html_safe %>
    </td>
    <td style="vertical-align:middle"><%= display_status(@project.status) %></td>
    <td><%= recent_activity(@project.updated_at) %></td>
  </tr>
  <% comment = @project.all_comments(1).first %>
  <% if comment %>
  <tr class="<%= 'recently_updated' if current_user.last_sign_in_at < project.updated_at %>">
    <td></td>
    <td colspan="4" style="overflow:hidden;white-space:nowrap">
      <%= link_to comment.user.name, comment.user %> -
      <%= truncate(comment.description, :length => 100, :separator => ' ', :omission => " ...").html_safe %> <%= link_to 'continued', comment %>
    </td>
    <td>
      <% if comment.created_at.to_date == Date.today %>
        <%= comment.created_at.strftime("at %I:%M %p") %>
      <% else %>
        <%= comment.created_at.strftime("on %b %d, %Y at %I:%M %p") %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <% if false %>
  <tr>
    <td></td>
    <td colspan="6">
      <% sticky = @project.stickies.status(['planned', 'ongoing']).limit(1).first %>
      <%= sticky.description if sticky %>
    </td>
    <td>
      <% if sticky %>
      <% if sticky.created_at.to_date == Date.today %>
        <%= sticky.created_at.strftime("at %I:%M %p") %>
      <% else %>
        <%= sticky.created_at.strftime("on %b %d, %Y at %I:%M %p") %>
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
<% end %>
</table>