<% @title = @project.new_record? ? "New Project" : "Edit Project #{@project.name}" %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    <%= link_to 'Projects', new_sticky_path( due_date: params[:due_date] ), method: :get, remote: true %> &middot;
    <%= @title %>
  </h4>
</div>
<div class="modal-body">

  <%= form_for(@project, remote: true, html: { class: 'form-horizontal' }) do |f| %>

    <%= hidden_field_tag :due_date, params[:due_date] %>

    <div class="form-group">
      <%= f.label :name, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.text_area :description, rows: 7, class: 'form-control' %>
      </div>
    </div>
  <% end %>

</div>
<div class="modal-footer">
  <%= link_to 'Cancel', new_sticky_path( due_date: params[:due_date] ), method: :get, remote: true, class: 'btn btn-default' %>

  <%= submit_tag 'Create Project', class: 'btn btn-primary', data: { object: 'sticky-submit', target: @project.new_record? ? "#new_project" : "#edit_project_#{@project.id}" } %>
</div>
