<%= render partial: 'layouts/per_page', locals: { per_page: 40, object_count: @projects.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Color</th>
      <%== th_sort_field @order, 'projects.name', 'Name', extra_class: 'nowrap' %>
      <th>Creator</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @projects.each do |project| %>
    <tr>
      <% @project = project %>
      <td>
        <% form_name = "project_#{@project.id}_colorpicker_form" %>
        <%= form_tag colorpicker_project_path(@project), remote: true, method: :post, style: 'display:inline', id: form_name do %>
          <%= hidden_field_tag :color, @project.color(current_user), id: "project_#{@project.id}_hexcolor" %>
          <div class="custom_widget">
            <div class="colorselector" data-object="color-selector" data-target="#project_<%= @project.id %>_hexcolor" data-color="<%= @project.color(current_user) %>" data-form="#project_<%= @project.id %>_colorpicker_form" style="background-image: none">
              <div id="project_<%= @project.id %>_hexcolor_display" style="background-color: <%= @project.color(current_user) %>;top:0px;left:0px"></div>
            </div>
          </div>
        <% end %>
      </td>
      <td>
        <%= link_to project.name, project, style: "color: #{@project.color(current_user)}", class: "project_#{@project.id}_color" %>
      </td>
      <td>
        <%= link_to project.user.name, project.user %>
      </td>
      <td class="nowrap">
        <% if @project.modifiable_by?(current_user) %>
          <%= link_to "Edit", edit_project_path(@project), class: 'btn btn-xs btn-default' %>
          <%= link_to "Delete", @project, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Project #{@project.name}? Deleting this project will delete the project, along with all the associated tasks, boards, and comments!" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @projects, theme: 'bootstrap' %></div>
