<div style="float:right;margin-bottom:-5px">

</div>

<div style="clear:both"></div>

<table class="blank padded" style="width:100%;table-layout:fixed">
  <tr>
    <td>
      <%== sort_field_helper(@order, 'projects.name', 'Name', 'projects_search') %>
    </td>
    <td style="text-align:center">
      <%== sort_field_helper(@order, 'projects.updated_at', 'Last Update', 'projects_search') %>
    </td>
    <td style="text-align:right">
      Per Page 
      <% [6, 9, 12, 18].each do |count| %>
        <span class="per_page">
          <% if current_user.projects_per_page != count %>
            <%= link_to count, "#", 'data-count' => count, 'data-object' => 'projects', :id => "count_#{count}" %>
          <% else %>
            <%= count %>
          <% end %>
        </span>
      <% end %>
    </td>
  </tr>
</table>
<br />
<table class="blank padded" style="width:100%;table-layout:fixed;margin-bottom:20px;">
<% @projects.in_groups_of(3) do |row_projects| %>
  <tr>
    <% for project in row_projects %>
      <% if project %>
        <% @project = project %>
        <td style="border: 1px solid #eee" id="project_<%= project.id %>_collaborators">
          <span id="project_<%= @project.id %>_favorite_link"><%= render :partial => 'projects/favorite' %></span>
          <div style="float:right;text-align:right;font-size: 0.8em"><%= recent_activity(@project.updated_at) %></div>
          <div style="clear:both"></div>
          <div style="text-align:center;font-size:1.2em">
            <%= link_to project.name, project %>
          </div>
          <div style="text-align:center;font-size:0.8em;min-height:10px">
            <%== pluralize(@project.stickies.due_today.size, 'Sticky') + " Due Today<br />" if @project.stickies.due_today.size > 0 %>
            <%== pluralize(@project.stickies.past_due.size, 'Sticky') + " Past Due<br />" if @project.stickies.past_due.size > 0 %>
            <%== pluralize(@project.stickies.due_this_week.size, 'Sticky') + " Due This Week" if @project.stickies.due_this_week.size > 0 %>
          </div>
          <%= javascript_tag do %>
            $('#project_<%= @project.id %>_collaborators')
              .qtip({
                content:{
                  text: '<%== escape_javascript(("<strong>Owner:</strong><ul><li>" + link_to(@project.user.name, @project.user) + "</li></ul><strong>Editors:</strong><ul>" + @project.editors.collect{|u| "<li>#{link_to u.name, u}</li>"}.join + "</ul><strong>Viewers:</strong><ul>" + @project.viewers.collect{|u| "<li>#{link_to u.name, u}</li>"}.join + "</ul>").html_safe) %>',
                  title:{
                    text: 'Collaborators:',
                    button: true
                  }
                },
                show:{
                  solo: true,
                  event: 'mouseover'
                },
                hide: {
                  event: 'unfocus'
                },
                position:{
                  my: 'left center',
                  at: 'right center',
                  viewport: $(window)
                },
                style:{
                  classes: 'ui-tooltip-shadow ui-tooltip-green'
                }
              });
          <% end %>
        </td>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
<br />
<br />
<% if false %>
<table style="width:100%">
  <tr>
    <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.name', 'Name', 'projects_search') %></th>
    <th>User</th>
    <th title="Updated since last login">Recent Stickies</th>
    <th>Editors/Viewers</th>
    <th>Status</th>
    <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.updated_at', 'Last Update', 'projects_search') %></th>
  </tr>

<% @projects.each do |project| %>
  <% @project = project %>
  <tr class="<%= 'recently_updated' if current_user.last_sign_in_at < project.updated_at %>">
    <td>
      <span id="project_<%= @project.id %>_favorite_link"><%= render :partial => 'projects/favorite' %></span>
      <%= link_to @project.name, @project %>
    </td>
    <td><%= link_to @project.user.name, @project.user %></td>
    <td><%= @project.stickies.updated_since(current_user.last_sign_in_at).size %></td>
    <td>
      <% if @project.editors.size > 0 %><%= @project.editors.collect{|user| link_to user.name, user}.join("<br />").html_safe %><br /><% end %>
      <%= @project.viewers.collect{|user| link_to user.name, user}.join("<br />").html_safe %>
    </td>
    <td style="vertical-align:middle"><%= display_status(@project.status) %></td>
    <td><%= recent_activity(@project.updated_at) %></td>
  </tr>
  <% comment = @project.all_comments(1).first %>
  <% if comment %>
  <tr class="<%= 'recently_updated' if current_user.last_sign_in_at < project.updated_at %>">
    <td></td>
    <td colspan="4" style="overflow:hidden;white-space:nowrap">
      <%= link_to comment.user.name, comment.user %> -
      <%= truncate(comment.description, :length => 100, :separator => ' ', :omission => " ...").html_safe %> <%= link_to 'continued', comment %>
    </td>
    <td>
      <% if comment.created_at.to_date == Date.today %>
        <%= comment.created_at.strftime("at %I:%M %p") %>
      <% else %>
        <%= comment.created_at.strftime("on %b %d, %Y at %I:%M %p") %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <% if false %>
  <tr>
    <td></td>
    <td colspan="6">
      <% sticky = @project.stickies.status(['planned', 'ongoing']).limit(1).first %>
      <%= sticky.description if sticky %>
    </td>
    <td>
      <% if sticky %>
      <% if sticky.created_at.to_date == Date.today %>
        <%= sticky.created_at.strftime("at %I:%M %p") %>
      <% else %>
        <%= sticky.created_at.strftime("on %b %d, %Y at %I:%M %p") %>
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
<% end %>
</table>
<% end %>
<center><%= paginate @projects %></center>