<div style="float:right;text-align:right">
  Per Page
  <% [6, 9, 12, 18].each do |count| %>
    <span class="per_page">
      <% if current_user.projects_per_page != count %>
        <%= link_to count, "#", 'data-count' => count, 'data-object' => 'projects', id: "count_#{count}" %>
      <% else %>
        <span class="selected"><%= count %></span>
      <% end %>
    </span>
  <% end %>
</div>

<table class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.name', 'Name', 'projects_search') %></th>
    </tr>
  </thead>

  <% @projects.each do |project| %>
    <tr>
      <% @project = project %>
      <td style="border: 1px solid #eee" id="project_<%= project.id %>_collaborators">

        <% form_name = "project_#{@project.id}_visible" %>
        <%= form_tag visible_project_path(@project), remote: true, method: :post, style: 'display:inline', id: form_name do %>
          <%= check_box_tag :visible, '1', !current_user.hidden_project_ids.include?(@project.id), onclick: "$('##{form_name}').submit();" %>
        <% end %>
        <%= link_to project.name, project, style: "color: #{@project.color(current_user)}", class: "project_#{@project.id}_color" %>
        <% form_name = "project_#{@project.id}_colorpicker_form" %>
        <%= form_tag colorpicker_project_path(@project), remote: true, method: :post, style: 'display:inline', id: form_name do %>
          <%= hidden_field_tag :color, '', id: "project_#{@project.id}_hexcolor" %>
          <div class="custom_widget">
            <div id="project_<%= @project.id %>_colorselector" class="colorselector">
              <div style="background-color: <%= @project.color(current_user) %>"></div>
            </div>
          </div>
        <% end %>
        <%= javascript_tag do %>
          $('#project_<%= @project.id %>_colorselector')
            .ColorPicker({
              color: '<%= @project.color(current_user) %>',
              onShow: function (colpkr) {
              	$(colpkr).fadeIn(500);
              	return false;
              },
            	onHide: function (colpkr) {
              	$(colpkr).fadeOut(500);
              	$('#project_<%= @project.id %>_colorpicker_form').submit();
              	return false;
              },
            	onChange: function (hsb, hex, rgb) {
            	  $('#project_<%= @project.id %>_hexcolor').val('#' + hex);
            		$('#project_<%= @project.id %>_colorselector div').css('backgroundColor', '#' + hex);
            		$('.project_<%= @project.id %>_color').css('color', '#' + hex);
            	},
            	onSubmit: function(hsb, hex, rgb, el) {
              	$(el).ColorPickerHide();
              },
            });
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @projects %></center>
