<div class="modal" id="reassign-dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reassign Tasks</h4>
      </div>
      <div class="modal-body">
        <%= form_tag reassign_project_path(@project), method: :post, remote: true, class: 'form-horizontal', id: 'reassign_form' do %>
          <% owners = User.current.with_project(@project.id, true).order('last_name, first_name') %>

          <div class="form-group">
            <%= label_tag :from_user_id, 'Currently Assigned To', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= select_tag :from_user_id, options_for_select([['--Unassigned--', nil]] + owners.collect{|u| [u.reverse_name, u.id]}, params[:from_user_id]), class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :to_user_id, 'Reassign To', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= select_tag :to_user_id, options_for_select([['--Unassigned--', nil]] + owners.collect{|u| [u.reverse_name, u.id]}, params[:to_user_id]), class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :sticky_status, 'Task status', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= select_tag :sticky_status, options_for_select([['Only Not Completed', 'not_completed'], ['Only Completed', 'completed'], ['All', 'all']], params[:sticky_status]), class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :tag_id, 'Only containing', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= select_tag :tag_id, options_for_select([['----', nil]] + @project.tags.collect{|t| [t.name, t.id]}, params[:tag_id]), class: 'form-control' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="modal-footer">
        <%= link_to 'Reassign Tasks', '#', class: 'btn btn-danger-inverse', data: { target: "#reassign_form", object: 'submit', confirm: 'Are you sure you would like to reassign these tasks? This action CANNOT be reversed.' } %>
        <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { target: "#reassign-dialog", object: 'modal-hide' } %>
      </div>
    </div>
  </div>
</div>
