<% if @project_id and project = Project.find_by_id(@project_id) and project.tags.size > 0 %>
  <div class="control-group">
    <%= label :sticky, :tag_ids, 'Tags', class: 'col-md-2 control-label' %>
    <div class="controls">
      <table style="width:100%;table-layout:fixed;">
      <% project.tags.in_groups_of(4).each do |row_tags| %>
        <tr>
          <% row_tags.each do |tag| %>
            <td style="white-space:nowrap;overflow:hidden;">
              <% if tag %><label class="checkbox tag-checkbox <%= 'tag-selected' if @sticky.tags.include?(tag) %>" style="margin-bottom: 0px;background-color: <%= tag.color %>"><%= check_box_tag "sticky[tag_ids][]", tag.id, @sticky.tags.include?(tag) %> <span class="tag-name"><%= tag.name %></span></label><% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
<% end %>
