<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Description</th>
    <th>Status</th>
    <th>Time Period</th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= link_to project.user.name, project.user %></td>
    <td><%= project.description %></td>
    <td><%= project.status %></td>
    <td style="text-align:center"><%= project.start_date %><br />to<br /><%= project.end_date %></td>
    <td style="vertical-align:middle">
      <% if current_user.all_projects.include?(project) %>
        <%= link_to image_tag('icons/delete.png', :alt => ''), project, :confirm => "Are you sure you want to delete Project #{project.name}?", :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
