<% @title = 'Projects' %>
<h1><%= @title %></h1>

<%= link_to image_tag('gentleface/16/doc_new.png', alt: '') + "Create New Project", new_project_path, class: 'button positive' %>

<%= form_tag projects_path, method: :get, remote: true, id: 'projects_search' do %>
  <%= hidden_field_tag :order %>
  Search <%= text_field_tag 'search', params[:search] %> <%= information %>
  <div id="projects"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>
<% end %>

<%= javascript_tag do %>
  $(function(){
    $.get($("#projects_search").attr("action"), $("#projects_search").serialize(), null, "script");
  });
<% end %>
