<% @title = "Project: #{@project.name}" %>
<h1>
  <table class="status-table">
    <tr>
      <td id="project_<%= @project.id %>_favorite_link">
        <%= render :partial => 'projects/favorite' %>
      </td>
      <td><%= @project.name %> &raquo;</td>
      <td style="vertical-align:top;padding:0 0 0 3px"><%= display_status(@project.status) %></td>
    </tr>
  </table>
</h1>

<% if current_user.all_projects.include?(@project) %>
  <%= link_to image_tag('contour/edit.png', :alt => '') + "Edit Project", edit_project_path(@project), :class => 'button' %>
  <%= link_to image_tag('contour/delete.png', :alt => '') + "Delete Project", @project, :confirm => "Are you sure you want to delete Project #{@project.name}? Deleting this project will delete the project, along with all the associated stickies, frames, and comments!", :method => :delete, :class => 'button negative' %>
<% end %>
<%= link_to image_tag('contour/mydocuments.png', :alt => '') + "View All Projects", projects_path, :class => 'button' %>
<% if current_user.all_projects.include?(@project) %>
  <%= link_to image_tag('contour/addfile.png', :alt => '') + "Create New Sticky", new_sticky_path(:sticky => {:project_id => @project.id}), :class => 'button positive' %>
  <%= link_to image_tag('contour/addfile.png', :alt => '') + "Create New Frame", new_frame_path(:frame => {:project_id => @project.id}), :class => 'button positive' %>
  <%= link_to image_tag('contour/addfile.png', :alt => '') + "Create New Template", new_template_path(:template => {:project_id => @project.id}), :class => 'button positive' %>
<% end %>

<div style="clear:both"></div>

<pre><%= @project.description %></pre>
<br />

<p>
  <b>Owner:</b>
  <%= link_to @project.user.name, @project.user %>
</p>

<% if false %>
<p>
  <b>Status:</b>
  <%= @project.status %>
</p>
<% end %>

<p>
  <b>Time Period:</b>
  <%= @project.start_date %> to <%= @project.end_date %>
</p>

<% ['editors', 'viewers'].each do |relation, allow_editing| %>
  <% @relation = relation; @allow_editing = allow_editing %>
  <% @users = User.current.order('last_name, first_name') %>
  <p>
    <div id="<%= @relation %>_list"><%= render :partial => 'project_users/index' %></div>
  </p>
<% end %>

<h2>Stickies</h2>

<div style="float:left">
  <%= form_tag search_stickies_path, :method => :get, :remote => true, :id => "stickies_search", :style => 'margin-bottom:0px' do %>
    <%= hidden_field_tag :order, params[:order] %>
    <%= hidden_field_tag :direction, 0 %>
    <% if false %>  Search <%= text_field_tag 'search', params[:search] %> <% end %>
    <%= hidden_field_tag 'project_id', @project.id %>
    <%= link_to_function "&laquo;".html_safe, "decreaseSelectedIndex('#frame_id');", :style => 'text-decoration:none' %>
    <%= select_tag 'frame_id', options_for_select(@project.frames.collect{|f| [f.name, f.id]} + [['Backlog', 0]], params[:frame_id]) %>
    <%= link_to_function "&raquo;".html_safe, "increaseSelectedIndex('#frame_id');", :style => 'text-decoration:none' %>
  <% end %>
</div>

<div id="stickies">
  <%#= render :partial => 'stickies/stickies' %>
  <div style="clear:both"></div><br /><br />
  <center><%= image_tag "ajax-loader.gif" %></center>
  <br /><br />
</div>

<div style="clear:both"></div>

<h2>General Project Comments</h2>
<div class="quiet">
  <%= image_tag('contour/information.png', :alt => '', :style => 'vertical-align:middle') %>
  Questions? Issues? Feature Requests? Bugs? Enter them here!
</div>

<%= form_tag search_comments_path(:class_id => @project.id, :class_name => 'Project'), :method => :get, :id => "comments_search" do %>
<% if false %>  Search <%= text_field_tag 'search', params[:search] %> <%= information %><% end %>
<% end %>

<div id="comments"></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#stickies_search").attr("action"), $("#stickies_search").serialize(), null, "script");
    $.get($("#comments_search").attr("action"), $("#comments_search").serialize(), null, "script");
  });
<% end %>

<%#= render :partial => 'stickies/index' %>