- @title = "#{@project.name}"

.page-header
  %h1= @project.name

  - if @project.modifiable_by?(current_user)
    = link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-default btn-xs'
    = link_to 'Delete Project', @project, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Project #{@project.name}?" }
    = link_to 'Reassign Tasks', '#', class: 'btn btn-xs btn-default', data: { object: 'modal-show', target: '#reassign-dialog' }
  %span{ id: "project_#{@project.id}_preferences" }
    = render 'project_preferences/preferences'

- status_all = (params[:status].include?('planned') && params[:status].include?('completed'))

= form_tag stickies_path(use_template: 'redesign'), method: :get, remote: true, id: "stickies_search", data: { object: "form-load#{ '-no' if @template }" } do
  = hidden_field_tag :search, params[:search]
  = hidden_field_tag :project_id, @project.id
  = hidden_field_tag :board_id, params[:board_id]
  = hidden_field_tag :tag_ids, params[:tag_ids]
  = hidden_field_tag :order, 'stickies.created_at desc'
  = hidden_field_tag :scope, params[:scope] || 'past_due'
  = hidden_field_tag :scope_direction, params[:scope_direction] || 'forward'
  = hidden_field_tag 'assigned_to_me_hidden', '0', name: 'assigned_to_me'
  = check_box_tag 'assigned_to_me', '1', params[:assigned_to_me].to_s == '1', style: 'display:none'
  = hidden_field_tag :unassigned, '1'
  = hidden_field_tag :replace, ''

= form_tag groups_path(use_template: 'redesign'), method: :get, remote: true, id: "groups_search", data: { object: "form-load#{ '-no' unless @template }" } do
  = hidden_field_tag :group_search, params[:search], name: 'search'
  = hidden_field_tag :groups_project_id, @project.id, name: 'project_id'
  = hidden_field_tag :groups_board_id, params[:board_id], name: 'board_id'
  = hidden_field_tag :template_id, params[:template_id]
  = hidden_field_tag :group_order, 'groups.created_at desc', name: 'order'
  = hidden_field_tag :group_scope_direction, params[:scope_direction] || 'forward', name: 'scope_direction'

.row
  .col-sm-3.col-md-2
    %div{ style: 'margin-bottom:5px' }
      = text_field_tag :project_search, params[:search], name: :search, class: 'form-control'

    .row
      .col-xs-4.col-sm-12
        #unarchived_boards_container.list-group{ data: { object: 'board-archive-droppable', archived: 'false' } }
          = render 'boards/full_menu', archived: false, boards_visible: true
        #archived_boards_container.list-group{ data: { object: 'board-archive-droppable', archived: 'true' } }
          - boards_visible = (@board and @board.archived?)
          = render 'boards/full_menu', archived: true, boards_visible: boards_visible

      .col-xs-4.col-sm-12
        .list-group
          = link_to templates_path( project_id: @project.id ), class: 'list-group-item list-group-heading', rel: 'tooltip', title: 'Click to Edit Templates', data: { container: 'body' } do
            Templates
            %span.glyphicon.glyphicon-edit.pull-right
          - @project.templates.natural_sort.each do |template_name, template_id|
            = link_to template_name, project_path(@project, template_id: template_id), data: { object: 'template-select', template_id: template_id }, class: "list-group-item #{'active' if params[:template_id].to_i == template_id}"

      .col-xs-4.col-sm-12
        .list-group
          = link_to tags_path( project_id: @project.id ), class: 'list-group-item list-group-heading', rel: 'tooltip', title: 'Click to Edit Tags', data: { container: 'body' } do
            Tags
            %span.glyphicon.glyphicon-edit.pull-right
          - @project.tags.natural_sort.each do |tag_name, tag_id|
            - tag = @project.tags.find_by_id(tag_id)
            = link_to '#', data: { object: 'tag-select tag-droppable', tag_id: tag_id, project_id: @project.id }, class: "list-group-item #{'active' if params[:tag_id].to_i == tag_id}" do
              %span{ style: "background-color:#{tag.color}" } &nbsp;
              = tag_name

  #stickies-or-templates.col-sm-9.col-md-10

- unless @project.description.blank?
  .jumbotron
    = simple_markdown @project.description

#project-members= render 'project_users/index'

= render 'projects/reassign_dialog'
