<% @title = "Project: #{@project.name}" %>
<h1>
  <span id="project_<%= @project.id %>_favorite_link"><%= render partial: 'projects/favorite' %></span>
  <%= @project.name %>
</h1>

<div class="btn-toolbar">
<% if current_user.all_projects.include?(@project) %>
  <div class="btn-group"><%= link_to "Edit Project", edit_project_path(@project), class: 'btn btn-mini' %></div>
  <div class="btn-group"><%= link_to "Delete Project", @project, confirm: "Are you sure you want to delete Project #{@project.name}? Deleting this project will delete the project, along with all the associated stickies, frames, and comments!", method: :delete, class: 'btn btn-mini btn-danger' %></div>
<% end %>
<% if current_user.all_projects.include?(@project) %>

  <div class="btn-group"><%= link_to "Create Sticky", new_sticky_path(sticky: {project_id: @project.id}), class: 'btn btn-mini' %></div>

  <div class="btn-group">
    <%= link_to "Frames", frames_path(project_id: @project.id), class: 'btn btn-mini' %>
    <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to 'Create', new_frame_path(frame: {project_id: @project.id}) %></li>
    </ul>
  </div>

  <div class="btn-group">
    <%= link_to "Templates", templates_path(project_id: @project.id), class: 'btn btn-mini' %>
    <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to 'Create', new_template_path(template: {project_id: @project.id}) %></li>
    </ul>
  </div>

  <div class="btn-group">
    <%= link_to "Tags", tags_path(project_id: @project.id), class: 'btn btn-mini' %>
    <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to 'Create', new_tag_path(tag: {project_id: @project.id}) %></li>
    </ul>
  </div>
<% end %>
</div>
<div style="clear:both"></div>

<br />
<div style="float:left">
  <%= form_tag search_stickies_path, method: :get, remote: true, id: "stickies_search", style: 'margin-bottom:0px' do %>
    <%= hidden_field_tag :order, params[:order] %>
    <%= hidden_field_tag :direction, 0 %>
    <% if false %>  Search <%= text_field_tag 'search', params[:search] %> <% end %>
    <%= hidden_field_tag 'project_id', @project.id %>
    <%= link_to_function "&laquo;".html_safe, "decreaseSelectedIndex('#frame_id');", style: 'text-decoration:none' %>
    <%= select_tag 'frame_id', options_for_select(@project.frames.collect{|f| [f.name, f.id]} + [['Backlog', 0]], params[:frame_id]) %>
    <%= link_to_function "&raquo;".html_safe, "increaseSelectedIndex('#frame_id');", style: 'text-decoration:none' %>
  <% end %>
</div>

<div id="stickies">
  <%#= render partial: 'stickies/stickies' %>
  <div style="clear:both"></div><br /><br />
  <center><%= image_tag "ajax-loader.gif" %></center>
  <br /><br />
</div>

<fieldset>

  <legend>Project Details</legend>

  <p>
    <b>Description:</b>
    <%= simple_format @project.description %>
  </p>

  <p>
    <b>Owner:</b>
    <%= link_to @project.user.name, @project.user %>
  </p>

  <p>
    <b>Time Period:</b>
    <%= @project.start_date %> to <%= @project.end_date %>
  </p>

  <p>
    <b>Status:</b>
    <%= @project.status %>
  </p>

  <table class="blank padded" style="width:100%;table-layout:fixed">
    <tr>
      <% ['editors', 'viewers'].each do |relation, allow_editing| %>
        <td style="vertical-align:top">
          <% @relation = relation; @allow_editing = allow_editing %>
          <% @users = User.current.order('last_name, first_name') %>
          <p>
            <div id="<%= @relation %>_list"><%= render partial: 'project_users/index' %></div>
          </p>
        </td>
      <% end %>
    </tr>
  </table>

  <p>
    <b>Sticky <%= link_to 'Tags', tags_path(project_id: @project.id) %>:</b>
    <%= @project.tags.collect{|t| @tag = t; render partial: 'tags/show'}.join('').html_safe %><br />
  </p>

</fieldset>


<%= javascript_tag do %>
  $(function(){
    $.get($("#stickies_search").attr("action"), $("#stickies_search").serialize(), null, "script");
  });
<% end %>
