<% @title = "Project: #{@project.name}" %>
<div class="page-header">
  <h1>
    <%= @project.name %>
    <span id="project_<%= @project.id %>_favorite_link"><%= render partial: 'projects/favorite' %></span>
  </h1>
  <div class="btn-toolbar">
    <% if current_user.all_projects.include?(@project) %>
      <div class="btn-group"><%= link_to "Edit Project", edit_project_path(@project), class: 'btn btn-mini' %></div>
      <div class="btn-group"><%= link_to "Delete Project", @project, confirm: "Are you sure you want to delete Project #{@project.name}? Deleting this project will delete the project, along with all the associated stickies, frames, and comments!", method: :delete, class: 'btn btn-mini btn-danger' %></div>
    <% end %>
    <% if current_user.all_projects.include?(@project) %>

    <div class="btn-group">
      <%#= link_to "Create Sticky", new_sticky_path(sticky: {project_id: @project.id}), class: 'btn btn-mini' %>
      <%= link_to_function "Create Sticky", "$('#sticky_project_id').val('#{@project.id}');$('#sticky_project_id').change();$('#new-sticky-or-group-dialog').modal();", class: 'btn btn-mini' %>
    </div>

    <div class="btn-group">
      <%= link_to "Tags", tags_path(project_id: @project.id), class: 'btn btn-mini' %>
      <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Create', new_tag_path(tag: {project_id: @project.id}) %></li>
      </ul>
    </div>

    <div class="btn-group">
      <%= link_to "Templates", templates_path(project_id: @project.id), class: 'btn btn-mini' %>
      <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Create', new_template_path(template: {project_id: @project.id}) %></li>
      </ul>
    </div>

    <div class="btn-group">
      <%= link_to "Frames", frames_path(project_id: @project.id), class: 'btn btn-mini' %>
      <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Create', new_frame_path(frame: { project_id: @project.id }) %></li>
      </ul>
    </div>
  <% end %>
  </div>
</div>

<div style="float:left">
  <%= form_tag search_stickies_path, method: :get, remote: true, id: "stickies_search", style: 'margin-bottom:0px', class: 'form-search' do %>
    <%= hidden_field_tag :from, 'project' %>
    <%= hidden_field_tag :order, params[:order] %>
    <%= hidden_field_tag :direction, 0 %>
    <% if false %>
      <%= text_field_tag 'search', params[:search], class: 'search-query' %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <% end %>
    <%= hidden_field_tag 'project_id', @project.id %>
    <div class="btn-group">
      <%= link_to_function '&larr;'.html_safe, "decreaseSelectedIndex('#frame_id', '#frame_name');", title: 'Previous Frame', class: 'btn' %>
      <div style="display:none"><%= select_tag 'frame_id', options_for_select([['Backlog', 0]] + @project.frames.collect{|f| [f.name, f.id]}, params[:frame_id]), class: 'btn' %></div>
      <%= link_to "#{@frame ? @frame.name : 'Backlog'} <span class='caret'></span>".html_safe, '#', class: 'btn dropdown-toggle', 'data-toggle' => 'dropdown', id: 'frame_name' %>
      <ul class="dropdown-menu">
        <li><%= link_to_function 'Backlog', "$('#frame_name').html('Backlog <span class=\"caret\"></span>');$('#frame_id').val('0');$('#stickies_search').submit();" %></li>
        <% @project.frames.each do |frame| %>
          <li><%= link_to_function frame.name, "$('#frame_name').html('#{escape_javascript(frame.name)} <span class=\"caret\"></span>');$('#frame_id').val('#{frame.id}');$('#stickies_search').submit();" %></li>
        <% end %>
      </ul>
      <%= link_to_function '&rarr;'.html_safe, "increaseSelectedIndex('#frame_id', '#frame_name');", title: 'Next Frame', class: 'btn' %>
    </div>
  <% end %>
</div>

<div id="stickies">
  <%#= render partial: 'stickies/stickies' %>
  <div style="clear:both"></div><br /><br />
  <center><%= image_tag "ajax-loader.gif" %></center>
  <br /><br />
</div>

<div class="row">
  <div class="span6">
    <div class="page-header">
      <h2>Details</h2>
    </div>

    <%= simple_format @project.description unless @project.description.blank? %>

    <dl class="dl-horizontal">
      <dt>Owner</dt>
      <dd><%= link_to @project.user.name, @project.user %></dd>

      <dt>Time Period</dt>
      <dd><%= @project.start_date %> to <%= @project.end_date %></dd>

      <dt>Status</dt>
      <dd><%= @project.status %></dd>
    </dl>
  </div>
  <div class="span6">
    <div class="page-header">
      <h2>
        Sticky Tags
        <%= link_to 'View Tags', tags_path(project_id: @project.id), class: 'btn btn-mini' %>
      </h2>

    </div>

    <p>
      <%= @project.tags.collect{|t| @tag = t; link_to render(partial: 'tags/show'), @tag, style: 'text-decoration:none'}.join('').html_safe %>
    </p>
  </div>
</div>

<div class="page-header">
  <h2>Sharing</h2>
</div>

<div class="row">
  <% ['editors', 'viewers'].each do |relation, allow_editing| %>
    <div class="span6">
      <% @relation = relation; @allow_editing = allow_editing %>
      <% @users = User.current.order('last_name, first_name') %>
      <p>
        <div id="<%= @relation %>_list"><%= render partial: 'project_users/index' %></div>
      </p>
    </div>
  <% end %>
</div>

<%= render partial: 'stickies/new_sticky_or_group_dialog' %>

<%= javascript_tag do %>
  $(function(){
    $.get($("#stickies_search").attr("action"), $("#stickies_search").serialize(), null, "script");
  });
<% end %>
