<% @title = "Project: #{@project.name}" %>
<h1><%= @title %></h1>

<%= link_to image_tag('icons/edit.png', :alt => '') + "Edit Project", edit_project_path(@project), :class => 'button' if current_user.all_projects.include?(@project) %>
<%= link_to image_tag('icons/mydocuments.png', :alt => '') + "View All Projects", projects_path, :class => 'button' %>
<%= link_to image_tag('icons/addfile.png', :alt => '') + "Create New Sticky", new_sticky_path(:sticky => {:project_id => @project.id}), :class => 'button positive' if current_user.all_projects.include?(@project) %>

<div style="clear:both"></div>

<pre><%= @project.description %></pre>
<br />

<p>
  <b>Owner:</b>
  <%= link_to @project.user.name, @project.user %>
</p>


<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Time Period:</b>
  <%= @project.start_date %> to <%= @project.end_date %>
</p>

<% ['editors', 'viewers'].each do |@relation, @allow_editing| %>
  <% @users = User.current.order('last_name, first_name') %>
  <p>
    <div id="<%= @relation %>_list"><%= render :partial => 'project_users/index' %></div>
  </p>
<% end %>

<fieldset>
  <legend>General Project Comments</legend>
  <div class="quiet">
    <%= image_tag('icons/information.png', :alt => '', :style => 'vertical-align:middle') %>
    Questions? Issues? Feature Requests? Bugs? Enter them here!
  </div>
  <br />
<% @object = @project %>
<% @limit = 5 %>
<% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>
<div id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>" class = "comment_box">
  <%= render :partial => 'comments/index' %>
</div>
</fieldset>

<%= render :partial => 'stickies/index' %>