<% @title = "Project: #{@project.name}" %>

<% status_all = (params[:status].include?('planned') and params[:status].include?('completed')) %>

<%= form_tag stickies_path(use_template: 'redesign'), method: :get, remote: true, id: "stickies_search", data: { object: "form-load#{ '-no' if @template }" } do %>
  <%= hidden_field_tag :search, params[:search] %>
  <%= hidden_field_tag :project_id, @project.id %>
  <%= hidden_field_tag :board_id, params[:board_id] %>
  <%#= hidden_field_tag :template_id, params[:template_id] %>
  <%= hidden_field_tag :tag_ids, params[:tag_ids] %>
  <%= hidden_field_tag :order, 'stickies.created_at DESC' %>

  <%= hidden_field_tag :scope, params[:scope] || 'past_due' %>
  <%= hidden_field_tag :scope_direction, params[:scope_direction] || 'forward' %> <%# 'reverse' %>


  <%= hidden_field_tag :assigned_to_me, params[:assigned_to_me] %>

  <%= hidden_field_tag :unassigned, '1' %>

  <%= hidden_field_tag :replace, '' %>
<% end %>

<%= form_tag groups_path(use_template: 'redesign'), method: :get, remote: true, id: "groups_search", data: { object: "form-load#{ '-no' unless @template }" } do %>
  <%= hidden_field_tag :group_search, params[:search], name: 'search' %>
  <%= hidden_field_tag :groups_project_id, @project.id, name: 'project_id' %>
  <%= hidden_field_tag :groups_board_id, params[:board_id], name: 'board_id' %>
  <%= hidden_field_tag :template_id, params[:template_id] %>
  <%= hidden_field_tag :group_order, 'groups.created_at DESC', name: 'order' %>
  <%= hidden_field_tag :group_scope_direction, params[:scope_direction] || 'forward', name: 'scope_direction' %>
<% end %>

<div class="row">
  <div class="col-md-2" style="margin-bottom:20px;">
    <div>
      <div>
        <span style="font-size: 20px;font-weight:200;"><%= @project.name %></span>
        <%= link_to '<i class="icon-cog"></i>'.html_safe, settings_project_path(@project), class: 'btn btn-mini', rel: 'tooltip', title: 'Settings', data: { placement: 'right' } %>
      </div>

      <div class="input-append" style="margin-top:5px">
        <%= text_field_tag :project_search, params[:search], name: :search, class: 'col-md-2 search-query' %>
      </div>


      <ul class="nav nav-list nav-rounded" id="unarchived_boards_container" data-object="board-archive-droppable" data-archived="false">
        <%= render partial: 'boards/full_menu', locals: { archived: false, boards_visible: true } %>
      </ul>

      <ul class="nav nav-list nav-rounded" id="archived_boards_container" data-object="board-archive-droppable" data-archived="true">
        <% boards_visible = (@board and @board.archived?) %>
        <%= render partial: 'boards/full_menu', locals: { archived: true, boards_visible: boards_visible } %>
      </ul>

      <ul class="nav nav-list nav-rounded">
        <li class="divider"></li>
        <li class="nav-header" style="cursor:pointer" data-link="<%= templates_path( project_id: @project.id ) %>" rel="tooltip" title="Click to Edit Templates">Templates</li>
        <% @project.templates.natural_sort.each do |template_name, template_id| %>
          <li class="<%= 'active' if params[:template_id].to_i == template_id %>">
            <%= link_to template_name, project_path(@project, template_id: template_id), data: { object: 'template-select', template_id: template_id } %>
          </li>
        <% end %>
      </ul>

      <ul class="nav nav-list nav-rounded">
        <li class="divider"></li>
        <li class="nav-header" style="cursor:pointer" data-link="<%= tags_path( project_id: @project.id ) %>" rel="tooltip" title="Click to Edit Tags">Tags</li>
        <% @project.tags.natural_sort.each do |tag_name, tag_id| %>
          <% tag = @project.tags.find_by_id(tag_id) %>
          <li class="<%= 'active' if params[:tag_id].to_i == tag_id %>">
            <%= link_to "<span style='background-color:#{tag.color}'>&nbsp;</span> ".html_safe + tag_name, '#', data: { object: 'tag-select tag-droppable', tag_id: tag_id, project_id: @project.id } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="stickies-or-templates"> <%# Right panel, load other stuff %>

  </div>

  <% if false %>
  <div class="col-md-10" style="margin-bottom:20px">
    <div id="sticky_modal_wrapper">
      <div id="sticky_modal_container" class="sticky-modal"></div>
    </div>

    <div id="stickies" style="margin-top:-12px">

    </div>
  </div>
  <% end %>
</div>

<% unless @project.description.blank? %>
  <div class="hero-unit">
    <%= simple_markdown @project.description %>
  </div>
<% end %>

<div id="sticky-backdrop" style="display:none"></div>
