<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %><br />

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @project.user.name %>
</p>

<p>
  <b>Position:</b>
  <%= @project.position %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date %>
</p>
