<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %><br />

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @project.user.name %>
</p>

<p>
  <b>Position:</b>
  <%= @project.position %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date %>
</p>

<% [['editors', true], ['viewers', false]].each do |@relation, @allow_editing| %>
  <p>
    <b><%= @relation.humanize %>:</b>
    <span id="<%= @relation %>_add_icon">
    <%= link_to_function 'Add More', "$('#{@relation}_add_icon').hide(); $('project_#{@relation}').show(); $('#{@relation}_text').focus();$('#{@relation}_id').value = null;" %>
    </span>
    <div id="project_<%= @relation %>" style="display:none">
      <%= text_field_tag "#{@relation}_text", '', :style => "width:494px;" %>
      <%= link_to "Add #{@relation.humanize}", "#", :onclick => remote_function(:url => project_users_path(:project_user => {:project_id => @project.id, :allow_editing => @allow_editing}), :method => :post, :with => "'user_id=' + $('#{@relation}_id').value") + ";$('#{@relation}_add_icon').show();$('project_#{@relation}').hide(); return false;" %>
      <div id="filtered_<%= @relation %>"><%= render :partial => "users/user_select_filter" %></div>
    </div>  
    <div id="<%= @relation %>_list"><%= render :partial => 'project_users/index' %></div>
    <br />
    <%= javascript_tag do %>
        new Form.Element.Observer('<%= @relation %>_text', 0.5, function(element, value) {
          if(rt){clearTimeout(rt);};
          rt=setTimeout('genericSearchUpdate("filtered_<%= @relation %>", "<%= filtered_users_path(:relation => @relation) %>", "<%= form_authenticity_token %>", "&search=" + $("<%= @relation %>_text").value)', 750);
        });
    <% end %>
  </p>
<% end %>
