<div class="page-header">
  <h1>
    <%= @title %>
    <small><%= "Project #{link_to @tag.project.name, @tag.project} ".html_safe if @tag.project %></small>
  </h1>
</div>

<%= form_for(@tag, html: { class: 'form-horizontal' }) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :name, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :project_id, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.select :project_id, options_for_select([['---', nil]] + current_user.all_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = 'f') ASC, name").collect{|p| [p.name, p.id]}, @tag.project_id) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.text_area :description, rows: 7, style: 'width:95%' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :color, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.hidden_field :color, id: "tag_hexcolor" %>
        <div class="custom_widget">
          <div class="colorselector" data-object="color-selector" data-target="#tag_hexcolor" data-color="<%= @tag.color.blank? ? '#ffffff' : @tag.color %>" style="background-image: none">
            <div id="tag_hexcolor_display" style="background-color: <%= @tag.color.blank? ? '#ffffff' : @tag.color %>;top:0px;left:0px"></div>
          </div>
        </div>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
