<div class="page-header">
  <h1>
    <%= @title %>
    <small><%= "Project #{link_to @tag.project.name, @tag.project} ".html_safe if @tag.project %></small>
  </h1>
</div>

<%= form_for(@tag, html: { class: 'form-horizontal' }) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :project_id, class: 'control-label' %>
      <div class="controls">
        <%= f.select :project_id, options_for_select([['---', nil]] + current_user.all_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = '0') ASC, name").collect{|p| [p.name, p.id]}, @tag.project_id) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, rows: 7, style: 'width:95%' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :color, class: 'control-label' %>
      <div class="controls">
        <%= f.hidden_field :color, id: "tag_hexcolor" %>
        <div class="custom_widget">
          <div id="tag_colorselector" class="colorselector">
            <div style="background-color: <%= @tag.color %>"></div>
          </div>
        </div>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>

<%= javascript_tag do %>
  $('#tag_colorselector')
    .ColorPicker({
//      flat: true,
      color: '<%= @tag.color %>',
      onShow: function (colpkr) {
        $(colpkr).fadeIn(500);
        return false;
      },
//      onHide: function (colpkr) {
//        $(colpkr).fadeOut(500);
//        return false;
//      },
      onChange: function (hsb, hex, rgb) {
        $('#tag_hexcolor').val('#' + hex);
        $('#tag_colorselector div').css('backgroundColor', '#' + hex);
      }//,
//      onSubmit: function(hsb, hex, rgb, el) {
//        $(el).ColorPickerHide();
//      },
    });
<% end %>
