<% @title = "Tag: #{@tag.name}" %>
<h1><% if @tag.project %><%= link_to @tag.project.name, @tag.project %> &raquo;<% end %><%= @title %></h1>

<% if current_user.all_tags.include?(@tag) %>
  <%= link_to image_tag('contour/edit.png', alt: '') + "Edit Tag", edit_tag_path(@tag), class: 'button' %>
  <%= link_to image_tag('contour/delete.png', alt: '') + "Delete Tag", @tag, confirm: "Are you sure you want to delete Tag #{@tag.name}?", method: :delete, class: 'button negative' %>
<% end %>
<%= link_to image_tag('contour/mydocuments.png', alt: '') + "View All Tags", tags_path, class: 'button' %>

<div style="clear:both"></div>

<pre><%= @tag.description %></pre>

<fieldset>
  <br />

  <p>
    <b>Creator:</b>
    <%= link_to @tag.user.name, @tag.user if @tag.user %>
  </p>

  <p>
    <b>Color:</b>
    <span style="background-color: <%= @tag.color %>"><%= @tag.color %></span>
  </p>
</fieldset>
