<% @title = "Tag: #{@tag.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <small><% if @tag.project %>Project <%= link_to @tag.project.name, @tag.project %><% end %></small>
    <% if current_user.all_tags.include?(@tag) %>
      <%= link_to "Edit Tag", edit_tag_path(@tag), class: 'btn btn-mini' %>
      <%= link_to "Delete Tag", @tag, confirm: "Are you sure you want to delete Tag #{@tag.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
    <% end %>
    <%= link_to "View Tags", tags_path, class: 'btn btn-mini' %>
  </h1>
</div>

<div style="clear:both"></div>

<pre><%= @tag.description %></pre>

<fieldset>
  <br />

  <p>
    <b>Creator:</b>
    <%= link_to @tag.user.name, @tag.user if @tag.user %>
  </p>

  <p>
    <b>Color:</b>
    <span class="label" style="background-color: <%= @tag.color %>"><%= @tag.color %></span>
  </p>
</fieldset>
