<% @title = @tag.name %>
<div class="page-header">
  <h1>
    <%= link_to @tag.project.name, @tag.project %> &middot;
    <%= link_to 'Tags', tags_path( project_id: @tag.project_id ) %> &middot;
    <%= @title %>
  </h1>
  <% if current_user.all_tags.include?(@tag) %>
    <%= link_to "Edit Tag", edit_tag_path(@tag), class: 'btn btn-xs btn-default' %>
    <%= link_to "Delete Tag", @tag, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Tag #{@tag.name}?" } %>
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt>Description</dt>
  <dd><%= simple_format @tag.description %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @tag.user.name, @tag.user if @tag.user %></dd>

  <dt>Color</dt>
  <dd><span class="label" style="line-height:20px;background-color: <%= @tag.color %>"><%= @tag.color %></span></dd>
</dl>
