- @title = 'Sign in'

- content_for :body_class do
  brand-background

%p.lead.center Welcome back!

.sign-up-form
  .sign-up-form-title
    Sign in

  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-vertical' }) do |f|
    .form-group
      = f.label :email, class: 'control-label'
      = f.email_field :email, class: 'form-control'

    .form-group
      = f.label :password, class: 'control-label'
      = link_to '(Forgot password?)', new_password_path(resource_name), tabindex: '-1'
      = f.password_field :password, class: 'form-control', autocomplete: 'off'

    .form-group.sign-up-form-button-container
      = f.submit 'Sign in', class: 'btn btn-primary btn-block'

.sign-up-form.center
  Task Tracker will be taken offline on:
  %br
  %strong May 1st, 2019
  %br
  Please
  = mail_to ENV['support_email'], 'contact us'
  with any questions.

- if false
  .sign-up-form.center
    New to
    = succeed '?' do
      = ENV['website_name']
    =# link_to 'Create an account.', new_user_registration_path

- if devise_mapping.confirmable?
  .center{ style: 'margin-bottom:20px' }
    = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
