<%= render partial: 'layouts/per_page', locals: { type: 'boards', object_count: @boards.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'boards.name', 'Name', 'boards_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'boards.project_id', 'Project', 'boards_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'boards.user_id', 'Creator', 'boards_search') %></th>
      <th>Description</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'boards.archived', 'Archived', 'boards_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @boards.each do |board| %>
    <tr>
      <td><%= link_to board.name, board %></td>
      <td><%= link_to board.project.name, board.project %></td>
      <td><%= link_to board.user.name, board.user %></td>
      <td><%= board.description %></td>
      <td><%= simple_check board.archived %></td>
      <td>
        <% if current_user.all_boards.include?(board) %>
          <%= link_to "Edit", edit_board_path(board), class: 'btn btn-xs btn-default' %>
          <%= link_to 'Delete', board, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Board #{board.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @boards, theme: "contour" %></div>
