<div class="page-header">
  <h1>
    <%= @title %>
    <small><%= "Project #{link_to @board.project.name, @board.project} ".html_safe if @board.project %></small>
  </h1>
</div>

<%= form_for(@board, html: { class: 'form-horizontal' }) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved</h4>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :project_id, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :project_id, options_for_select([['---', nil]] + current_user.all_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = 'f') ASC, name").collect{|p| [p.name, p.id]}, @board.project_id) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :archived, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.check_box :archived %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
