<% if archived %>
  <li class="nav-header" id="archived_boards" data-board-id="<%= @project.boards.where(archived: true).natural_sort.first[1] if @project.boards.where(archived: true).size > 0 %>"
    data-object="toggle-archived-boards"
    data-message="<%= @project.boards.where(archived: true).size %> Archived"
    data-visible="<%= boards_visible.to_s %>"
    style="cursor:pointer"
    ><%= (boards_visible ? 'Hide' : 'Show') + " #{@project.boards.where(archived: true).size} Archived" %></li>
<% else %>
  <li class="nav-header" style="cursor:pointer" data-object="create-board" data-url="<%= new_board_path(board: { project_id: @project.id }) %>">Boards</li>
  <%#= link_to 'Create Board', new_board_path(board: { project_id: @project.id }), class: 'btn btn-mini btn-block' %>
  <li class="<%= 'active' if params[:board_id].to_s == '0' %>" id="unarchived_boards">
    <%= link_to 'Holding Pen', project_path(@project, board_id: 0), data: { object: 'board-select board-droppable', board_id: 0, board_name: 'Holding Pen', project_id: @project.id,
        past_due_count: @project.sticky_count(nil, 'past_due'), my_past_due_count: @project.sticky_count(nil, 'past_due', current_user),
        upcoming_count: @project.sticky_count(nil, 'upcoming'), my_upcoming_count: @project.sticky_count(nil, 'upcoming', current_user),
        completed_count: @project.sticky_count(nil, 'completed'), my_completed_count: @project.sticky_count(nil, 'completed', current_user) } %>
   </li>
<% end %>

<% @project.boards.where(archived: archived).natural_sort.each do |board_name, board_id| %>
  <% board = @project.boards.find_by_id(board_id) %>
  <%= render partial: 'boards/menu', locals: { board: board, boards_visible: boards_visible } %>
<% end %>

<% unless archived %>
  <li class="<%= 'active' if params[:board_id] == 'all' %>">
    <%= link_to 'All Stickies', project_path(@project, board_id: 'all'), data: { object: 'board-select', board_id: '', board_name: 'All Stickies',
        past_due_count: @project.sticky_count('all', 'past_due'), my_past_due_count: @project.sticky_count('all', 'past_due', current_user),
        upcoming_count: @project.sticky_count('all', 'upcoming'), my_upcoming_count: @project.sticky_count('all', 'upcoming', current_user),
        completed_count: @project.sticky_count('all', 'completed'), my_completed_count: @project.sticky_count('all', 'completed', current_user) } %>
  </li>
<% end %>
