- @title = 'Boards'
.page-header
  %h1
    - if @project
      = link_to @project.name, @project
      &middot;
    = @title
    = link_to "Create Board", new_board_path(board: { project_id: @project.id }), class: 'btn btn-xs btn-primary' if @project

= form_tag boards_path, method: :get, class: 'form-inline' do
  = hidden_field_tag :order, params[:order]
  = hidden_field_tag :project_id, params[:project_id]
  = text_field_tag 'search', params[:search], class: 'form-control'
  = submit_tag 'Search', class: 'btn btn-primary', name: nil
  = link_to 'Reset', boards_path( project_id: (@project ? @project.id : nil) ), class: 'btn btn-default'

= render 'boards/boards'
