<% @title = "Board: #{@board.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if @board.project %><small>Project <%= link_to @board.project.name, @board.project %></small><% end %>
    <% if current_user.all_boards.include?(@board) %>
      <%= link_to "Edit Board", edit_board_path(@board), class: 'btn btn-mini' %>
      <%= link_to "Delete Board", @board, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Board #{@board.name}?" } %>
    <% end %>
    <%= link_to "View Boards", boards_path(project_id: @board.project_id), class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= link_to @board.user.name, @board.user if @board.user %></dd>

  <dt>Start Date</dt>
  <dd><%= simple_date @board.start_date %></dd>

  <dt>End Date</dt>
  <dd><%= simple_date @board.end_date %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @board.description %></dd>
</dl>
