<% @title = @board.name %>
<div class="page-header">
  <h1>
    <%= link_to @board.project.name, @board.project %> &middot;
    <%= link_to 'Boards', boards_path( project_id: @board.project_id ) %> &middot;
    <%= @title %>
  </h1>
  <% if current_user.all_boards.include?(@board) %>
    <%= link_to "Edit Board", edit_board_path(@board), class: 'btn btn-xs btn-default' %>
    <%= link_to "Delete Board", @board, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Board #{@board.name}?" } %>
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= link_to @board.user.name, @board.user if @board.user %></dd>

<% if false %>
  <dt>Start Date</dt>
  <dd><%= simple_date @board.start_date %></dd>

  <dt>End Date</dt>
  <dd><%= simple_date @board.end_date %></dd>
<% end %>

  <dt>Description</dt>
  <dd><%= simple_format @board.description %></dd>

  <dt>Archived</dt>
  <dd><%= simple_check @board.archived %></dd>
</dl>
