<div class="page-header">
  <h1>
    <%= @title %>
    <small><%= "Project #{link_to @frame.project.name, @frame.project} ".html_safe if @frame.project %></small>
  </h1>
</div>

<%= form_for(@frame, html: { class: 'form-horizontal' }) do |f| %>
  <% if @frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frame.errors.count, "error") %> prohibited this frame from being saved:</h2>

      <ul>
      <% @frame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_id, class: 'control-label' %>
    <div class="controls">
      <%= f.select :project_id, options_for_select([['---', nil]] + current_user.all_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = '0') ASC, name").collect{|p| [p.name, p.id]}, @frame.project_id) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 7 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, class: 'datepicker', value: @frame.start_date ? @frame.start_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, class: 'datepicker', value: @frame.end_date ? @frame.end_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="form-actions">
    <% form_name = @frame.new_record? ? 'new_frame' : "edit_frame_#{@frame.id}" %>
    <%= link_to_function (@frame.new_record? ? "Create Frame" : "Update Frame"), "$('##{form_name}').submit();", class: 'btn btn-primary' %>
    <%= cancel %>
		<br />
  </div>
<% end %>
