<div style="float:right">
  Per Page 
  <% [10,25,50].each do |count| %>
    <span class="per_page">
      <% if current_user.frames_per_page != count %>
        <%= link_to count, "#", 'data-count' => count, 'data-object' => 'frames', :id => "count_#{count}" %>
      <% else %>
        <%= count %>
      <% end %>
    </span>
  <% end %>
</div>

<div style="clear:both"></div>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th>Time Period</th>
    <th>Creator</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @frames.each do |frame| %>
  <tr>
    <td><%= link_to frame.name, frame %></td>
    <td><%= link_to frame.project.name, frame.project %></td>
    <td><%= frame.long_time %></td>
    <td><%= link_to frame.user.name, frame.user %></td>
    <td><%= frame.description %></td>
    <td style="vertical-align:middle">
      <% if current_user.all_frames.include?(frame) %>
        <%= link_to image_tag('icons/delete.png', :alt => ''), frame, :confirm => "Are you sure you want to delete Frame #{frame.name}?", :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<center><%= paginate @frames %></center>