<%= render partial: 'layouts/per_page', locals: { type: 'frames' } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'frames.name', 'Name', 'frames_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'frames.project_id', 'Project', 'frames_search') %></th>
      <th><%== sort_field_helper(@order, 'frames.end_date', 'Time Period', 'frames_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'frames.user_id', 'Creator', 'frames_search') %></th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @frames.each do |frame| %>
    <tr>
      <td><%= link_to frame.name, frame %></td>
      <td><%= link_to frame.project.name, frame.project %></td>
      <td><%= frame.long_time %></td>
      <td><%= link_to frame.user.name, frame.user %></td>
      <td><%= frame.description %></td>
      <td>
        <% if current_user.all_frames.include?(frame) %>
          <%= link_to "Edit", edit_frame_path(frame), class: 'btn btn-mini' %>
          <%= link_to 'Delete', frame, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Frame #{frame.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @frames %></center>
