<% @title = 'Frames' %>
<h1><% if @project %><%= link_to @project.name, @project %> &raquo;<% end %> <%= @title %></h1>

<%= link_to image_tag('gentleface/16/doc_new.png', alt: '') + "Create New Frame", (@project ? new_frame_path(frame: {project_id: @project.id}) : new_frame_path), class: 'button positive' %>

<%= form_tag frames_path, method: :get, remote: true, id: "frames_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :project_id, params[:project_id] %>
  Search <%= text_field_tag 'search', params[:search] %> <%= information %>
<% end %>

<div id="frames"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#frames_search").attr("action"), $("#frames_search").serialize(), null, "script");
  });
<% end %>
