<% @title = 'Frames' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if @project %><small>Project <%= link_to @project.name, @project %></small><% end %>
    <%= link_to "Create Frame", (@project ? new_frame_path(frame: { project_id: @project.id }) : new_frame_path), class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag frames_path, method: :get, remote: true, id: "frames_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :order %>
  <%= hidden_field_tag :project_id, params[:project_id] %>
  Search <%= text_field_tag 'search', params[:search] %>
<% end %>

<div id="frames"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#frames_search").attr("action"), $("#frames_search").serialize(), null, "script");
  });
<% end %>
