<% @title = "Frame: #{@frame.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if @frame.project %><small>Project <%= link_to @frame.project.name, @frame.project %></small><% end %>
    <% if current_user.all_frames.include?(@frame) %>
      <%= link_to "Edit Frame", edit_frame_path(@frame), class: 'btn btn-mini' %>
      <%= link_to "Delete Frame", @frame, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Frame #{@frame.name}?" } %>
    <% end %>
    <%= link_to "View Frames", frames_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= link_to @frame.user.name, @frame.user if @frame.user %></dd>

  <dt>Time Period</dt>
  <dd><%= @frame.long_time %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @frame.description %></dd>
</dl>
