<% tags = params[:tags].to_s.split(',') %>
<% owners = params[:owners].to_s.split(',') %>
<% project_ids = params[:project_ids].to_s.split(',') %>
<% status = params[:completed].to_s.split(',') %>
<% total_filters = tags.size + owners.size + project_ids.size %>
<div class="row" style="margin-bottom:10px">
  <div class="col-xs-4">
    <div data-object="visible-sticky">
      <%= link_to 'Create Task', new_sticky_path, remote: true, class: 'btn btn-default btn-block' %>
    </div>
    <div data-object="visible-filter" style="display:none">
      <%= link_to 'Save Filters', '#', class: 'btn btn-primary btn-block', data: { object: 'save-filters' } %>
    </div>
  </div>
  <div class="col-xs-4">
    <div data-object="visible-sticky">
      <%= link_to 'Create Group', new_group_path, remote: true, class: 'btn btn-default btn-block' unless current_user.all_projects.has_template.size == 0 %>
    </div>
    <div data-object="visible-filter" style="display:none">
      <%= link_to 'Clear Filters', '#', remote: true, class: 'btn btn-danger-inverse btn-block', data: { object: 'reset-filters' } %>
    </div>
  </div>
  <div class="col-xs-4">
    <div data-object="visible-sticky">
      <%= link_to '#', data: { object: 'show-filters' }, class: 'btn btn-default btn-block' do %>
        Filters <span class="badge"><%= total_filters if total_filters > 0 %></span>
      <% end %>
    </div>
    <div data-object="visible-filter" style="display:none">
      <%= link_to 'Cancel', '#', remote: true, class: 'btn btn-default btn-block', data: { object: 'cancel-filters' } %>
    </div>
  </div>
</div>

<div data-object="visible-filter" style="display:none">
  <%= form_tag url, id: 'filters-form' do %>

    <ul class="nav nav-tabs" id="filter_selection">
      <li class="active"><a href="#tags-pane">Tags <span class="badge" id="tags-count"><%= tags.size if tags.size > 0 %></span></a></li>
      <li><a href="#users">Users <span class="badge" id="owners-count"><%= owners.size if owners.size > 0 %></span></a></li>
      <li><a href="#projects">Projects <span class="badge" id="project-ids-count"><%= project_ids.size if project_ids.size > 0 %></span></a></li>
      <li><a href="#status">Status <span class="badge" id="status-count"><%= status.size if status.size > 0 %></span></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tags-pane">
        <div class="row">
          <% current_user.all_tags.order(:project_id, :name).group_by(&:name).each do |name, all_tags| %>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <label class="checkbox tag-checkbox <%= 'tag-selected' if tags.include?(name) %>" style="margin-bottom: 0px;background-color: <%= all_tags.first.color if all_tags.first %>">
                <%= check_box_tag "tag_names[]", name, tags.include?(name) %>
                <div class="tag-name" style="overflow:hidden;white-space:nowrap"><%= name %></div>
              </label>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="users">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <label class="checkbox tag-checkbox <%= 'tag-selected' if owners.include?(current_user.name) %>" style="margin-bottom: 0px;background-color:#efefef;overflow:hidden;color:#333">
              <%= check_box_tag "user_names[]", current_user.name, owners.include?(current_user.name) %>
              My Stickies
            </label>
          </div>
          <% (current_user.associated_users.order('last_name, first_name') - [current_user]).each do |user| %>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <label class="checkbox tag-checkbox <%= 'tag-selected' if owners.include?(user.name) %>" style="margin-bottom: 0px;background-color:#efefef;color:#333">
                <%= check_box_tag "user_names[]", user.name, owners.include?(user.name) %>
                <div style="overflow:hidden;white-space:nowrap"><%= user.reverse_name %></div>
              </label>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="projects">
        <div class="row">
          <% current_user.all_viewable_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = 'f') ASC, name").each do |project| %>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <label class="checkbox tag-checkbox <%= 'tag-selected' if project_ids.include?(project.id.to_s) %>" style="margin-bottom: 0px;background-color:<%= project.color(current_user) %>;color:#333">
                <%= check_box_tag "project_ids[]", project.id, project_ids.include?(project.id.to_s) %>
                <div style="overflow:hidden;white-space:nowrap"><%= project.name %></div>
              </label>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="status">
        <div class="row">
          <% [['Incomplete', 'completed', '0'], ['Completed', 'completed', '1']].each do |name, key, value| %>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <label class="checkbox tag-checkbox <%= 'tag-selected' if status.include?(value) %>" style="margin-bottom: 0px;color:#333">
                <%= check_box_tag "#{key}[]", value, status.include?(value) %>
                <div style="overflow:hidden;white-space:nowrap"><%= name %></div>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
