<div id="delete-sticky-dialog_<%= sticky.id %>" class="modal" style="display:none">
  <div class="modal-header">
    Delete Sticky in Group:
    <a class="close" data-dismiss="modal">×</a>
  </div>
  <div class="modal-body">
	<%= form_tag sticky_path(sticky, from_calendar: params[:from_calendar].to_i), method: :delete, id: "sticky_delete_form_#{sticky.id}" do %>
	  <div class="control-group radio">
      <div class="col-md-10">
  	    <label><%= radio_button_tag 'discard', 'single', true %> Only this sticky</label>
  	    <label><%= radio_button_tag 'discard', 'following' %> This sticky and all following</label>
  	    <label><%= radio_button_tag 'discard', 'all' %> All stickies in group</label>
      </div>
	  </div>
  <% end %>
  </div>

  <div class="modal-footer">
    <%= link_to 'Close', '#', class: 'btn', data: { target: "#delete-sticky-dialog_#{sticky.id}", object: 'modal-hide' } %>
    <%= link_to 'Delete Sticky(ies)', '#', class: 'btn btn-danger-inverse', data: { target: "#sticky_delete_form_#{sticky.id}", object: 'submit' } %>
  </div>
</div>
