<div id="delete-sticky-dialog_<%= sticky.id %>" class="modal" style="display:none">
  <div class="modal-header">
    Delete Sticky in Group:
    <a class="close" data-dismiss="modal">×</a>
  </div>
  <div class="modal-body">
	<%= form_tag sticky_path(sticky, from_calendar: params[:from_calendar].to_i), method: :delete, id: "sticky_delete_form_#{sticky.id}" do %>
	  <div class="field">
	    <%= radio_button_tag 'discard', 'single', true %> Only this sticky<br />
	    <%= radio_button_tag 'discard', 'following' %> This sticky and all following<br />
	    <%= radio_button_tag 'discard', 'all' %> All stickies in group<br />
	  </div>
  <% end %>
  </div>

  <div class="modal-footer">
    <%= link_to_function "Close", "$('#delete-sticky-dialog_#{sticky.id}').modal('hide');", class: 'btn' %>
    <%= link_to_function 'Delete Sticky(ies)', "$('#sticky_delete_form_#{sticky.id}').submit();", class: 'btn btn-danger' %>
  </div>
</div>
