<% @title = @sticky.new_record? ? "New Sticky" : "Edit Sticky #{@sticky.name}" %>
<table style="width:100%;table-layout:fixed">
  <tr>
    <td style="vertical-align:top;text-align:left">
      <%= @title %>
    </td>
    <td style="vertical-align:top;text-align:center;white-space:nowrap">

    </td>
    <td style="vertical-align:top;text-align:right">
      <%= link_to 'New Group', '#', data: { object: 'load-new-group' } if @sticky.new_record? %>
    </td>
  </tr>
</table>

<hr class="soften" style="margin-top:5px;margin-bottom:35px"/>

<%= form_for(@sticky, remote: true, html: { class: 'form-horizontal', style: 'margin: 0px' }) do |f| %>
  <%= hidden_field_tag :use_template, 'redesign' %>
  <%= render partial: 'stickies/inner_form', locals: { f: f } %>

  <div style="margin-top:35px;">
    <% if @sticky.new_record? %>
      <%= link_to 'Cancel', '#', class: 'btn btn-xs btn-default pull-right', data: { object: 'hide-sticky-modal' } %>
    <% else %>
      <%= link_to 'Cancel', sticky_path(@sticky, from_calendar: params[:from_calendar], from_checkbox: params[:from_checkbox]), method: :get, remote: true, class: 'btn btn-xs btn-default pull-right' %>
    <% end %>

    <%= f.submit nil, class: 'btn btn-primary btn-xs pull-right', style: 'margin-right:5px', data: { object: 'sticky-submit', target: @sticky.new_record? ? "#new_sticky" : "#edit_sticky_#{@sticky.id}" } %>
  </div>
<% end %>
