<% @title = @sticky.new_record? ? "New Sticky" : "Edit Sticky #{@sticky.name}" %>
<table style="width:100%;table-layout:fixed">
  <tr>
    <td style="vertical-align:top;text-align:left">
      <%= @title %>
    </td>
    <td style="vertical-align:top;text-align:center;white-space:nowrap">

    </td>
    <td style="vertical-align:top;text-align:right">

    </td>
  </tr>
</table>

<hr class="soften" style="margin-top:5px;margin-bottom:35px"/>

<%# @sticky = current_user.stickies.new() %>
<%# @sticky.project = current_user.all_projects.first if current_user.all_projects.size == 1 %>
<%# @project_id = @sticky.project_id %>

<%= form_for(@sticky, remote: true, html: { class: 'form-horizontal' }) do |f| %>
  <%= hidden_field_tag :use_template, 'redesign' %>
  <%= params[:from_calendar] = '0'; render partial: 'stickies/inner_form', locals: { f: f } %>

  <% if false %>
  <div class="form-actions modal-footer">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', '#', class: 'btn', data: { target: '#new-sticky-or-group-dialog', object: 'modal-hide', remove_class: 'error' } %>
  </div>
  <% end %>

  <div style="height:30px; margin-top:35px;">
    <%= link_to 'Cancel', @sticky, method: :get, remote: true, class: 'btn btn-mini pull-right' %>

    <%= f.submit nil, class: 'btn btn-primary btn-mini pull-right', style: 'margin-right:5px' %>
  </div>
<% end %>
