<div class="page-header">
  <h1>
    <%= @title %> <small><%= "Project #{link_to @sticky.project.name, @sticky.project} ".html_safe if @sticky.project %></small>
    <% if not @sticky.new_record? and @sticky.modifiable_by?(current_user) %>
      <% if @sticky.group %>
        <%= link_to 'Delete Sticky', '#', class: 'btn btn-xs btn-danger-inverse', data: { object: 'modal-show', target: "#delete-sticky-dialog_#{@sticky.id}" } %>
      <% else %>
        <%= link_to 'Delete Sticky', sticky_path(@sticky, from: params[:from]), method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Sticky #{@sticky.name}?" } %>
      <% end %>
    <% end %>
  </h1>
</div>

<%= form_for(@sticky, html: { class: 'form-horizontal' }) do |f| %>
  <% if @sticky.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@sticky.errors.count, "error") %> prohibited this sticky from being saved</h4>

      <ul>
      <% @sticky.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :from, params[:from] %>

  <%= render partial: 'stickies/inner_form', locals: { f: f } %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary', data: { object: 'sticky-submit', target: @sticky.new_record? ? "#new_sticky" : "#edit_sticky_#{@sticky.id}" } %>

      <% if params[:from] == 'month' %>
        <%= link_to 'Cancel', month_path( date: @sticky.due_date.blank? ? '' : @sticky.due_date.strftime('%Y%m%d') ), class: 'btn btn-default' %>
      <% else %>
        <%= cancel %>
      <% end %>
    </div>
  </div>

<% end %>

<% if @sticky.group %>
  <%= render partial: 'delete_sticky_dialog', locals: { sticky: @sticky } %>
<% end %>
