<% width = '914px' %>
<%= form_for(@sticky) do |f| %>
  <% if @sticky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sticky.errors.count, "error") %> prohibited this sticky from being saved:</h2>

      <ul>
      <% @sticky.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :rows => 7, :style => "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :project_id %><br />
      <%= f.select :project_id, options_for_select([['---', nil]] + current_user.all_projects.collect{|p| [p.name, p.id]}) %>
    </div>
    <div class="field">
      <%= f.label :sticky_id %><br />
      <%= f.select :sticky_id, options_for_select([['---', nil]] + current_user.all_stickies.collect{|p| [s.name, s.id]}) %>
    </div>
    <div class="field">
      <%= f.label :status %><br />
      <%= f.select :status, Sticky::STATUS %>
    </div>
    <div class="field">
      <%= f.label :sticky_type %><br />
      <%= f.select :status, Sticky::STICKY_TYPE %>
    </div>
    <div class="field">
      <%= f.label :start_date %><br />
      <%= f.date_select :start_date %>
    </div>
    <div class="field">
      <%= f.label :end_date %><br />
      <%= f.date_select :end_date %>
    </div>
  </fieldset>
  
  <div class="actions">
    <button class="positive">
      <%= image_tag('icons/tick.png', :alt => '') %>
      <%= @sticky.new_record? ? "Create Sticky" : "Update Sticky" %>
    </button>
    <%= cancel %>
		<br />
  </div>

<% end %>
