<%= form_for(@sticky, html: { class: 'form-horizontal' }) do |f| %>
  <% if @sticky.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@sticky.errors.count, "error") %> prohibited this task from being saved</h4>

      <ul>
      <% @sticky.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'stickies/inner_form', locals: { f: f } %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary', data: { object: 'sticky-submit', target: @sticky.new_record? ? "#new_sticky" : "#edit_sticky_#{@sticky.id}" } %>
      <%= cancel %>
    </div>
  </div>
<% end %>
