<% @width = '914px' %>
<%= form_for(@sticky) do |f| %>
  <% if @sticky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sticky.errors.count, "error") %> prohibited this sticky from being saved:</h2>

      <ul>
      <% @sticky.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>
    <%= render partial: 'stickies/inner_form', locals: { f: f } %>
  </fieldset>

  <div class="actions">
    <% form_name = @sticky.new_record? ? 'new_sticky' : "edit_sticky_#{@sticky.id}" %>
    <%= link_to_function image_tag('contour/tick.png', alt: '') + (@sticky.new_record? ? "Create Sticky" : "Update Sticky"), "$('##{form_name}').submit();", class: "button positive" %>
    <% if params[:from_calendar] == '1' %>
      <%= link_to image_tag('contour/cross.png', alt: '') + 'Cancel', calendar_stickies_path(selected_date: @sticky.due_date.blank? ? '' : @sticky.due_date.strftime('%m/%d/%Y')), class: 'button negative' %>
    <% else %>
      <%= cancel %>
    <% end %>
    <% if not @sticky.new_record? and current_user.all_stickies.include?(@sticky)  %>
      <% if @sticky.group %>
        <%= link_to_function image_tag('contour/delete.png', alt: '') + "Delete Sticky", "$('#delete-sticky-dialog_#{@sticky.id}').dialog('open'); return false;", class: 'button negative' %>
      <% else %>
        <%= link_to image_tag('contour/delete.png', alt: '') + "Delete Sticky", sticky_path(@sticky, from_calendar: params[:from_calendar].to_i), confirm: "Are you sure you want to delete Sticky #{@sticky.name}?", method: :delete, class: 'button negative' %>
      <% end %>
    <% end %>
		<br />
  </div>

<% end %>
<% if @sticky.group %>
  <%= render partial: 'delete_sticky_dialog', locals: { sticky: @sticky } %>
<% end %>
