<div class="page-header">
  <h1>
    <%= @title %> <small><%= "Project #{link_to @sticky.project.name, @sticky.project} ".html_safe if @sticky.project %></small>
    <% if not @sticky.new_record? and @sticky.modifiable_by?(current_user) %>
      <% if @sticky.group %>
        <%= link_to 'Delete Sticky', '#', class: 'btn btn-mini btn-danger', data: { object: 'modal-show', target: "#delete-sticky-dialog_#{@sticky.id}" } %>
      <% else %>
        <%= link_to 'Delete Sticky', sticky_path(@sticky, from_calendar: params[:from_calendar].to_i), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Sticky #{@sticky.name}?" } %>
      <% end %>
    <% end %>
  </h1>
</div>

<%= form_for(@sticky, html: { class: 'form-horizontal' }) do |f| %>
  <% if @sticky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sticky.errors.count, "error") %> prohibited this sticky from being saved:</h2>

      <ul>
      <% @sticky.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :from, params[:from] %>

  <%= render partial: 'stickies/inner_form', locals: { f: f } %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary', data: { object: 'sticky-submit', target: @sticky.new_record? ? "#new_sticky" : "#edit_sticky_#{@sticky.id}" } %>

    <% if params[:from_calendar] == '1' %>
      <%= link_to 'Cancel', calendar_stickies_path(selected_date: @sticky.due_date.blank? ? '' : @sticky.due_date.strftime('%m/%d/%Y')), class: 'btn' %>
    <% else %>
      <%= cancel %>
    <% end %>
  </div>

<% end %>

<% if @sticky.group %>
  <%= render partial: 'delete_sticky_dialog', locals: { sticky: @sticky } %>
<% end %>
