<% [['planned', 'ongoing'], ['completed']].each do |status| %>
  <% stickies = @project.stickies.status(status) %>
  <table width="100%">
    <tr>
      <th>ID</th>
      <th>Comments</th>
      <th>Name/Description</th>
      <th>Status</th>
      <th style="white-space:nowrap">Assigned To</th>
  <% if false %>    <th>Time Period</th><% end %>
      <th></th>
    </tr>

  <% stickies.each do |sticky| %>
    <% @object = sticky %>
    <% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>
    <tbody>
      <tr>
        <td style="white-space:nowrap"><%= link_to sticky.name, sticky %></td>
        <td style="white-space:nowrap;text-align:center"><%= link_to_function "+ (#{sticky.comments.size})", "toggleSticky('##{@object.class.name.downcase}_#{@object.id}_comments_#{@position}');" %></td>
        <td><div style="width:600px"><pre class="collapsed" id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>_description"><%= sticky.description %></pre></div></td>
        <td style="white-space:nowrap;vertical-align:middle"><%= display_status(sticky.status) %></td>
        <td style="white-space:nowrap;"><%= link_to sticky.owner.nickname if sticky.owner %></td>
  <% if false %>      <td style="text-align:center"><%= sticky.start_date %><br />to<br /><%= sticky.end_date %></td><% end %>
        <td style="vertical-align:middle"><%= link_to image_tag('icons/edit.png', :alt => ''), edit_sticky_path(sticky) if current_user.all_projects.include?(@project) %></td>
      </tr>
    </tbody>
    <tbody id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>" style="display:none">
      <%= render :partial => 'comments/index_table' %>
    </tbody>
  <% end %>
  </table>
<% end %>



<% if false %>



<% [['planned', 'ongoing'], ['completed']].each do |status| %>
  <fieldset>
    <% stickies = @project.stickies.status(status) %>
    <legend><%= status.join(' and ').titleize %> Stickies (<%= stickies.size %>)</legend>
    <% stickies.each do |sticky| %>
      <div>
        <strong><%= sticky.status %></strong>
        <%= link_to sticky.user.name, sticky.user %> Sticky <%= link_to sticky.name, sticky %>:
        <pre><%= sticky.description %></pre><br />
        <% @object = sticky %>
        <% @limit = (status == ['planned', 'ongoing']) ? nil : 5 %>
        <% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>
        <div id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>" class = "comment_box">
          <%= render :partial => 'comments/index' %>
          <hr />
        </div>
      </div>
      <br />
    <% end %>
  </fieldset>
<% end %>

<% end %>