<fieldset>
  <legend>Stickies <%= link_to 'add', new_sticky_path(:sticky => {:project_id => @project.id}) if current_user.all_projects.include?(@project) %></legend>
  <% @project.stickies.each do |sticky| %>
    <div><%= link_to sticky.user.name, sticky.user %> Sticky <%= link_to sticky.sticky_type, sticky %>: <pre><%= sticky.description %></pre></div>
      <% @object = sticky %>
      <% @limit = 5 %>
      <div id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments" class = "comment_box">
        <%= render :partial => 'comments/index' %>
      </div>
  <% end %>
</fieldset>