<%= hidden_field_tag 'from_calendar', params[:from_calendar].to_i %>

<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description, rows: 7, style: "width:#{@width}" %>
</div>

<% if @sticky.group %>
<span class="quiet">This sticky is part of Group: <%= link_to @sticky.group.name, @sticky.group %></span><br /><br />

  <% unless @sticky.group.description.blank? %>
    <div class="field">
      <%= label_tag 'group_description', 'Group Description' %>
      <%= simple_format @sticky.group.description %>
    </div>
  <% end %>
<% end %>

<div class="field">
  <%= f.label :project_id %><br />
  <% if @sticky.group %>
    <%= @sticky.project.name %>
  <% else %>
    <%= f.select :project_id, options_for_select([['---', nil]] + current_user.all_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = '0') ASC, name").collect{|p| [p.name, p.id]}, @sticky.project_id) %>
  <% end %>
</div>

<div class="field" id="frame_selection_container">
  <%= render partial: 'projects/frame_selection' %>
</div>

<div class="field">
  <%= f.label :completed %><br />
  <%= f.check_box :completed %>
</div>

<div class="field" id="owner_selection_container">
  <%= render partial: 'projects/user_selection' %>
</div>

<div class="field">
  <table class="blank padded">
    <thead>
      <tr>
        <th style="text-align:left"><%= f.label :due_date %></th>
        <% if @sticky.group %><th style="text-align:left">Group Due Date Shift Options</th><% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_field :due_date, class: 'datepicker', value: @sticky.due_date ? @sticky.due_date.strftime('%m/%d/%Y') : '' %></td>
          <% if @sticky.group %>
            <td>
              <div class="field">
                <table class="blank padded">
                  <tr>
                    <td><%= radio_button_tag 'shift', 'single', true %> <b>Single:</b></td><td>Only change this sticky's due date</td>
                  </tr>
                  <tr>
                    <td><%= radio_button_tag 'shift', 'incomplete' %> <b>Incomplete:</b></td><td>Shift this sticky's due date and all incomplete stickies in group</td>
                  </tr>
                  <tr>
                    <td><%= radio_button_tag 'shift', 'all' %>  <b>All:</b></td><td>Shift all stickies in group</td>
                  </tr>
                </table>
              </div>
            </td>
          <% end %>
      </tr>
    </tbody>
  </table>
</div>

<div id="tag_selection_container">
  <%= render partial: 'projects/tag_selection' %>
</div>
