<%= hidden_field_tag 'from_calendar', params[:from_calendar].to_i %>


<div class="control-group">
  <%= f.label :description, class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :description, rows: 7, style: 'width:95%' %>
  </div>
</div>

<% if @sticky.group %>
    <div class="control-group">
      <label class="control-label">Group Description</label>
      <div class="controls" style="padding-top:5px">
        Group <%= link_to @sticky.group.name, @sticky.group %>
        <%= simple_format @sticky.group.description unless @sticky.group.description.blank? %>
      </div>
    </div>
<% end %>

<div class="control-group">
  <%= f.label :project_id, class: 'control-label' %>
  <div class="controls">
    <% if @sticky.group %>
      <div style="padding-top:5px">
        <%= link_to @sticky.project.name, @sticky.project %>
      </div>
    <% else %>
      <% project_groups = [] %>
      <% project_groups << ["Favorited", current_user.all_favorite_projects.collect{|p| [p.name, p.id]}] if current_user.all_favorite_projects.size > 0 %>
      <% project_groups << ["Other", current_user.all_other_projects.collect{|p| [p.name, p.id]}] if current_user.all_other_projects.size > 0 %>
      <%= f.select :project_id, options_for_select([['---', nil]]) + grouped_options_for_select(project_groups, @sticky.project_id) %>
    <% end %>
  </div>
</div>

<div class="control-group" id="board_selection_container">
  <%= render partial: 'projects/board_selection' %>
</div>

<div class="control-group">
  <%= f.label :completed, class: 'control-label' %>
  <div class="controls">
    <label class="checkbox" style="width:185px"><%= f.check_box :completed %></label>
  </div>
</div>

<div class="control-group" id="owner_selection_container">
  <%= render partial: 'projects/user_selection' %>
</div>

<div class="control-group">
  <%= f.label :due_date, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :due_date, class: 'datepicker', value: @sticky.due_date ? @sticky.due_date.strftime('%m/%d/%Y') : '', autocomplete: 'off' %>
    <span style="white-space:nowrap"><%= check_box_tag :set_time, '1', @sticky.all_day? %> All day</span>
    <% if @sticky.group %>
      <table class="blank padded">
        <tr>
          <td><%= radio_button_tag 'shift', 'single', true %> <b>Single:</b></td><td>Only change this sticky's due date</td>
        </tr>
        <tr>
          <td><%= radio_button_tag 'shift', 'incomplete' %> <b>Incomplete:</b></td><td>Shift this sticky's due date and all incomplete stickies in group</td>
        </tr>
        <tr>
          <td><%= radio_button_tag 'shift', 'all' %>  <b>All:</b></td><td>Shift all stickies in group</td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<div class="control-group" data-object="time-options" style="<%= 'display:none' if @sticky.all_day? %>">
  <%= f.label :due_at_string, 'Due at', class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :due_at_string, class: 'timepicker' %>
  </div>
</div>

<div class="control-group" data-object="time-options" style="<%= 'display:none' if @sticky.all_day? %>">
  <%= f.label :duration, nil, class: 'control-label' %>
  <div class="controls">
    <%= f.number_field :duration, { min: 0 } %>
    <%= f.select :duration_units, options_for_select(['minutes', 'hours', 'days', 'weeks', 'months', 'years'].collect{|i| [i,i]}, @sticky.duration_units) %>
  </div>
</div>

<div id="tag_selection_container">
  <%= render partial: 'projects/tag_selection' %>
</div>

<div class="control-group">
  <%= f.label :repeat, "Repeat", class: 'control-label' %>
  <div class="controls">
    <%= f.number_field :repeat_amount, { data: { object: 'repeat-options' }, style: "#{'display:none' if @sticky.repeat == 'none' }" } %>
    <%= f.select :repeat, Sticky::REPEAT %> <span data-object="repeat-options" style="<%= 'display:none' if @sticky.repeat == 'none' %>">after due date</span>
  </div>
</div>
