<%= hidden_field_tag 'from_calendar', params[:from_calendar].to_i %>
<%= hidden_field_tag 'from_checkbox', params[:from_checkbox].to_i %>


<div class="form-group">
  <%= f.label :description, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_area :description, rows: 7, class: 'form-control' %>
  </div>
</div>

<% if @sticky.group %>
    <div class="form-group">
      <label class="control-label">Group Description</label>
      <div class="controls" style="padding-top:5px">
        Group <%= link_to @sticky.group.name, @sticky.group %>
        <%= simple_format @sticky.group.description unless @sticky.group.description.blank? %>
      </div>
    </div>
<% end %>

<div class="form-group">
  <%= f.label :project_id, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <% if @sticky.group %>
      <div style="padding-top:5px">
        <%= link_to @sticky.project.name, @sticky.project %>
      </div>
    <% else %>
      <% project_groups = [] %>
      <% project_groups << ["Favorited", current_user.all_favorite_projects.collect{|p| [p.name, p.id]}] if current_user.all_favorite_projects.size > 0 %>
      <% project_groups << ["Other", current_user.all_other_projects.collect{|p| [p.name, p.id]}] if current_user.all_other_projects.size > 0 %>
      <%= f.select :project_id, options_for_select([['---', nil]]) + grouped_options_for_select(project_groups, @sticky.project_id), {}, class: 'form-control' %>
    <% end %>
  </div>
</div>

<div class="form-group" id="board_selection_container">
  <%= render partial: 'projects/board_selection' %>
</div>

<div class="form-group">
  <%= f.label :completed, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <label class="checkbox" style="width:185px"><%= f.check_box :completed %></label>
  </div>
</div>

<div class="form-group" id="owner_selection_container">
  <%= render partial: 'projects/user_selection' %>
</div>

<div class="form-group">
  <%= f.label :due_date, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <%= f.text_field :due_date, class: 'datepicker form-control', value: @sticky.due_date ? @sticky.due_date.strftime('%m/%d/%Y') : '', autocomplete: 'off' %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <label class="checkbox" style="width:185px">
          <span style="white-space:nowrap"><%= check_box_tag :set_time, '1', @sticky.all_day? %> All day</span>
        </label>
      </div>
    </div>
    <% if @sticky.group %>
      <table class="blank padded">
        <tr>
          <td><%= radio_button_tag 'shift', 'single', true %> <b>Single:</b></td><td>Only change this sticky's due date</td>
        </tr>
        <tr>
          <td><%= radio_button_tag 'shift', 'incomplete' %> <b>Incomplete:</b></td><td>Shift this sticky's due date and all incomplete stickies in group</td>
        </tr>
        <tr>
          <td><%= radio_button_tag 'shift', 'all' %>  <b>All:</b></td><td>Shift all stickies in group</td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<div class="form-group" data-object="time-options" style="<%= 'display:none' if @sticky.all_day? %>">
  <%= f.label :due_at_string, 'Due at', class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-3">
        <%= f.text_field :due_at_string, class: 'timepicker form-control' %>
      </div>
    </div>
  </div>
</div>

<div class="form-group" data-object="time-options" style="<%= 'display:none' if @sticky.all_day? %>">
  <%= f.label :duration, nil, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="row">
      <div class="col-xs-6">
        <%= f.number_field :duration, min: 0, class: 'form-control' %>
      </div>
      <div class="col-xs-6">
        <%= f.select :duration_units, options_for_select(['minutes', 'hours', 'days', 'weeks', 'months', 'years'].collect{|i| [i,i]}, @sticky.duration_units), {}, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>

<div id="tag_selection_container">
  <%= render partial: 'projects/tag_selection' %>
</div>

<div class="form-group">
  <%= f.label :repeat, "Repeat", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <div class="row">
      <div class="col-xs-3" data-object="repeat-options" style="<%= 'display:none' if @sticky.repeat == 'none' %>">
        <%= f.number_field :repeat_amount, class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.select :repeat, Sticky::REPEAT, {}, class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <span data-object="repeat-options" style="<%= 'display:none' if @sticky.repeat == 'none' %>">after due date</span>
      </div>
    </div>
  </div>
</div>
