<%= link_to showbs3_sticky_path(sticky), remote: true, class: "list-group-item", id: "list_sticky_#{sticky.id}" do %>
  <%= image_tag sticky.owner.avatar_url(32, "identicon"), class: 'pull-right img-rounded', style: 'margin-right:-11px;margin-top: -6px;margin-bottom: -6px;' if sticky.owner %>
  <div style="overflow:hidden;white-space:nowrap;<%= 'margin-right:37px' if sticky.owner %>">
    <span class="glyphicon glyphicon-<%= sticky.completed? ? 'check' : 'unchecked' %>" data-object="quick-complete" data-sticky-id="<%= sticky.id %>" data-completed="<%= not sticky.completed %>"></span>
    <% sticky.tags.each do |tag| %>
      <%= @tag = tag; render partial: 'tags/show' %>
    <% end %>
    <%= sticky.description %>
  </div>
<% end %>
