<%= link_to sticky, remote: true, class: "list-group-item", id: "list_sticky_#{sticky.id}" do %>
  <%= image_tag sticky.owner.avatar_url(32, "identicon"), class: 'pull-right img-rounded', style: 'margin-right:-11px;margin-top: -6px;margin-bottom: -6px;' if sticky.owner %>
  <div style="overflow:hidden;white-space:nowrap;<%= 'margin-right:37px' if sticky.owner %>">
    <% if sticky.modifiable_by?(current_user) %>
      <span class="glyphicon glyphicon-<%= sticky.completed? ? 'check' : 'unchecked' %>" data-object="quick-complete" data-sticky-id="<%= sticky.id %>" data-completed="<%= not sticky.completed %>"></span>
    <% end %>
    <% sticky.tags.each do |tag| %>
      <%= @tag = tag; render partial: 'tags/show' %>
    <% end %>
    <%= strip_tags(simple_markdown sticky.full_description).html_safe %>
  </div>
  <div data-object="sticky-helper" style="display:none"><% sticky.tags.each do |tag| %><%= @tag = tag; render partial: 'tags/show' %><% end %> <%= strip_tags(simple_markdown sticky.full_description).truncate(30, separator: ' ').html_safe %></div>
<% end %>
