<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <% if @sticky.owner %>
    <div class="pull-right">
      <%= image_tag @sticky.owner.avatar_url(32, "identicon"), class: 'img-rounded', style: 'margin: -6px 10px;' %>
    </div>
    <div class="pull-right">
      <%= @sticky.owner.name %>
    </div>
  <% end %>

  <h4 class="modal-title">
  <%= link_to @sticky.project.name, @sticky.project %>
  <% if @sticky.board %>
    <span style="white-space:nowrap">&middot; <%= link_to @sticky.board.name, project_path(@sticky.project, board: @sticky.board.name) %></span>
  <% end %>
  <% if @sticky.tags.size > 0 %>
    &middot; <% @sticky.tags.each do |tag| %><%= @tag = tag; render partial: 'tags/show' %><% end %>
  <% end %>
  <% unless @sticky.all_day %>
    <span style="white-space:nowrap">&middot; <%= @sticky.due_time %></span>
  <% end %>
  </h4>
</div>
<div class="modal-body long-description">
  <%= simple_markdown sticky.full_description %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <% if @sticky.modifiable_by?(current_user) %>
    <%= link_to 'Edit', edit_sticky_path(@sticky, from: params[:from]), method: :get, remote: true, class: 'btn btn-default' %>

    <% if @sticky.completed? %>
      <%= link_to 'Mark Not Completed', sticky_path( @sticky, sticky: { completed: false }, from: 'checkbox' ), method: :patch, remote: true, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Mark Completed', sticky_path( @sticky, sticky: { completed: true }, from: 'checkbox' ), method: :patch, remote: true, class: 'btn btn-primary' %>
    <% end %>

    <%= link_to 'Delete', @sticky, method: :delete, remote: true, class: 'btn btn-danger-inverse pull-left', tabindex: '-1', data: { confirm: "Are you sure you want to delete Task #{@sticky.name}?" } %>
  <% end %>
</div>

<% if @sticky.group %>
  <div class="modal-footer" style="text-align:left;margin-top:0px">
    Group <%= link_to @sticky.group.name, @sticky.group, target: '_blank' %>
    <%= @stickies = @sticky.group.stickies; render partial: 'stickies/simple_stickies' %>
  </div>
<% end %>

<div class="modal-footer" style="text-align:left;margin-top:0px" id="sticky_<%= @sticky.id %>_comments">
  <%= @comments = @sticky.comments.page(0).per(0); render partial: 'comments/index' %>
</div>
