<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <% if @sticky.owner %>
    <div class="pull-right">
      <%= image_tag @sticky.owner.avatar_url(32, "identicon"), class: 'img-rounded', style: 'margin: -6px 10px;' %>
    </div>
    <div class="pull-right">
      <%= @sticky.owner.name %>
    </div>
  <% end %>

  <h4 class="modal-title">
  <%= link_to @sticky.project.name, @sticky.project %>
  <% if @sticky.board %>
    &middot; <%= link_to @sticky.board.name, project_path(@sticky.project, board: @sticky.board.name) %>
  <% end %>
  <% if @sticky.tags.size > 0 %>
    &middot; <% @sticky.tags.each do |tag| %><%= @tag = tag; render partial: 'tags/show' %><% end %>&nbsp;
  <% end %>
  </h4>
</div>
<div class="modal-body">
  <%= simple_markdown sticky.full_description %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <% if @sticky.modifiable_by?(current_user) %>
    <%= link_to 'Edit', edit_sticky_path(@sticky, bs3: '1'), method: :get, remote: true, class: 'btn btn-default' %>

    <% if @sticky.completed? %>
      <%= link_to 'Mark Not Completed', completebs3_sticky_path( @sticky, completed: false ), method: :post, remote: true, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Mark Completed', completebs3_sticky_path( @sticky, completed: true ), method: :post, remote: true, class: 'btn btn-primary' %>
    <% end %>

    <%= link_to "Delete Sticky", destroy_multiple_stickies_path(sticky_ids: @sticky.id), method: :post, remote: true, class: 'btn btn-danger-inverse pull-left', tabindex: '-1', data: { confirm: "Are you sure you want to delete Sticky #{@sticky.name}?" } %>
  <% end %>
</div>
