<h4 style="float:left"><%= Date::MONTHNAMES[@selected_date.month] %> <%= @selected_date.year %></h4>
<div style="clear:both"></div>
<table style="width:100%;border-collapse:collapse;table-layout: fixed;"><%#= '<col width="14%"/>'*7 %>
  <thead>
    <tr>
      <% (0..6).each do |iDay| %>
        <th><%= Date::DAYNAMES[iDay] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody style="font-size:11px">
    <tr>
      <% (0..@last_saturday - @first_sunday).each do |first_day_offset| %>
        <% iDate = @first_sunday + first_day_offset.day %>
        <td valign="top" style="padding:0px"
            class="<%= 'calendar-entry-body-today' if iDate == Date.today %>
                   <%= 'last-month' if iDate < @start_date %>
                   <%= 'next-month' if iDate > @end_date %>"
            onmouseover="$(this).addClass('hover');$('#calendar_box_<%= first_day_offset %>_new_entry_link').show();"
            onmouseout="$(this).removeClass('hover');$('#calendar_box_<%= first_day_offset %>_new_entry_link').hide();"
<% if false %>            ondblclick="window.location.href = $('#calendar_box_<%= first_day_offset %>_new_entry_link').attr('href');" <% end %>
            ondblclick="$('#initial_due_date').val('<%= iDate.strftime('%m/%d/%Y') %>');$('#sticky_due_date').val('<%= iDate.strftime('%m/%d/%Y') %>'); $('#new-sticky-or-group-dialog').dialog('open');">
          <div style="width:100%">
            <div class="calendar-entry-heading">
              <%= link_to_function image_tag('contour/addfile.png', style: 'border:none;vertical-align:text-bottom', size: '11x11', title: "New Sticky due on #{iDate.strftime("%B %e, %Y")}"), "$('#initial_due_date').val('#{iDate.strftime('%m/%d/%Y')}');$('#sticky_due_date').val('#{iDate.strftime('%m/%d/%Y')}'); $('#new-sticky-or-group-dialog').dialog('open');", style: 'display:none', id: "calendar_box_#{first_day_offset}_new_entry_link" %>
              <% if [@start_date, (@end_date + 1.day)].include?(iDate) %>
                <%= iDate.strftime("%b %e") %>
              <% else %>
                <%= iDate.strftime("%e") %>
              <% end %>
            </div>
            <div style="min-height:60px">
              <%# @stickies.with_due_date_for_calendar(iDate,iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
              <%# @stickies.where(:start_date => iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
              <% case params[:date_type] when 'start_date' %>
                <% @stickies.where(:start_date => iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
                  <%= @sticky = sticky; render partial: 'popup' %>
                <% end %>
              <% when 'end_date' %>
                <% @stickies.where(:end_date => iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
                  <%= @sticky = sticky; render partial: 'popup' %>
                <% end %>
              <% else %>
                <% @stickies.where(:due_date => iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
                  <%= @sticky = sticky; render partial: 'popup' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
        <%= "</tr><tr>".html_safe if first_day_offset % 7 == 6 and first_day_offset != @last_saturday - @first_sunday %>
      <% end %>
    </tr>
  </tbody>
</table>
<br />
<%= javascript_tag do %>
  $('#month-breakdown')
    .qtip({
      content:{
        text: '<%== escape_javascript((
          Project.where(id: @stickies.collect(&:project_id).uniq).order(:name).collect{|project| "<span style=\"color: #{colors(current_user.all_viewable_projects.collect{|p| p.id}.index(project.id))}\">#{project.name}<span>"}.join(' <span class="quiet">-</span> ')
        ).html_safe) %>',
        title:{
          text: 'Projects'
        }
      },
      show:{
        event: 'mouseenter'
      },
      hide: {
        event: 'mouseleave'
      },
      position:{
        my: 'top right',
        at: 'bottom right',
        viewport: $(window)
      },
      style:{
        classes: 'ui-tooltip-shadow ui-tooltip-light'
      }
    });
<% end %>