<table style="width:100%;border-collapse:collapse;table-layout: fixed;margin-bottom:0px">
  <thead>
    <tr>
      <% (0..6).each do |iDay| %>
        <th style="padding:0px"><%= Date::DAYNAMES[iDay] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody style="font-size:11px">
    <tr>
      <% (0..@last_saturday - @first_sunday).each do |first_day_offset| %>
        <% iDate = @first_sunday + first_day_offset.day %>
        <td valign="top" style="padding:0px"
            class="<%= 'calendar-entry-body-today' if iDate == Date.today %>
                   <%= 'last-month' if iDate < @start_date %>
                   <%= 'next-month' if iDate > @end_date %>"
            ondblclick="$('#initial_due_date').val('<%= iDate.strftime('%m/%d/%Y') %>');$('#sticky_due_date').val('<%= iDate.strftime('%m/%d/%Y') %>'); $('#new-sticky-or-group-dialog').dialog('open');">
          <div style="width:100%">
            <div class="calendar-entry-heading" style="padding-right:2px;">
              <%= ([@start_date, (@end_date + 1.day)].include?(iDate) ? iDate.strftime("%b %e") : iDate.strftime("%e") ) %>
            </div>
            <div style="min-height:60px;padding-left:2px" id="day_<%= iDate.strftime("%m_%d_%Y") %>" class="droppable">
              <% @stickies.where(due_date: iDate).order('stickies.project_id, stickies.id').group_by(&:tag_ids).each do |tag_ids, stickies| %>
                <% @tags = Tag.find_all_by_id(tag_ids) %>
                <div style="padding-bottom:5px" id="day_<%= iDate.strftime("%m_%d_%Y") %>_tag_container_<%= tag_ids.sort.join('_') %>">
                  <%= render partial: 'tags/small_tags' %>
                  <% stickies.sort{|a,b| a.due_date_time_start <=> b.due_date_time_start}.each do |sticky| %>
                    <%= @sticky = sticky; render partial: 'popup' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </td>
        <%= "</tr><tr>".html_safe if first_day_offset % 7 == 6 and first_day_offset != @last_saturday - @first_sunday %>
      <% end %>
    </tr>
  </tbody>
</table>
