<table class="month-stickies">
  <thead>
    <tr>
      <% (0..6).each do |weekday| %>
        <th>
          <% if weekday == 0 %>
            <%= link_to month_path(date: (@anchor_date - 1.month).strftime("%Y%m%d"), tags: params[:tags], owners: params[:owners], project_ids: params[:project_ids]), class: 'pull-left' do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
            <% end %>
          <% end %>
          <%= Date::ABBR_DAYNAMES[weekday] %>
          <% if weekday == 6 %>
            <%= link_to month_path(date: (@anchor_date + 1.month).strftime("%Y%m%d"), tags: params[:tags], owners: params[:owners], project_ids: params[:project_ids]), class: 'pull-right' do %>
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% (0..@last_saturday - @first_sunday).each do |day_offset| %>
        <% current_date = @first_sunday + day_offset.day %>
        <td valign="top" style="padding:0px; border: 1px solid #ddd"
            class="<%= 'calendar-entry-body-today' if current_date == Date.today %>
                   <%= 'last-month' if current_date < @start_date %>
                   <%= 'next-month' if current_date > @end_date %> droppable"
            data-due-date="<%= current_date.strftime("%m/%d/%Y") %>"
            data-object="create-sticky">
          <div class="calendar-entry-heading" style="padding-right:2px;">
            <%= link_to ([@start_date, (@end_date + 1.day)].include?(current_date) ? current_date.strftime("%b %e") : current_date.strftime("%e") ), week_path(date: current_date.strftime("%Y%m%d"), tags: params[:tags], owners: params[:owners], project_ids: params[:project_ids]), class: 'btn btn-xs' %>
          </div>
          <div style="min-height:90px;padding-left:2px;padding-right:2px" id="day_<%= current_date.strftime("%m_%d_%Y") %>">
            <% @stickies.with_due_date_for_calendar(current_date, current_date).order('stickies.project_id, stickies.id').group_by(&:tag_ids).each do |tag_ids, stickies| %>
              <% @tags = Tag.current.where(id: tag_ids) %>
              <div style="padding-bottom:5px" id="day_<%= current_date.strftime("%m_%d_%Y") %>_tag_container_<%= tag_ids.sort.join('_') %>">
                <%= render partial: 'tags/small_tags' %>
                <% stickies.sort{|a,b| a.due_date <=> b.due_date}.each do |sticky| %>
                  <%= @sticky = sticky; render partial: 'popup' %>
                <% end %>
              </div>
            <% end %>
          </div>
        </td>
        <%= "</tr><tr>".html_safe if day_offset % 7 == 6 and day_offset != @last_saturday - @first_sunday %>
      <% end %>
    </tr>
  </tbody>
</table>
