<h4><%= Date::MONTHNAMES[@selected_date.month] %> <%= @selected_date.year %>
  <span style='font-size: 11px;font-weight:normal'>
    <%= link_to_function '&laquo;'.html_safe, "goBackOneMonth();", :style => 'text-decoration:none', :title => 'Previous Month' %>
    <%= link_to_function 'Today', 'getToday()' %>
    <%= link_to_function '&raquo;'.html_safe, "goForwardOneMonth();", :style => 'text-decoration:none', :title => 'Next Month' %>
  </span>
</h4>

<table style="width:100%;border-collapse:collapse;table-layout: fixed;">
  <thead>
    <tr>
      <% (0..6).each do |iDay| %>
        <th style="padding:0px"><%= Date::DAYNAMES[iDay] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody style="font-size:11px">
    <tr>
      <% (0..@last_saturday - @first_sunday).each do |first_day_offset| %>
        <% iDate = @first_sunday + first_day_offset.day %>
        <td valign="top" style="padding:0px"
            class="<%= 'calendar-entry-body-today' if iDate == Date.today %>
                   <%= 'last-month' if iDate < @start_date %>
                   <%= 'next-month' if iDate > @end_date %>"
            onmouseover="$(this).addClass('hover');$('#calendar_box_<%= first_day_offset %>_new_entry_link').show();"
            onmouseout="$(this).removeClass('hover');$('#calendar_box_<%= first_day_offset %>_new_entry_link').hide();"
            ondblclick="$('#initial_due_date').val('<%= iDate.strftime('%m/%d/%Y') %>');$('#sticky_due_date').val('<%= iDate.strftime('%m/%d/%Y') %>'); $('#new-sticky-or-group-dialog').dialog('open');">
          <div style="width:100%">
            <div class="calendar-entry-heading" style="padding-right:2px;">
              <%= link_to_function image_tag('contour/addfile.png', style: 'border:none;vertical-align:text-bottom', size: '11x11', title: "New Sticky due on #{iDate.strftime("%B %e, %Y")}"), "$('#initial_due_date').val('#{iDate.strftime('%m/%d/%Y')}');$('#sticky_due_date').val('#{iDate.strftime('%m/%d/%Y')}'); $('#new-sticky-or-group-dialog').dialog('open');", style: 'display:none', id: "calendar_box_#{first_day_offset}_new_entry_link" %>
              <%= ([@start_date, (@end_date + 1.day)].include?(iDate) ? iDate.strftime("%b %e") : iDate.strftime("%e") ) %>
            </div>
            <div style="min-height:60px">
              <%# @stickies.with_due_date_for_calendar(iDate,iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
              <%# @stickies.where(:start_date => iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
              <% if false %>
                <% case params[:date_type] when 'start_date' %>
                  <% @stickies.where(:start_date => iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
                    <%= @sticky = sticky; render partial: 'popup' %>
                  <% end %>
                <% when 'end_date' %>
                  <% @stickies.where(:end_date => iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
                    <%= @sticky = sticky; render partial: 'popup' %>
                  <% end %>
                <% else %>
                  <% @stickies.where(:due_date => iDate).order('stickies.project_id, stickies.id').each do |sticky| %>
                    <%= @sticky = sticky; render partial: 'popup' %>
                  <% end %>
                <% end %>
              <% else %>
                <% @stickies.where(:due_date => iDate).order('stickies.project_id, stickies.id').group_by(&:tags).sort.each do |tags, stickies| %>
                  <div style="padding-bottom:5px;">
                    <% if tags.size > 0 %><div class="calendar-entry-amount"><%= image_tag('gentleface/16/tag.png', alt: '', size: '11x11', style: 'vertical-align:text-bottom') %></div><div class="calendar-entry-name" style="font-variant:small-caps;"><%= tags.sort.join(', ') %></div><% else %><div style="padding-top:5px"></div><% end %>
                    <% stickies.each do |sticky| %>
                      <%= @sticky = sticky; render partial: 'popup' %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
        <%= "</tr><tr>".html_safe if first_day_offset % 7 == 6 and first_day_offset != @last_saturday - @first_sunday %>
      <% end %>
    </tr>
  </tbody>
</table>
<%= javascript_tag do %>
  $('#month-breakdown')
    .qtip({
      content:{
        text: '<%== escape_javascript((
          Project.where(id: @stickies.collect(&:project_id).uniq).order(:name).collect{|project| "<span style=\"color: #{colors(current_user.all_viewable_projects.collect{|p| p.id}.index(project.id))}\">#{project.name}<span>"}.join(' <span class="quiet">-</span> ')
        ).html_safe) %>',
        title:{
          text: 'Projects'
        }
      },
      show:{
        event: 'mouseenter'
      },
      hide: {
        event: 'mouseleave'
      },
      position:{
        my: 'top right',
        at: 'bottom right',
        viewport: $(window)
      },
      style:{
        classes: 'ui-tooltip-shadow ui-tooltip-light'
      }
    });
<% end %>