<div class="modal" id="move-group-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Move Sticky in Group</h4>
        </div>
        <div class="modal-body">
          <p>
          This sticky is in a group, choose whether you would like to shift just this sticky, this sticky and any not completed stickies, or all the stickies in the group.
          <%= hidden_field_tag 'move_sticky_date' %>
          <%= hidden_field_tag 'move_sticky_element_id' %>
          <%= hidden_field_tag 'move_sticky_id' %>
          </p>
        </div>

        <div class="modal-footer">
          <%= link_to 'Only This Sticky', '#', class: 'btn btn-primary', data: { object: 'shift-sticky', shift: 'single' } %>
          <%= link_to 'Shift Not Completed', '#', class: 'btn btn-default', data: { object: 'shift-sticky', shift: 'incomplete' } %>
          <%= link_to 'Shift All Stickies', '#', class: 'btn btn-default', data: { object: 'shift-sticky', shift: 'all' } %>
          <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { target: "#move-group-dialog", object: 'modal-hide' } %>
        </div>
      </div>
    </div>
  </div>
</div>
