<% unless @sticky.all_day? %><strong>Due At:</strong> <%= @sticky.due_at_range_short %><br /><br /><% end %>
<%= simple_format_links_target_blank @sticky.full_description %>

<span style='color:<%= @sticky.project.color(current_user) %>' class='project_<%= @sticky.project.id %>_color'><%= @sticky.project.name %></span><br /><br />

<% if @sticky.tags.size > 0 %><%= @sticky.tags.collect{|t| @tag = t; render partial: 'tags/show'}.join('').html_safe %><br /><br /><% end %>

<% if @sticky.owner %><strong>Assigned To:</strong> <%= @sticky.owner.name %><br /><br /><% end %>

<strong>Created By:</strong> <%= @sticky.user.name %><br /><br />

<% if @sticky.project.boards.size > 0 %><strong>Board:</strong> <%= @sticky.board ? @sticky.board.name : 'Holding Pen' %><br /><br /><% end %>

<% if @sticky.repeat != 'none' %><strong>Repeats:</strong> <%= @sticky.repeat %><% end %>
