-# TODO: project_## should not be a class, but rather a data attibute.
.sticky_popup.calendar-entry-name{ class: "stickies_#{sticky.completed ? 'completed' : 'planned'} project_#{sticky.project_id}", id: "sticky_#{sticky.id}_popup", data: { grouped: (sticky.group ? 'true' : 'false'), due_date: "#{sticky.due_date.strftime('%Y%m%d') if sticky.due_date}" } }
  %table
    %col{ width: '12px' }
    %tr
      %td{ style: 'margin:0;padding:0' }
        %span{ id: "sticky_#{sticky.id}_icon" }
          - if sticky.completed?
            -# TODO: Remove reference to gentleface
            = image_tag 'gentleface/16/checkmark.png', alt: '', size: '10x10'
          - elsif sticky.modifiable_by?(current_user)
            -# TODO: Remove colopicker/blank color?
            = image_tag 'colorpicker/blank.gif', alt: '', id: "sticky_#{sticky.id}_empty", size: '10x10'
            = link_to image_tag('gentleface/16/checkbox_unchecked.png', alt: '', size: '10x10'), complete_sticky_path(sticky, from: 'checkbox'), method: :post, remote: true, id: "sticky_#{sticky.id}_checkmark", style: 'display:none', onclick: "$('#sticky_#{sticky.id}_checkmark').hide();$('#sticky_#{sticky.id}_wait').show()"
          - else
            -# TODO: Remove colopicker/blank color?
            = image_tag 'colorpicker/blank.gif', alt: '', size: '10x10'
      %td{ style: 'margin:0;padding:0' }
        %b= sticky.due_time unless sticky.all_day?
        %span{ id: "sticky_#{sticky.id}_name" }
          = link_to strip_tags(simple_markdown sticky.full_description).truncate(27, separator: ' ').html_safe, sticky_path(sticky, from: 'month'), remote: true, method: :get, class: "project_#{sticky.project_id}_color", style: (sticky.completed? ? 'text-decoration:line-through;color:white' : 'color:white'), rel: "popover", data: { title: sticky.project.name, content: simple_markdown(sticky.description_html).gsub('"', '\\"'), html: true, placement: (sticky.due_date and sticky.due_date.wday == 6 ? 'left' : 'right'), trigger: 'hover' }
