<div class="calendar-entry-amount stickies_<%= @sticky.completed ? 'completed' : 'planned' %> project_<%= @sticky.project_id %>">
  <%= display_completion(@sticky.completed) %>
</div>
<div class="calendar-entry-name stickies_<%= @sticky.completed ? 'completed' : 'planned' %> project_<%= @sticky.project_id %>" id="sticky_<%= @sticky.id %>_popup">
  <%= link_to @sticky.full_description.truncate(27), edit_sticky_path(@sticky, :from_calendar => 1), style: "color: #{colors(current_user.all_viewable_projects.collect{|p| p.id}.index(@sticky.project_id))}" %>
  <% color = @sticky.completed? ? 'blue' : 'yellow' %>
  <%= javascript_tag do %>
    $('#sticky_<%= @sticky.id %>_popup')
      .qtip({
        content:{
          text: '<%== escape_javascript((
            "<strong>Description:</strong> " + @sticky.full_description + "<br /><br />" + 
            
            (@sticky.owner ? "<strong>Assigned To:</strong><ul><li>" + @sticky.owner.name + "</li></ul>" : '' ) +

            (@sticky.project ? "<strong>Project:</strong><ul><li style='color:#{colors(current_user.all_viewable_projects.collect{|p| p.id}.index(@sticky.project_id))}'>" + @sticky.project.name + "</li></ul>" : '') + 
            
            (@sticky.project.frames.size > 0 ? "<strong>Frame:</strong><ul><li>" + (@sticky.frame ? @sticky.frame.name : 'Backlog') + "</li></ul>" : '') + 
            
            "<strong>Created By:</strong><ul><li>" + @sticky.user.name + "</li></ul>" +
            
            (@sticky.tags.size > 0 ? "<strong>Tags:</strong> " + @sticky.tags.join(', ') + "<br /><br />" : '')
            
          ).html_safe) %>',
          title:{
            text: 'Sticky <%= @sticky.name %> <%= image_tag('gentleface/16/list_bullets.png', alt: '', size: '9x9') %> <%= '- completed' if @sticky.completed %>'
          }
        },
        show:{
          event: 'mouseenter'
        },
        hide: {
          event: 'mouseleave'
        },
        position:{
          my: 'left center',
          at: 'right center',
          viewport: $(window)
        },
        style:{
          classes: 'ui-tooltip-shadow ui-tooltip-<%= color %>'
        }
      });
  <% end %>
</div>