<table style="width:100%;table-layout:fixed">
  <tr>
    <td style="vertical-align:top;text-align:left">
      <span><% @sticky.tags.each do |tag| %><%= @tag = tag; render partial: 'tags/show' %><% end %></span>
    </td>
    <td style="vertical-align:top;text-align:center;white-space:nowrap">
      <% if @sticky.owner %>
        <%= image_tag @sticky.owner.avatar_url(18, "identicon") %>
        <%= @sticky.owner.name %>
      <% end %>
    </td>
    <td style="vertical-align:top;text-align:right">
      <%= simple_date(@sticky.due_date) %><%= " at #{@sticky.due_at_string_short}" unless @sticky.all_day? %>
    </td>
  </tr>
</table>

<hr class="soften" style="margin-top:5px;margin-bottom:35px"/>

<%= simple_markdown @sticky.full_description %>

<div style="height:30px; margin-top:35px;">
  <%= link_to 'Close', '#', class: 'btn btn-mini pull-right', data: { object: 'hide-sticky-modal' } %>

  <% if @sticky.modifiable_by?(current_user) %>
    <%= link_to 'Edit', edit_sticky_path(@sticky, from_calendar: params[:from_calendar], from_checkbox: params[:from_checkbox]), method: :get, remote: true, class: 'btn btn-mini pull-right', style: 'margin-right:5px' %>

    <% if @sticky.completed? %>
      <%= link_to 'Mark Not Completed', complete_sticky_path(@sticky, undo: 'true', from_calendar: params[:from_calendar], from_checkbox: params[:from_checkbox]), method: :post, remote: true, style: 'margin-right:5px', class: 'btn btn-mini btn-primary pull-right' %>
    <% else %>
      <%= link_to 'Mark Completed', complete_sticky_path(@sticky, from_calendar: params[:from_calendar], from_checkbox: params[:from_checkbox]), method: :post, remote: true, style: 'margin-right:5px', class: 'btn btn-mini btn-primary pull-right' %>
    <% end %>

    <%# if @sticky.group %>
      <%#= link_to 'Delete Sticky', '#', class: 'btn btn-mini btn-danger-inverse pull-left', data: { object: 'modal-show', target: "#delete-sticky-dialog_#{@sticky.id}" } %>
    <%# else %>
      <%= link_to "Delete Sticky", destroy_multiple_stickies_path(sticky_ids: @sticky.id, from_calendar: params[:from_calendar]), method: :post, remote: true, class: 'btn btn-mini btn-danger-inverse pull-left', data: { confirm: "Are you sure you want to delete Sticky #{@sticky.name}?" } %>
    <%# end %>

  <% end %>
</div>

<% if @sticky.group %>
<hr class="soften" style="margin-top:5px;margin-bottom:15px"/>
Group <%= @sticky.group.name %>
<%= @stickies = @sticky.group.stickies; render partial: 'stickies/simple_stickies' %>
<% end %>

<hr class="soften" style="margin-top:5px;margin-bottom:15px"/>

<% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>

<div id="sticky_<%= @sticky.id %>_comments_<%= @position %>">
  <%= @comments = @sticky.comments.page(0).per(0); render partial: 'comments/index' %>
</div>

<%#= render partial: 'delete_sticky_dialog', locals: { sticky: @sticky } %>
