<table style="width:100%;table-layout:fixed">
  <tr>
    <td style="vertical-align:top;text-align:left">
      <span><% @sticky.tags.each do |tag| %><%= @tag = tag; render partial: 'tags/show' %><% end %></span>
    </td>
    <td style="vertical-align:top;text-align:center;white-space:nowrap">
      <% if @sticky.owner %>
        <%= image_tag @sticky.owner.avatar_url(18, "identicon") %>
        <%= @sticky.owner.name %>
      <% end %>
    </td>
    <td style="vertical-align:top;text-align:right">
      <%= simple_date(@sticky.due_date) %><%= " at #{@sticky.due_at_string_short}" unless @sticky.all_day? %>
    </td>
  </tr>
</table>

<hr class="soften" style="margin-top:5px;margin-bottom:35px"/>

<%= simple_format_links_target_blank(@sticky.full_description) %>

<div style="height:30px; margin-top:35px;">
  <%= link_to 'Close', '#', class: 'btn btn-mini pull-right', data: { object: 'hide-sticky-modal' } %>

  <% if @sticky.modifiable_by?(current_user) %>
    <%= link_to 'Edit', edit_sticky_path(@sticky), method: :get, remote: true, class: 'btn btn-mini pull-right', style: 'margin-right:5px' %>

    <% if @sticky.completed? %>
      <%= link_to 'Mark Not Completed', complete_sticky_path(@sticky, use_template: 'redesign', undo: 'true'), method: :post, remote: true, style: 'margin-right:5px', class: 'btn btn-mini btn-primary pull-right' %>
    <% else %>
      <%= link_to 'Mark Completed', complete_sticky_path(@sticky, use_template: 'redesign'), method: :post, remote: true, style: 'margin-right:5px', class: 'btn btn-mini btn-primary pull-right' %>
    <% end %>

    <%# if @sticky.group %>
      <%#= link_to 'Delete Sticky', '#', class: 'btn btn-mini btn-danger pull-left', data: { object: 'modal-show', target: "#delete-sticky-dialog_#{@sticky.id}" } %>
    <%# else %>
      <%= link_to "Delete Sticky", @sticky, method: :delete, class: 'btn btn-mini btn-danger pull-left', data: { confirm: "Are you sure you want to delete Sticky #{@sticky.name}?" } %>
    <%# end %>

  <% end %>
</div>

<% if @sticky.group %>
<hr class="soften" style="margin-top:5px;margin-bottom:15px"/>
Group <%= @sticky.group.name %>
<% @stickies = @sticky.group.stickies %>
<table class="table table-condensed" style="width:100%;table-layout: fixed;"><col width=""/><col width="40px"/><col width="80px"/><col width="100px"/>
<% @stickies.each do |sticky| %>
  <tr class="<%= sticky.completed? ? 'sticky-completed' : 'sticky-not-completed' %> <%= 'info' if @sticky.id == sticky.id %>" style="<%= 'font-weight:bold' if @sticky.id == sticky.id %>">
    <td data-link="<%= sticky_path(sticky) %>" data-remote="true" data-method="get" style="cursor:pointer;white-space:nowrap;overflow-x:hidden;">
      <div style="overflow:hidden">
        <span><% sticky.tags.each do |tag| %><%= @tag = tag; render partial: 'tags/show' %><% end %></span> <%= strip_tags(sticky.description) %>
      </div>
    </td>
    <td><% if sticky.comments.size > 0 %><span class="badge badge-info"><%= sticky.comments.size %></span><% end %></td>
    <td style="white-space:nowrap;overflow-x:hidden;">
      <span rel="tooltip" title="<%= sticky.owner ? sticky.owner.name : 'Unassigned'  %>" data-placement="left">
      <% if sticky.owner %>
        <%= image_tag sticky.owner.avatar_url(18, "identicon") %>
        <%= sticky.owner.nickname %>
      <% else %>
        <%= image_tag User.new.avatar_url(18, "mm") %>
      <% end %>
      </span>
    </td>
    <td style="text-align:right;white-space:nowrap"><span class="rounded-borders" style="background-color:white"><%= simple_date(sticky.due_date) %></span><%#= " at #{sticky.due_at_string_short}" unless sticky.all_day? %></td>
  </tr>
<% end %>
</table>
<% end %>

<hr class="soften" style="margin-top:5px;margin-bottom:15px"/>

<% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>

<div id="sticky_<%= @sticky.id %>_comments_<%= @position %>">
  <%= @comments = @sticky.comments.page(0).per(0); render partial: 'comments/index' %>
</div>

<%#= render partial: 'delete_sticky_dialog', locals: { sticky: @sticky } %>
