<div style="float:right">
  Per Page 
  <% [10,25,50].each do |count| %>
    <span class="per_page">
      <% if current_user.stickies_per_page != count %>
        <%= link_to count, "#", 'data-count' => count, 'data-object' => 'stickies', :id => "count_#{count}" %>
      <% else %>
        <%= count %>
      <% end %>
    </span>
  <% end %>
</div>

<% if @frame %>
<center>
  <%= @frame.long_time %>
</center>
<div style="clear:both"></div>
<center>
    <% if @frame.end_date > Date.today %>
      <b><%= pluralize((@frame.end_date - Date.today).to_i, 'Day') %> Left</b>
    <% else %>
      &nbsp;
    <% end %>
</center>
<% else %>
  <center>&nbsp;</center>
  <div style="clear:both"></div>
  <center>&nbsp;</center>
<% end %>

<table width="100%">
  <tr>
    <th>Sticky</th>
    <th>Comments</th>
    <th>Name/Description</th>
    <th>Status</th>
    <th style="white-space:nowrap">Assigned To</th>
<% if false %>      <th style="white-space:nowrap">End Date</th> <% end %>
    <th></th>
  </tr>

<% @stickies.each do |sticky| %>
  <% @object = sticky %>
  <% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>
  <tbody>
    <tr class="<%= 'recently_updated' if current_user.last_sign_in_at < sticky.updated_at %>">
      <td style="white-space:nowrap"><%= link_to sticky.name, sticky %></td>
      <td style="white-space:nowrap;text-align:center"><%= link_to_function "+ (#{sticky.comments.size})", "toggleSticky('##{@object.class.name.downcase}_#{@object.id}_comments_#{@position}');", :id => "#{@object.class.name.downcase}_#{@object.id}_comments_#{@position}_link" %></td>
      <td><div style="width:400px"><pre class="collapsed" id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>_description"><%= sticky.description %></pre></div></td>
      <td style="white-space:nowrap;vertical-align:middle"><%= display_status(sticky.status) %></td>
      <td style="white-space:nowrap;"><%= link_to sticky.owner.nickname if sticky.owner %></td>
<% if false %>        <td style="text-align:center"><% if false %><%= sticky.start_date %><br />to<br /><% end %><%= sticky.end_date %></td><% end %>
      <td style="vertical-align:middle">
        <% if current_user.all_stickies.include?(sticky) %>
          <%= link_to image_tag('stock/edit.png', :alt => ''), edit_sticky_path(sticky) %>
          <%= link_to image_tag('stock/delete.png', :alt => ''), sticky, :confirm => "Are you sure you want to delete Sticky #{sticky.name}?", :method => :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <tbody id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>" style="display:none">
    <%= render :partial => 'comments/index_table' %>
  </tbody>
<% end %>
</table>

<center><%= paginate @stickies %></center>