<tr class="<%= sticky.completed? ? 'sticky-completed' : 'sticky-not-completed' %> <%= 'info' if @sticky and @sticky.id == sticky.id %>" id="sticky_<%= sticky.id %>_row">
  <td><%= check_box_tag "sticky_ids[#{sticky.id}]", '1', false, style: 'margin:0px', data: { object: 'sticky-checkbox', sticky_id: sticky.id, completed: sticky.completed } %></td>
  <td data-link="<%= sticky_path(sticky) %>" data-remote="true" data-method="get" style="cursor:pointer;white-space:nowrap;overflow-x:hidden;">
    <div id="sticky_<%= sticky.id %>" data-object="sticky-draggable" data-sticky-id="<%= sticky.id %>" data-board-id="<%= sticky.board ? sticky.board.id : 0 %>" style="overflow:hidden">
      <span><% sticky.tags.each do |tag| %><%= @tag = tag; render partial: 'tags/show' %><% end %></span> <%= highlight(strip_tags(sticky.full_description), params[:search], highlighter: '<span class="label label-highlight">\1</span>') %>
      <div data-object="sticky-helper" style="display:none"><% sticky.tags.each do |tag| %><%= @tag = tag; render partial: 'tags/show' %><% end %> <%= strip_tags(sticky.full_description).truncate(30) %></div>
    </div>
  </td>
  <td><% if sticky.comments.size > 0 %><span class="badge badge-info"><%= sticky.comments.size %></span><% end %></td>
  <td style="white-space:nowrap;overflow-x:hidden;">
    <span rel="tooltip" title="<%= sticky.owner ? sticky.owner.name : 'Unassigned'  %>" data-placement="left">
    <% if sticky.owner %>
      <%= image_tag sticky.owner.avatar_url(18, "identicon") %>
      <%= sticky.owner.nickname %>
    <% else %>
      <%= image_tag User.new.avatar_url(18, "mm") %>
    <% end %>
    </span>
  </td>
  <td style="text-align:right;white-space:nowrap"><span><%= simple_date(sticky.due_date) %></span><%#= " at #{sticky.due_at_string_short}" unless sticky.all_day? %></td>
</tr>
