<% @project = current_user.all_viewable_projects.find_by_id(params[:project_id]) %>
<% @board = @project.boards.find_by_id(params[:board_id]) if @project %>
<% @tags = @project.tags.where(id: params[:tag_ids]) if @project %>

<h4 style="margin-top:0px"><%= @board ? @board.name : (params[:board_id] == '0' ? 'Holding Pen' : 'All Stickies') %></h4>

<% if @project.modifiable_by?(current_user) %>
  <%= link_to 'Create Task'.html_safe, new_sticky_path(sticky: { project_id: @project.id, board_id: params[:board_id] }), method: :get, remote: true, class: 'btn btn-xs btn-default', id: 'new-sticky-button' %>
  <%= link_to 'Create Group'.html_safe, new_group_path(group: { project_id: @project.id, board_id: params[:board_id] }), method: :get, remote: true, class: 'btn btn-xs btn-default', id: 'new-group-button' %>
<% end %>

<% @tags.each do |tag| %><%= @tag = tag; render partial: 'tags/show' %><% end %>
<span class="label label-highlight"><%= params[:search] %></span>
<%= link_to 'Clear'.html_safe, '#', rel: 'tooltip', title: 'Clear Filters', data: { object: 'clear-tags' }, class: 'btn btn-xs btn-default' unless params[:tag_ids].blank? and params[:search].blank? %>

<div class="pull-right">
  <div class="btn-toolbar">
    <div class="btn-group" data-toggle="buttons">
      <label id="assigned-to-me-btn" class="btn btn-default btn-xs <%= 'active' if params[:assigned_to_me].to_s == '1' %>">
        Assigned To Me
      </label>
    </div>

    <div class="btn-group" data-toggle="buttons-radio">
      <% ['completed', 'past_due', 'upcoming'].each do |scope| %>
        <button data-object="set-scope" data-value="<%= scope %>" class="btn btn-default <%= 'active' if params[:scope] == scope %> btn-xs"><%= scope.humanize %></button>
      <% end %>
    </div>
  </div>
</div>

<% if @stickies.count > 0 %>
  <div class="pull-right">
    <span id="scope-direction-icon"><%= '&larr;'.html_safe if params[:scope_direction] == 'reverse' %></span>
    <span data-object="toggle-scope-direction" style="cursor:pointer" rel="tooltip" title="Toggle Direction">
      <span data-object="sticky-count"><%= @stickies.count %></span> of <span data-object="sticky-count"><%= @stickies.total_count %></span>&nbsp;
    </span>
  </div>
<% end %>


<% params[:project_ids] = @project.id.to_s %>
<% params[:tags] = @tags.pluck(:name).uniq.join(',') %>
<% params[:owners] = current_user.name if params[:assigned_to_me].to_s == '1' %>
<div class="clear">&nbsp;</div>
<%= render partial: 'list', locals: { stickies: @stickies } %>
<div class="center" data-object="visible-sticky"><%= paginate @stickies, theme: "contour" %></div>
<%= render partial: 'modal' %>
