<div style="float:right;text-align:right">
  Per Page
  <% [10,25,50].each do |count| %> <span class="per_page"><%= link_to_if current_user.stickies_per_page != count, count, "#", 'data-count' => count, 'data-object' => 'stickies', id: "count_#{count}" %></span><% end %><br />
  <%= "<b>Displaying #{@stickies.count} of #{@sticky_count}</b>".html_safe if @sticky_count %>
</div>

<% if @frame %>
  <center>
    <%= @frame.long_time %>
  </center>
  <div style="clear:both"></div>
  <center>
      <% if @frame.end_date > Date.today %>
        <b><%= pluralize((@frame.end_date - Date.today).to_i, 'Day') %> Left</b>
      <% else %>
        &nbsp;
      <% end %>
  </center>
<% else %>
  <center>&nbsp;</center>
  <div style="clear:both"></div>
  <center>&nbsp;</center>
<% end %>

<table width="100%">
  <tr>
    <th style="white-space:nowrap"><%== sort_field_helper(@order, 'stickies.id', 'Sticky', 'stickies_search') %></th>
    <th style="white-space:nowrap"><%== sort_field_helper(@order, 'stickies.due_date', 'Due Date', 'stickies_search') %></th>
    <th>Description</th>
    <th style="white-space:nowrap"><%== sort_field_helper(@order, 'stickies.completed', 'Status', 'stickies_search') %></th>
    <th style="white-space:nowrap"><%== sort_field_helper(@order, 'stickies.owner_id', 'Assigned To', 'stickies_search') %></th>
    <th>Tags</th>
    <th></th>
  </tr>

<% @stickies.each do |sticky| %>
  <% @object = sticky %>
  <% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>
  <tbody>
    <tr class="<%= 'recently_updated' if current_user.last_sign_in_at and current_user.last_sign_in_at < sticky.updated_at %>">
      <td style="white-space:nowrap">
        <%= link_to sticky.name, sticky %>
        <%= link_to image_tag('gentleface/16/list_bullets.png', alt: '', title: "Group #{sticky.group.name}", size: '10x10'), sticky.group if sticky.group %>
      </td>
      <td style="white-space:nowrap;text-align:center">
        <%= simple_date(sticky.due_date) %>
      </td>
      <td>
        <div style="width:400px"><pre class="collapsed" id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>_description"><%= sticky.full_description %></pre></div>
        <div style="padding-left:20px"><%= link_to_function (sticky.comments.size > 0 ? pluralize(sticky.comments.size, "comment") : 'more...'), "toggleSticky('##{@object.class.name.downcase}_#{@object.id}_comments_#{@position}');", id: "#{@object.class.name.downcase}_#{@object.id}_comments_#{@position}_link" %></div>
      </td>
      <td style="white-space:nowrap;vertical-align:middle;"><div style="margin:0 auto;width:20px;"><%= display_completion(sticky.completed) %></div></td>
      <td style="white-space:nowrap;"><%= link_to sticky.owner.nickname if sticky.owner %></td>
      <td>
        <table class="blank padded tags">
        <% sticky.tags.in_groups_of(5).each do |row_tags| %>
          <tr>
            <% row_tags.each do |tag| %>
              <% if tag %><td><div><%= tag %></div></td><% end %>
            <% end %>
          </tr>
        <% end %>
        </table>
      </td>
      <td style="vertical-align:middle">
        <% if current_user.all_stickies.include?(sticky) %>
          <%= link_to image_tag('contour/edit.png', alt: ''), edit_sticky_path(sticky) %>
          <%= link_to image_tag('contour/delete.png', alt: ''), sticky, confirm: "Are you sure you want to delete Sticky #{sticky.name}?", method: :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <tbody id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>" style="display:none">
    <%= render partial: 'comments/index_table' %>
  </tbody>
<% end %>
</table>

<center><%= paginate @stickies %></center>
