<% @title = 'Calendar' %>

<br />
<%= form_tag calendar_stickies_path, remote: true, method: :get, id: 'sticky_calendar_form' do %>
  <div style="text-align:center;float:middle">
    <%= hidden_field_tag :direction, 0 %>
    <%#= link_to_function '&laquo;'.html_safe, "goBackOneYear();", :style => 'text-decoration:none', :title => 'Previous Year' %>
    <%= link_to_function '&laquo;'.html_safe, "goBackOneMonth();", :style => 'text-decoration:none', :title => 'Previous Month' %>
    <%= link_to_function 'Today', 'getToday()' %>
    <%= link_to_function '&raquo;'.html_safe, "goForwardOneMonth();", :style => 'text-decoration:none', :title => 'Next Month' %>
    <%= text_field_tag :selected_date, @selected_date.strftime('%m/%d/%Y'), class: 'datepicker' %>
    <%#= select_tag :month, options_for_select( Date::MONTHNAMES[1..12].collect{|month| [month,Date::MONTHNAMES.index(month)]}, (params[:month] || Date.today.month)) %>
    <%#= select_tag :year, options_for_select( (Date.today.year..Date.today.year+1).to_a, (params[:year] || Date.today.year) ) %>
    <%= select_tag :date_type, options_for_select([['Due Date', 'due_date'],['Start Date', 'start_date'],['End Date', 'end_date']]) %>
    <%#= link_to_function '&raquo;'.html_safe, "goForwardOneYear();", :style => 'text-decoration:none', :title => 'Next Year' %>
  </div>

  <div style="position:relative; float:right; margin-top:-31px">
    <table class="blank">
      <tr>
      <% ['planned', 'ongoing', 'completed'].each do |status| %>
        <td><%= check_box_tag "status_selected[#{status}]", '1', params[:status_selected] ? params[:status_selected].keys.include?(status) : true, onclick: "$('.stickies_#{status}').toggle()" %></td>
        <td><%= display_single_status(status) %></td>
        <td class="<%= status %>" style="padding-right:10px"><%= status.titleize %></td>
      <% end %>
      </tr>
    </table>
  </div>
<% end %>


<div id="month-breakdown" style="min-height:486px;margin-top:-10px">
  <br /><br /><center><%= image_tag "ajax-loader.gif" %></center>
</div>

<%= render partial: 'new_sticky_or_group_dialog' %>

<% if false %>
<table class='blank padded'>
  <tr>
    <td>
      <fieldset>
        <legend>Projects</legend>
        <% current_user.all_viewable_projects.each_with_index do |project, index| %>
          <div class="field">
            <%= check_box_tag "projects[#{project.id}][selected]", '1', true, onclick: "$('.project_#{project.id}').toggle()" %> <%= link_to project.name, project, style: "color:#{colors(index)}" %>
          </div>
        <% end %>
      </fieldset>
    </td>
  </tr>
</table>
<% end %>

<hr><br />

<%= link_to image_tag('contour/addfile.png', :alt => '') + "Create New Project", new_project_path, :class => 'button positive' %>

<%= form_tag projects_path, :method => :get, :remote => true, :id => 'projects_search' do %>
  <%= hidden_field_tag :order %>
  Search <%= text_field_tag 'search', params[:search] %> <%= information %>
  <div id="projects"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>
<% end %>

<%= javascript_tag do %>
  $(function(){
    $.get($("#projects_search").attr("action"), $("#projects_search").serialize(), null, "script");
    $.get($("#sticky_calendar_form").attr("action"), $("#sticky_calendar_form").serialize(), null, "script");
  });
<% end %>