<% @title = 'Calendar' %>

<%= form_tag calendar_stickies_path, remote: true, method: :get, id: 'sticky_calendar_form', style: 'margin-bottom:0px' do %>
  <%= hidden_field_tag :save_settings, '1' %>
  <div class="row">
    <div class="span2">
      <h3 id="calendar-title"><%= render partial: 'calendar_title' %></h3>
    </div>
    <div class="span3">
      <div class="btn-group">
        <%= link_to_function '&larr;'.html_safe, "goBackOneMonth();", style: 'text-decoration:none', title: 'Previous Month', class: 'btn' %>
        <%= link_to_function 'Today', 'getToday()', class: 'btn' %>
        <%= link_to_function '&rarr;'.html_safe, "goForwardOneMonth();", style: 'text-decoration:none', title: 'Next Month', class: 'btn' %>
      </div>
    </div>
    <div class="span3" style="text-align:center">
        <%= hidden_field_tag :direction, 0 %>
        <%#= link_to_function '&laquo;'.html_safe, "goBackOneYear();", style: 'text-decoration:none', title: 'Previous Year' %>
        <%= text_field_tag :selected_date, @selected_date.strftime('%m/%d/%Y'), class: 'datepicker', style: 'width:68px' %>
        <%#= select_tag :date_type, options_for_select([['Due Date', 'due_date'],['Start Date', 'start_date'],['End Date', 'end_date']]) %>
        <%#= link_to_function '&raquo;'.html_safe, "goForwardOneYear();", style: 'text-decoration:none', title: 'Next Year' %>
    </div>
    <div class="span4" style="text-align:right">
      <span style="white-space:nowrap"><%= check_box_tag 'assigned_to_me', '1', (params[:assigned_to_me] == '1') %> Assigned To Me</span>
      <%= render partial: 'stickies/check_box_status' %>
    </div>
  </div>
<% end %>

<div id="month-breakdown" class="frame" style="min-height:350px;">
  <br /><br /><center style="background-color:transparent"><%= image_tag "ajax-loader.gif" %></center>
</div>

<%= render partial: 'new_sticky_or_group_dialog' %>

<section id="projects">
  <div class="page-header">
    <h3>Projects</h3>
  </div>

  <p>
    <% current_user.all_projects.by_favorite(current_user.id).in_groups_of(6).each do |row_projects| %>
      <div class="row">
        <% row_projects.each do |project| %>
          <div class="span2">
            <% if project %>
              <% form_name = "project_#{project.id}_visible" %>
              <%= form_tag visible_project_path(project), remote: true, method: :post, style: 'display:inline', id: form_name do %>
                <%= check_box_tag :visible, '1', !current_user.hidden_project_ids.include?(project.id), onclick: "$('##{form_name}').submit();" %>
              <% end %>
              <%= link_to project.name, project, style: "color: #{project.color(current_user)}", class: "project_#{project.id}_color" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </p>
</section>


<%= javascript_tag do %>
  $(function(){
    $.get($("#sticky_calendar_form").attr("action"), $("#sticky_calendar_form").serialize(), null, "script");
  });
<% end %>
