<% @title = 'Calendar' %>

<%= form_tag calendar_stickies_path, remote: true, method: :get, id: 'sticky_calendar_form', style: 'margin-bottom:0px' do %>
  <%= hidden_field_tag :save_settings, '1' %>
  <div class="row" style="margin-top:-10px">
    <div class="span4 btn-toolbar">
      <h3 id="calendar-title" style="font-size:27px;font-weight:300"><%= render partial: 'calendar_title' %></h3>
    </div>
    <div class="span4" style="text-align:center">
      <div class="btn-toolbar">
        <div class="btn-group" style="height:37px">
          <%= link_to 'Today', '#', class: 'btn', data: { object: 'calendar-today' } %>
        </div>
        <div class="btn-group" style="height:37px">
          <%= link_to '&larr;'.html_safe, '#', title: 'Previous Month', class: 'btn', data: { object: 'calendar-previous-month' } %>
          <%= hidden_field_tag :direction, 0 %>
          <%= text_field_tag :selected_date, @selected_date.strftime('%m/%d/%Y'), class: 'datepicker btn', style: 'width:68px' %>
          <%= link_to '&rarr;'.html_safe, '#', title: 'Next Month', class: 'btn', data: { object: 'calendar-next-month' } %>
        </div>
      </div>
    </div>
    <div class="span4" style="text-align:right">
      <% status_all = (params[:status].include?('planned') and params[:status].include?('completed')) %>

      <div class="btn-toolbar">
        <div class="btn-group">
          <button id="assigned-to-me-btn" class="btn <%= 'active' if params[:assigned_to_me] == '1' %>">Assigned To Me</button>
        </div>

        <div class="btn-group" data-toggle="buttons-radio">
          <button id="all-stickies" class="btn <%= 'active' if status_all %>">All</button>
          <button id="not-completed-stickies" class="btn <%= 'active' unless status_all %>">Not Completed</button>
        </div>
      </div>

      <%= hidden_field_tag 'status[]', 'planned', id: 'status_planned' %>
      <%= hidden_field_tag 'status[]', (status_all ?  'completed' : ''), id: 'status_completed' %>
      <%= hidden_field_tag 'assigned_to_me', params[:assigned_to_me] %>
    </div>
  </div>
<% end %>

<div id="month-breakdown" class="frame" style="min-height:565px;">
  <center><%= image_tag "contour/ajax-loader.gif" %></center>
</div>

<div id="sticky_group_dialog_container">
  <%= render partial: 'new_sticky_or_group_dialog' %>
</div>

<section id="projects">
  <%= render partial: 'projects/calendar' %>
</section>

<%= render partial: 'layouts/welcome_dialog' if current_user.all_viewable_projects.size == 0 %>

<%= render partial: 'stickies/move_group_dialog' %>

<%= javascript_tag do %>
  $(function(){
    $.get($("#sticky_calendar_form").attr("action"), $("#sticky_calendar_form").serialize(), null, "script");
  });
<% end %>
