<% @title = 'Calendar' %>

<div class="row">
  <div class="span9">



<%= form_tag calendar_stickies_path, remote: true, method: :get, id: 'sticky_calendar_form', style: 'margin-bottom:0px' do %>
  <%= hidden_field_tag :save_settings, '1' %>
  <table class="blank" style="width:100%;table-layout: fixed;">
    <tr>
      <td style="vertical-align:top">
        <h4 style="margin-top:0px">
          <span id="calendar-title"><%= render partial: 'calendar_title' %></span>
          <span style='font-size: 11px;font-weight:normal'>
            <%= link_to_function '&laquo;'.html_safe, "goBackOneMonth();", style: 'text-decoration:none', title: 'Previous Month' %>
            <%= link_to_function 'Today', 'getToday()' %>
            <%= link_to_function '&raquo;'.html_safe, "goForwardOneMonth();", style: 'text-decoration:none', title: 'Next Month' %>
          </span>
        </h4>
      </td>
      <td style="vertical-align:top;text-align:center;">
        <%= hidden_field_tag :direction, 0 %>
        <%#= link_to_function '&laquo;'.html_safe, "goBackOneYear();", style: 'text-decoration:none', title: 'Previous Year' %>
        <%= text_field_tag :selected_date, @selected_date.strftime('%m/%d/%Y'), class: 'datepicker' %>
        <%#= select_tag :date_type, options_for_select([['Due Date', 'due_date'],['Start Date', 'start_date'],['End Date', 'end_date']]) %>
        <%#= link_to_function '&raquo;'.html_safe, "goForwardOneYear();", style: 'text-decoration:none', title: 'Next Year' %>
      </td>
      <td style="vertical-align:top">
        <div style="float:right">
          <table class="blank">
            <tr>
              <td style="padding-right:10px;white-space:nowrap"><%= check_box_tag 'assigned_to_me', '1', (params[:assigned_to_me] == '1') %> Assigned To Me</td>
              <%= render partial: 'stickies/check_box_status' %>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
<% end %>

<div id="month-breakdown" class="frame" style="min-height:350px;">
  <br /><br /><center style="background-color:transparent"><%= image_tag "ajax-loader.gif" %></center>
</div>

<%= render partial: 'new_sticky_or_group_dialog' %>




  </div>
  <div class="span3">
    <h2>Projects <%= link_to "Create Project", new_project_path, class: 'btn btn-primary btn-mini' %></h2>
    <p>
      <%= form_tag projects_path, method: :get, remote: true, id: 'projects_search' do %>
        <%= hidden_field_tag :order %>
        <%= text_field_tag 'search', params[:search] %> <%= submit_tag 'Search', class: 'btn btn-primary btn-mini' %>
        <div id="projects"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>
      <% end %>
    </p>
  </div>
</div>



<%= javascript_tag do %>
  $(function(){
    $.get($("#projects_search").attr("action"), $("#projects_search").serialize(), null, "script");
    $.get($("#sticky_calendar_form").attr("action"), $("#sticky_calendar_form").serialize(), null, "script");
  });
<% end %>
