<% if params[:use_template] == 'redesign' %>
  // alert('create.js');
<% else %>

  $('#new-sticky-or-group-dialog').modal('hide');
  $('#sticky_description').val('');
  $('.error').removeClass('error');

  <%# TODO Refactor: Following copied to groups/create.js.erb %>
  <% unless @sticky.due_date.blank? %>

    old_element = $("#sticky_<%= @sticky.id %>_popup")
    if(old_element.parent().children(".sticky_popup").size() == 1){
      old_element.parent().remove();
    }else{
      old_element.remove();
    }

    var tag_container = $("#day_<%= @sticky.due_date.strftime('%m_%d_%Y') %>_tag_container_<%= @sticky.tag_ids.sort.join('_') %>");

    if(tag_container.length > 0){
      $(tag_container).append("<%= escape_javascript(render("stickies/popup")) %>")
    }else{
      $("#day_<%= @sticky.due_date.strftime('%m_%d_%Y') %>").append("<div style='padding-bottom:5px' id='day_<%= @sticky.due_date.strftime('%m_%d_%Y') %>_tag_container_<%= @sticky.tag_ids.sort.join('_') %>'><%= @tags = @sticky.tags; escape_javascript(render("tags/small_tags")) %><%= escape_javascript(render("stickies/popup")) %></div>")
    }

    $("#sticky_<%= @sticky.id %>_popup").effect("highlight", {}, 3000);
  <% end %>
  $(".project_<%= @sticky.project.id %>_color").css('color', '<%= @sticky.project.color(current_user) %>');
  <%# END TODO %>


  activateCalendarStickyPopups();

  <%# Launch a refresh of the sticky search %>
  $("#stickies_search").submit();
<% end %>
