<% anchor_date = (Date.parse(params[:date]) rescue Date.today) %>
<% beginning = anchor_date.wday == 0 ? anchor_date : anchor_date.beginning_of_week - 1.day %>

<table class="day-selection">
  <tr>
    <td>
      <div><%= date = beginning; date.strftime("%b") %></div>
      <%= link_to week_path( date: anchor_date.strftime("%Y%m%d"), tags: params[:tags], owners: params[:owners], project_ids: params[:project_ids] ), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-calendar"></span>
      <% end %>
    </td>
    <% ['S','M','T','W','R','F','S'].each_with_index do |day, day_index| %>
      <td>
        <% date = beginning + day_index.days %>
        <% sticky_count = @stickies.with_due_date_for_calendar(date, date).count %>
        <% if date.day == 1 %>
          <div style="white-space:nowrap">
            <%= date.strftime("%b") %>
            <span class="<%= 'btn-faded' if sticky_count == 0 %>"><%= date.strftime("%-d") %></span>
          </div>
        <% else %>
          <div style="white-space:nowrap" class="<%= 'btn-faded' if sticky_count == 0 %>">
            <%= date.strftime("%-d") %>
          </div>
        <% end %>

        <%= link_to day_path( date: date.strftime("%Y%m%d"), tags: params[:tags], owners: params[:owners], project_ids: params[:project_ids] ), class: "btn #{date == anchor_date ? 'btn-primary' : 'btn-default'} #{ 'btn-faded' if sticky_count == 0 }" do %>
          <%= day %>
          <% if day_index > 0 and day_index < 6 %>

          <% end %>
        <% end %>
      </td>
    <% end %>
    <td>
      <div>&nbsp;</div>
      <%= link_to day_path( date: (anchor_date + 1.week).strftime("%Y%m%d"), tags: params[:tags], owners: params[:owners], project_ids: params[:project_ids] ), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </td>
  </tr>
</table>

<%= render partial: 'create_and_filter_menu' %>

<div class="clear">&nbsp;</div>

<%= render partial: 'list', locals: { stickies: @stickies.with_due_date_for_calendar(anchor_date, anchor_date), url: day_path( date: anchor_date.strftime("%Y%m%d") ) } %>

<div class="row" data-object="visible-sticky">
  <% tags_by_name = current_user.all_viewable_tags.where(name: params[:tags].to_s.split(',')).group_by(&:name) %>
  <% tags_by_name.each do |name, tags| %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <label class="checkbox tag-selected" style="margin-bottom: 0px;background-color: <%= tags.first.color %>">
        <span class="tag-name"><%= name %></span>
      </label>
    </div>
  <% end %>

  <% projects = current_user.all_viewable_projects.where(id: params[:project_ids].to_s.split(',')) %>
  <% projects.each do |project| %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <label class="checkbox tag-selected" style="margin-bottom: 0px;background-color:<%= project.color(current_user) %>;overflow:hidden;font-weight:bold;color:#333">
        <%= project.name %>
      </label>
    </div>
  <% end %>

  <% users = current_user.associated_users.with_name(params[:owners].to_s.split(',')).order('last_name, first_name') %>
  <% users.each do |user| %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <label class="checkbox tag-selected" style="margin-bottom: 0px;">
        <%= user.reverse_name %>
      </label>
    </div>
  <% end %>

  <% if tags_by_name.count + projects.count + users.count > 0 %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div style="margin-top:10px">
        <%= link_to 'Clear Filters', day_path(date: anchor_date.strftime("%Y%m%d")), class: 'btn btn-block btn-default' %>
      </div>
    </div>
  <% end %>

</div>


<%= render partial: 'modal' %>
