<table class="day-selection">
  <tr>
    <td>
      <div><%= date = @beginning; date.strftime("%b") %></div>
      <%= link_to week_path( date: @anchor_date.strftime("%Y%m%d"), tags: params[:tags], owners: params[:owners], project_ids: params[:project_ids] ), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-calendar"></span>
      <% end %>
    </td>
    <% ['S','M','T','W','R','F','S'].each_with_index do |day, day_index| %>
      <td>
        <% date = @beginning + day_index.days %>
        <% sticky_count = @stickies.with_due_date_for_calendar(date, date).count %>
        <% if date.day == 1 %>
          <div style="white-space:nowrap">
            <%= date.strftime("%b") %>
            <span class="<%= 'btn-faded' if sticky_count == 0 %>"><%= date.strftime("%-d") %></span>
          </div>
        <% else %>
          <div style="white-space:nowrap" class="<%= 'btn-faded' if sticky_count == 0 %>">
            <%= date.strftime("%-d") %>
          </div>
        <% end %>

        <%= link_to day_path( date: date.strftime("%Y%m%d"), tags: params[:tags], owners: params[:owners], project_ids: params[:project_ids] ), class: "btn #{date == @anchor_date ? 'btn-primary' : 'btn-default'} #{ 'btn-faded' if sticky_count == 0 }" do %>
          <%= day %>
          <% if day_index > 0 and day_index < 6 %>

          <% end %>
        <% end %>
      </td>
    <% end %>
    <td>
      <div>&nbsp;</div>
      <%= link_to day_path( date: (@anchor_date + 1.week).strftime("%Y%m%d"), tags: params[:tags], owners: params[:owners], project_ids: params[:project_ids] ), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </td>
  </tr>
</table>

<%= render partial: 'create_and_filter_menu', locals: { url: day_path( date: @anchor_date.strftime("%Y%m%d") ) } %>

<div class="clear">&nbsp;</div>

<%= render partial: 'list', locals: { stickies: (params[:date] == 'none' ? @stickies.where( due_date: nil ) : @stickies.with_due_date_for_calendar(@anchor_date, @anchor_date)) } %>

<%= render partial: 'modal' %>
