<% anchor_date = (Date.parse(params[:d]) rescue Date.today) %>
<% beginning = anchor_date.wday == 0 ? anchor_date : anchor_date.beginning_of_week - 1.day %>

<table class="day-selection">
  <tr>
    <td>
      <div><%= date = beginning; date.strftime("%b") %></div>
      <%= link_to week_path(d: anchor_date.strftime("%Y%m%d")), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-calendar"></span>
      <% end %>
    </td>
    <% ['S','M','T','W','R','F','S'].each_with_index do |day, day_index| %>
      <td>
        <% date = beginning + day_index.days %>
        <% sticky_count = current_user.all_viewable_stickies.with_due_date_for_calendar(date, date).count %>
        <% if date.day == 1 %>
          <div style="white-space:nowrap">
            <%= date.strftime("%b") %>
            <span class="<%= 'btn-faded' if sticky_count == 0 %>"><%= date.strftime("%-d") %></span>
          </div>
        <% else %>
          <div style="white-space:nowrap" class="<%= 'btn-faded' if sticky_count == 0 %>">
            <%= date.strftime("%-d") %>
          </div>
        <% end %>

        <%= link_to (anchor_date == date ? week_path(d: date.strftime("%Y%m%d")) : day_path(d: date.strftime("%Y%m%d"))), class: "btn #{date == anchor_date ? 'btn-primary' : 'btn-default'} #{ 'btn-faded' if sticky_count == 0 }" do %>
          <%= day %>
          <% if day_index > 0 and day_index < 6 %>

          <% end %>
        <% end %>
      </td>
    <% end %>
    <td>
      <div>&nbsp;</div>
      <%= link_to day_path(d: (anchor_date + 1.week).strftime("%Y%m%d")), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </td>
  </tr>
</table>

<%#= link_to 'Today', day_path, class: 'btn btn-default btn-block', style: 'margin-bottom:10px' %>

<%= render partial: 'list', locals: { stickies: current_user.all_viewable_stickies.with_due_date_for_calendar(anchor_date, anchor_date), anchor_date: anchor_date } %>

<div class="row">
  <% if tag = current_user.all_viewable_tags.where(name: params[:tag]).first %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <label class="checkbox tag-checkbox" style="margin-bottom: 0px;background-color: <%= tag.color %>">
      <%= check_box_tag "tag_names[]", tag.name, false %>
      <span class="tag-name"><%= tag.name %></span>
    </label>
    </div>
  <% end %>

  <% if project = current_user.all_viewable_projects.where(name: params[:p]).first %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <label class="checkbox tag-checkbox" style="margin-bottom: 0px;background-color:<%= project.color(current_user) %>;overflow:hidden;font-weight:bold;color:#333">
      <%= project.name %>
    </label>
    </div>
  <% end %>
</div>

<div class="clear">&nbsp;</div>

<% if tag or project %>
  <%= link_to 'Clear Filters', day_path(d: anchor_date.strftime("%Y%m%d")), class: 'btn btn-xs btn-default' %>
<% end %>

<%= render partial: 'modal' %>
