- @title = "Edit Task #{@sticky.name}"

-# TODO: Check if stickies without projects exist...
.page-header
  %h1
    - if @sticky.project
      = link_to @sticky.project.name, @sticky.project
      &middot;
    = link_to "Task #{@sticky.name}", @sticky
    &middot; Edit

= render 'form'


