<% @title = 'Stickies' %>
<div class="page-header">
  <h1><%= @title %> <%= link_to "Create Sticky", new_sticky_path, class: 'btn btn-primary btn-mini' %></h1>
</div>

<%= form_tag stickies_path, method: :get, remote: true, id: "stickies_search" do %>
  <%= hidden_field_tag :from, 'index' %>
  <%= hidden_field_tag :update_filters, 1 %>
  <%= hidden_field_tag :order, params[:order] || current_user.sticky_filters['order'] %>
  <div class="row">
    <div class="span4 control-group">
      <%= label :search, 'Search', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'search', params[:search] || current_user.sticky_filters['search'] %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= label :project_id, 'Project', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :project_id, options_for_select([['All', nil]] + current_user.all_viewable_projects.order('name').collect{|p| [p.name, p.id]}, params[:project_id] || current_user.sticky_filters['project_id']) %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= label :owner_id, 'Assigned To', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :owner_id, options_for_select([['All', nil]] + User.current.with_project(current_user.all_viewable_projects.collect{|p| p.id}, true).order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}, params[:owner_id] || current_user.sticky_filters['owner_id']) %>
        <span style="white-space:nowrap"><%= check_box_tag "unassigned", '1', (params[:unassigned] || current_user.sticky_filters['unassigned']) == '1' %> Include Unassigned</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4 control-group">
      <%= label :due_date_start_date, 'Due Date After', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'due_date_start_date', params[:due_after] || current_user.sticky_filters['due_date_start_date'], class: 'datepicker' %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= label :due_date_end_date, 'Due Date Before', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'due_date_end_date', params[:due_before] || current_user.sticky_filters['due_date_end_date'], class: 'datepicker' %>
      </div>
    </div>
    <div class="span4 control-group">
      Status
      <div class="controls">
        <table class="blank"><tr><%= render partial: 'stickies/check_box_status' %></tr></table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 control-group">
      <table class="blank padded tags" style="width:100%;text-align:left;margin:10px 0px">
        <thead>
          <tr>
            <th colspan="6">Tags
              <%= link_to image_tag('gentleface/16/checkbox_checked.png', alt: 'Select All', title: 'Select All Tags', class: 'smudge', style: 'margin-left:4px;margin-right:4px;vertical-align:text-bottom'), '#', class: 'bubble-azure', style: 'padding-top:10px', data: { object: 'check', target: '.tag-box' } %>
              <%= link_to image_tag('gentleface/16/checkbox_unchecked.png', alt: 'Deselect All', title: 'Deselect All Tags', class: 'smudge', style: 'margin-left:4px;margin-right:4px;vertical-align:text-bottom'), '#', class: 'bubble-azure', style: 'padding-top:10px', data: { object: 'uncheck', target: '.tag-box' } %>
              contains <%= select_tag 'tag_filter', options_for_select([['at least one', 'any'],['all', 'all']], params[:tag_filter] || current_user.sticky_filters['tag_filter']) %> selected tag(s)
            </th>
          </tr>
        </thead>
        <tbody id="sticky_tag_selection_container">
          <%#= render partial: 'tags/multi_tag_selection' %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>
    <span class="dropdown">
      <%= link_to 'Export <b class="caret"></b>'.html_safe, '#', class: 'dropdown-toggle btn', 'data-toggle' => "dropdown" %>
      <ul id="export-submenu" class="dropdown-menu">
        <li>
          <%= link_to image_tag('gentleface/16/doc_lines_stright.png', style: 'vertical-align:text-bottom') + ' CSV', '#', data: { object: 'export', format: 'csv' } %>
        </li>
        <li>
          <%= link_to image_tag('gentleface/16/calendar_2.png', style: 'vertical-align:text-bottom') + ' Calendar', '#', data: { object: 'export', format: 'ics' } %>
        </li>
      </ul>
    </span>
    <%= link_to 'Reset to Defaults', '#', class: 'btn', data: { object: 'stickies-reset-to-default' } %>
  </div>
<% end %>

<div id="stickies"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#stickies_search").attr("action"), $("#stickies_search").serialize(), null, "script");
  });
<% end %>
