<h1>Listing stickies</h1>

<%= link_to image_tag('icons/addfile.png', :alt => '') + "Create New Sticky", new_sticky_path, :class => 'button positive' %>

<%= form_tag stickies_path, :method => :get, :remote => true, :id => "stickies_search", :style => "margin-bottom:-5px" do %>
  Search <%= text_field_tag 'search', params[:search] %> <%= information %>
<% end %>

<div id="stickies"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<% content_for :script do %>
  <%= javascript_tag do %>
    $(function(){
      $.get($("#stickies_search").attr("action"), $("#stickies_search").serialize(), null, "script");
    });
  <% end %>
<% end %>