<h1>Listing stickies</h1>

<table>
  <tr>
    <th>Sticky type</th>
    <th>User</th>
    <th>Project</th>
    <th>Parent Sticky</th>
    <th>Position</th>
    <th>Status</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stickies.each do |sticky| %>
  <tr>
    <td><%= link_to sticky.sticky_type, sticky %></td>
    <td><%= link_to sticky.user.name, sticky.user %></td>
    <td><%= link_to sticky.project.name, sticky.project if sticky.project %></td>
    <td><%= link_to sticky.sticky_id, sticky.sticky if sticky.sticky %></td>
    <td><%= sticky.position %></td>
    <td><%= sticky.status %></td>
    <td><%= sticky.description %></td>
    <td><%= sticky.start_date %></td>
    <td><%= sticky.end_date %></td>
    <td><%= link_to 'Show', sticky %></td>
    <td><%= link_to 'Edit', edit_sticky_path(sticky) %></td>
    <td><%= link_to 'Destroy', sticky, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sticky', new_sticky_path %>
