<% @title = 'Stickies' %>
<div class="page-header">
  <h1><%= @title %> <%= link_to "Create Sticky", new_sticky_path, class: 'btn btn-primary btn-xs' %></h1>
</div>

<%= form_tag stickies_path, method: :get, remote: true, id: "stickies_search", data: { object: 'form-load' }, class: 'form-vertical' do %>
  <%= hidden_field_tag :from, 'index' %>
  <%= hidden_field_tag :update_filters, 1 %>
  <%= hidden_field_tag :order, params[:order] || current_user.sticky_filters['order'] %>
  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :search, 'Search', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag 'search', params[:search] || current_user.sticky_filters['search'], class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= label :project_id, 'Project', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= select_tag :project_id, options_for_select([['All', nil]] + current_user.all_viewable_projects.order('name').collect{|p| [p.name, p.id]}, params[:project_id] || current_user.sticky_filters['project_id']), class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= label :owner_id, 'Assigned To', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="row">
          <div class="col-xs-5">
            <%= select_tag :owner_id, options_for_select([['All', nil]] + User.current.with_project(current_user.all_viewable_projects.collect{|p| p.id}, true).order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}, params[:owner_id] || current_user.sticky_filters['owner_id']), class: 'form-control' %>
          </div>
          <div class="col-xs-7">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default btn">
                <%= check_box_tag "unassigned", '1', (params[:unassigned] || current_user.sticky_filters['unassigned']) == '1' %> Include Unassigned
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :due_date_start_date, 'Due Date After', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag 'due_date_start_date', params[:due_after] || current_user.sticky_filters['due_date_start_date'], class: 'datepicker form-control' %>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= label :due_date_end_date, 'Due Date Before', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag 'due_date_end_date', params[:due_before] || current_user.sticky_filters['due_date_end_date'], class: 'datepicker form-control' %>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <label class="col-md-3 control-label">Status</label>
      <div class="col-md-9">
        <table class="blank"><tr><%= render partial: 'stickies/check_box_status' %></tr></table>
      </div>
    </div>
  </div>


  <div class="form-inline">
  Tags
  <%= link_to image_tag('gentleface/16/checkbox_checked.png', alt: 'Select All', title: 'Select All Tags', style: 'margin-left:4px;margin-right:4px;vertical-align:text-bottom'), '#', class: 'bubble-azure', style: 'padding-top:10px', data: { object: 'check', target: '.tag-box' } %>
  <%= link_to image_tag('gentleface/16/checkbox_unchecked.png', alt: 'Deselect All', title: 'Deselect All Tags', style: 'margin-left:4px;margin-right:4px;vertical-align:text-bottom'), '#', class: 'bubble-azure', style: 'padding-top:10px', data: { object: 'uncheck', target: '.tag-box' } %>
  contains <%= select_tag 'tag_filter', options_for_select([['at least one', 'any'],['all', 'all']], params[:tag_filter] || current_user.sticky_filters['tag_filter']), class: 'form-control input-sm', style: 'display:inline-block' %> selected tag(s)
  </div>
  <div id="sticky_tag_selection_container" style="margin-bottom:10px">
    <%#= render partial: 'tags/multi_tag_selection' %>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>

      <div class="btn-group">
        <%= button_tag 'Export <span class="caret"></span>'.html_safe, class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } %>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to '<span class="glyphicon glyphicon-list-alt"></span> CSV'.html_safe, '#', data: { object: 'export', format: 'csv' } %>
          </li>
          <li>
            <%= link_to '<span class="glyphicon glyphicon-calendar"></span> Calendar'.html_safe, '#', data: { object: 'export', format: 'ics' } %>
          </li>
        </ul>
      </div>

      <%= link_to 'Reset to Defaults', '#', class: 'btn btn-default', data: { object: 'stickies-reset-to-default' } %>
    </div>
  </div>
<% end %>

<div id="stickies"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
