<% @title = 'Stickies' %>
<h1><%= @title %></h1>

<%= link_to image_tag('contour/addfile.png', alt: '') + "Create New Sticky", new_sticky_path, class: 'button positive' %>

<div style="clear:both"></div>

<%= form_tag stickies_path, method: :get, remote: true, id: "stickies_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :order, params[:order] %>
  <fieldset>
    <legend>
      Search Filters
    </legend>
    <table class="blank padded" style="table-layout:fixed;width:100%;text-align:left;margin:10px 0px">
      <thead>
        <tr>
          <th>Search</th>
          <th>Project</th>
          <th>Assigned To</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= text_field_tag 'search', params[:search] %></td>
          <td><%= select_tag :project_id, options_for_select([['All', nil]] + current_user.all_viewable_projects.order('name').collect{|p| [p.name, p.id]}) %></td>
          <td>
            <%= select_tag :owner_id, options_for_select([['All', nil]] + User.current.with_project(current_user.all_viewable_projects.collect{|p| p.id}, true).order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}) %>
            <%= check_box_tag "unnassigned", '1', true %> Include Unnassigned
          </td>
        </tr>
      </tbody>
    </table>

    <table class="blank padded" style="table-layout:fixed;width:100%;text-align:left;margin:10px 0px">
      <thead>
        <tr>
          <th>Due Date After</th>
          <th>Due Date Before</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= text_field_tag 'due_date_start_date', '', class: 'datepicker' %></td>
          <td><%= text_field_tag 'due_date_end_date', '', class: 'datepicker' %></td>
          <td><%= render partial: 'stickies/check_box_status' %></td>
        </tr>
      </tbody>
    </table>
    <table class="blank padded tags" style="width:100%;text-align:left;margin:10px 0px">
      <thead>
        <tr>
          <th colspan="10">Tags
            <%= link_to_function image_tag('gentleface/16/checkbox_checked.png', alt: 'Select All', title: 'Select All Tags', class: 'smudge', style: 'margin-left:4px;margin-right:4px;vertical-align:text-bottom'), "checkAllWithSelector('.tag-box');", class: 'bubble-azure', style: 'padding-top:10px' %>
            <%= link_to_function image_tag('gentleface/16/checkbox_unchecked.png', alt: 'Deselect All', title: 'Deselect All Tags', class: 'smudge', style: 'margin-left:4px;margin-right:4px;vertical-align:text-bottom'), "uncheckAllWithSelector('.tag-box');", class: 'bubble-azure', style: 'padding-top:10px' %>
            contains <%= select_tag 'tag_filter', options_for_select([['at least one', 'any'],['all', 'all']]) %> selected tag(s)
          </th>
        </tr>
      </thead>
      <tbody>
        <% current_user.all_viewable_projects.collect{|p| p.tags}.flatten.uniq.sort.in_groups_of(10).each do |row_tags| %>
        <tr>
          <% row_tags.each do |tag| %>
            <% if tag %><td style="padding-top:5px"><%= check_box_tag "tag_ids[]", tag.id, false, class: 'tag-box' %> <%= @tag = tag; render partial: 'tags/show' %></td><% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_tag image_tag('gentleface/16/cog.png') + 'Filter Search' %>
    <%= link_to_function image_tag('gentleface/16/doc_lines_stright.png') + 'Export CSV', "window.location = $('#stickies_search').attr('action') + '.csv?' + $('#stickies_search').serialize();", class: 'button' %>
  </fieldset>
<% end %>

<div id="stickies"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#stickies_search").attr("action"), $("#stickies_search").serialize(), null, "script");
  });
<% end %>
