<h1>Listing stickies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Creator</th>
    <th>Project</th>
    <% if false %>
    <th>Parent Sticky</th>
    <th>Position</th>
    <% end %>
    <th>Description</th>
    <th>Status</th>
    <th>Assigned To</th>
    <th>Time Period</th>
    <th></th>
  </tr>

<% @stickies.each do |sticky| %>
  <tr>
    <td><%= link_to sticky.name, sticky %> <%= sticky.sticky_type %></td>
    <td><%= link_to sticky.user.name, sticky.user %></td>
    <td><%= link_to sticky.project.name, sticky.project if sticky.project %></td>
    <% if false %>
    <td><%= link_to sticky.sticky_id, sticky.sticky if sticky.sticky %></td>
    <td><%= sticky.position %></td>
    <% end %>
    <td><%= sticky.description %></td>
    <td><%= sticky.status %></td>
    <td><%= link_to sticky.owner.nickname, sticky.owner if sticky.owner %></td>
    <td style="text-align:center"><%= sticky.start_date %><br />to<br /><%= sticky.end_date %></td>
    <td style="vertical-align:middle">
      <% if current_user.all_stickies.include?(sticky) %>
        <%= link_to image_tag('icons/delete.png', :alt => ''), sticky, :confirm => "Are you sure you want to delete Sticky #{sticky.name}?", :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sticky', new_sticky_path %>
