<% @title = @anchor_date.strftime("%b %Y") %>

<%= render partial: 'layouts/welcome_dialog' if current_user.all_viewable_projects.size == 0 %>

<div id="month-breakdown" data-object="load-month-popovers">
  <%= render partial: 'month' %>
</div>

<%= render partial: 'create_and_filter_menu', locals: { url: month_path( date: @anchor_date.strftime("%Y%m%d") ) } %>

<%= render partial: 'modal' %>

<%= render partial: 'stickies/move_group_dialog' %>
