<%= link_to 'Edit', edit_sticky_path(@sticky) %> |
<%= link_to 'Back', stickies_path %><br />

<p>
  <b>User:</b>
  <%= @sticky.user.name %>
</p>

<p>
  <b>Project:</b>
  <%= link_to @sticky.project.name, @sticky.project if @sticky.project %>
</p>

<% if @sticky.sticky %>
<p>
  <b>Parent Sticky:</b>
  <%= link_to @sticky.sticky_id, @sticky.sticky if @sticky.sticky %>
</p>
<% end %>

<p>
  <b>Position:</b>
  <%= @sticky.position %>
</p>

<p>
  <b>Status:</b>
  <%= @sticky.status %>
</p>

<p>
  <b>Sticky type:</b>
  <%= @sticky.sticky_type %>
</p>

<p>
  <b>Description:</b><pre><%= @sticky.description %></pre>
</p>

<p>
  <b>Start date:</b>
  <%= @sticky.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @sticky.end_date %>
</p>