<% @title = "Sticky: #{@sticky.name}" %>
<h1><% if @sticky.project %><%= link_to @sticky.project.name, @sticky.project %> &raquo;<% end %><%= @title %></h1>

<%= link_to image_tag('icons/edit.png', :alt => '') + "Edit Sticky", edit_sticky_path(@sticky), :class => 'button' if current_user.all_stickies.include?(@sticky) %>
<%= link_to image_tag('icons/mydocuments.png', :alt => '') + "View All Stickies", stickies_path, :class => 'button' %>

<div style="clear:both"></div>

<pre><%= @sticky.description %></pre>
<br />

<p>
  <b>Creator:</b>
  <%= link_to @sticky.user.name, @sticky.user %>
</p>
<% if false %>
<p>
  <b>Project:</b>
  <%= link_to @sticky.project.name, @sticky.project if @sticky.project %>
</p>
<% end %>

<% if @sticky.sticky %>
<p>
  <b>Parent Sticky:</b>
  <%= link_to @sticky.sticky_id, @sticky.sticky if @sticky.sticky %>
</p>
<% end %>

<p>
  <b>Status:</b>
  <%= @sticky.status %>
</p>

<% if @sticky.owner %>
  <p>
    <b>Assigned To:</b>
    <%= link_to @sticky.owner.name if @sticky.owner %>
  </p>
<% end %>

<p>
  <b>Sticky type:</b>
  <%= @sticky.sticky_type %>
</p>


<p>
  <b>Time Period:</b>
  <%= @sticky.start_date %> to <%= @sticky.end_date %>
</p>

<p>
  <b>Comments:</b>
</p>
<% @object = @sticky %>
<% @limit = nil %>
<% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>
<div id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>" class = "comment_box">
  <%= render :partial => 'comments/index' %>
</div>