<% @title = "Sticky: #{@sticky.name}" %>
<h1>
  <table class="status-table">
    <tr>
      <td><% if @sticky.project %><%= link_to @sticky.project.name, @sticky.project %> &raquo;<% end %><%= @title %> &raquo;</td>
      <td style="vertical-align:top;padding:0 0 0 3px"><%= display_completion(@sticky.completed) %></td>
    </tr>
  </table>
</h1>
<% if current_user.all_stickies.include?(@sticky)  %>
  <%= link_to image_tag('contour/edit.png', alt: '') + "Edit Sticky", edit_sticky_path(@sticky), class: 'button' %>
  <% if @sticky.group %>
    <%= link_to_function image_tag('contour/delete.png', alt: '') + "Delete Sticky", "$('#delete-sticky-dialog_#{@sticky.id}').dialog('open'); return false;", class: 'button negative' %>
    <%= render partial: 'delete_sticky_dialog', locals: { sticky: @sticky } %>
  <% else %>
    <%= link_to image_tag('contour/delete.png', alt: '') + "Delete Sticky", @sticky, confirm: "Are you sure you want to delete Sticky #{@sticky.name}?", method: :delete, class: 'button negative' %>
  <% end %>
<% end %>
<%= link_to image_tag('contour/mydocuments.png', alt: '') + "View All Stickies", stickies_path, class: 'button' %>

<div style="clear:both"></div>

<pre><%= @sticky.full_description %></pre>

<fieldset>
<br />
<p>
  <b>Creator:</b>
  <%= link_to @sticky.user.name, @sticky.user %>
</p>
<% if @sticky.group %>
<p>
  <b>Group:</b>
  <%= link_to @sticky.group.name, @sticky.group if @sticky.group %>
</p>
<% end %>

<p>
  <b>Frame:</b>
  <%= @sticky.frame ? @sticky.frame.name : 'Backlog' %>
</p>

<% if @sticky.owner %>
  <p>
    <b>Assigned To:</b>
    <%= link_to @sticky.owner.name if @sticky.owner %>
  </p>
<% end %>

<p>
  <b>Due Date:</b>
  <%= @sticky.due_date %>
</p>

<% unless @sticky.due_at.blank? %>
<p>
  <b>Due At:</b>
  <%= @sticky.due_at_string %> <%= "to #{@sticky.due_at_end_string_with_duration}" unless @sticky.due_at_end_string_with_duration.blank? %>
</p>
<% end %>

<% if false %>
  <% unless @sticky.duration.blank? %>
  <p>
    <b>Duration:</b>
    <%= @sticky.duration %> <%= @sticky.duration_units %>
  </p>
  <% end %>
<% end %>

<% if false %>
<p>
  <b>Time Period:</b>
  <%= @sticky.start_date %> to <%= @sticky.end_date %>
</p>
<% end %>

<% if @sticky.tags.size > 0 %>
<p>
  <b>Tags:</b>
  <table class="blank tags">
    <% @sticky.tags.in_groups_of(5).each do |row_tags| %>
      <tr>
        <% row_tags.each do |tag| %>
          <% if tag %><td><%= @tag = tag; render partial: 'tags/show' %></td><% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</p>
<% end %>

<p>
  <b>Comments:</b>
</p>
<%= form_tag search_comments_path(class_id: @sticky.id, class_name: 'Sticky'), method: :get, id: "comments_search" do %>
<% if false %>  Search <%= text_field_tag 'search', params[:search] %> <%= information %><% end %>
<% end %>

<div id="comments"></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#comments_search").attr("action"), $("#comments_search").serialize(), null, "script");
  });
<% end %>

<% if false %>
<% @object = @sticky %>
<% @limit = nil %>
<% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>
<div id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>" class = "comment_box">
  <%= render partial: 'comments/index' %>
</div>
<% end %>
</fieldset>
