<% @title = "Sticky #{@sticky.name}" %>
<div class="page-header">
  <h1>
    <%= image_tag('gentleface/16/checkmark.png', alt: '', size: '16x16', style: 'padding-right:4px') if @sticky.completed %> <span style="<%= 'text-decoration:line-through' if @sticky.completed? %>"><%= @title %></span>
    <% if @sticky.project %><small>Project <%= link_to @sticky.project.name, @sticky.project %></small><% end %>
    <% if current_user.all_stickies.include?(@sticky)  %>
      <%= link_to "Edit Sticky", edit_sticky_path(@sticky), class: 'btn btn-mini' %>
      <% if @sticky.group %>
        <%= link_to_function "Delete Sticky", "$('#delete-sticky-dialog_#{@sticky.id}').modal(); return false;", class: 'btn btn-mini btn-danger' %>
      <% else %>
        <%= link_to "Delete Sticky", @sticky, confirm: "Are you sure you want to delete Sticky #{@sticky.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
      <% end %>
    <% end %>
  </h1>
</div>
<%= render partial: 'delete_sticky_dialog', locals: { sticky: @sticky } %>

<dl class="dl-horizontal">
  <dt>Description</dt>
  <dd><%= simple_format @sticky.full_description %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @sticky.user.name, @sticky.user %></dd>

  <% if @sticky.group %>
    <dt>Group</dt>
    <dd><%= link_to @sticky.group.name, @sticky.group if @sticky.group %></dd>
  <% end %>

  <dt>Frame</dt>
  <dd><%= @sticky.frame ? @sticky.frame.name : 'Backlog' %></dd>

  <% if @sticky.owner %>
    <dt>Assigned To</dt>
    <dd><%= link_to @sticky.owner.name if @sticky.owner %></dd>
  <% end %>

  <% unless @sticky.due_date.blank? %>
    <dt>Due Date</dt>
    <dd><%= simple_date_and_weekday @sticky.due_date %></dd>
  <% end %>

  <% unless @sticky.all_day? %>
    <dt>Due At</dt>
    <dd><%= @sticky.due_at_string %> <%= "to #{@sticky.due_at_end_string_with_duration}" unless @sticky.due_at_end_string_with_duration.blank? %></dd>
  <% end %>

  <% if @sticky.tags.size > 0 %>
    <dt>Tags</dt>
    <dd>
      <% @sticky.tags.in_groups_of(4).each do |row_tags| %>
        <div class="row" style="margin-left:0px;line-height:20px">
          <% row_tags.each_with_index do |tag, index| %>
            <div class="span2" style="<%= 'margin-left:0px' if index == 0 %>"><% if tag %><%= @tag = tag; render partial: 'tags/show' %><% end %></div>
          <% end %>
        </div>
      <% end %>
    </dd>
  <% end %>
</dl>

<%= render partial: 'comments_for_sticky' %>
