<% @title = "Sticky #{@sticky.name}" %>
<div class="page-header">
  <h1>
    <%= image_tag('gentleface/16/checkmark.png', alt: '', size: '16x16', style: 'padding-right:4px') if @sticky.completed %> <span style="<%= 'text-decoration:line-through' if @sticky.completed? %>"><%= @title %></span>
    <% if @sticky.project %><small>Project <%= link_to @sticky.project.name, @sticky.project %></small><% end %>
    <% if current_user.all_stickies.include?(@sticky)  %>
      <%= link_to "Edit Sticky", edit_sticky_path(@sticky), class: 'btn btn-mini' %>
      <% if @sticky.group %>
        <%= link_to_function "Delete Sticky", "$('#delete-sticky-dialog_#{@sticky.id}').dialog('open'); return false;", class: 'btn btn-danger' %>
        <%= render partial: 'delete_sticky_dialog', locals: { sticky: @sticky } %>
      <% else %>
        <%= link_to "Delete Sticky", @sticky, confirm: "Are you sure you want to delete Sticky #{@sticky.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
      <% end %>
    <% end %>
  </h1>
</div>

<div class="row">
  <div class="span9">
<b>Description:</b><br /><br />
        <div style="margin:0px;padding:0px"><%= simple_format @sticky.full_description %></div><br /><br />
  </div>
  <div class="span3">
    <p>
          <b>Creator:</b>
          <%= link_to @sticky.user.name, @sticky.user %>
        </p>
        <% if @sticky.group %>
        <p>
          <b>Group:</b>
          <%= link_to @sticky.group.name, @sticky.group if @sticky.group %>
        </p>
        <% end %>

        <p>
          <b>Frame:</b>
          <%= @sticky.frame ? @sticky.frame.name : 'Backlog' %>
        </p>

        <% if @sticky.owner %>
          <p>
            <b>Assigned To:</b>
            <%= link_to @sticky.owner.name if @sticky.owner %>
          </p>
        <% end %>

        <p>
          <b>Due Date:</b>
          <%= simple_date_and_weekday @sticky.due_date %>
        </p>

        <% unless @sticky.all_day? %>
        <p>
          <b>Due At:</b>
          <%= @sticky.due_at_string %> <%= "to #{@sticky.due_at_end_string_with_duration}" unless @sticky.due_at_end_string_with_duration.blank? %>
        </p>
        <% end %>

        <% if false %>
          <% unless @sticky.duration.blank? %>
          <p>
            <b>Duration:</b>
            <%= @sticky.duration %> <%= @sticky.duration_units %>
          </p>
          <% end %>
        <% end %>

        <% if false %>
        <p>
          <b>Time Period:</b>
          <%= @sticky.start_date %> to <%= @sticky.end_date %>
        </p>
        <% end %>

        <% if @sticky.tags.size > 0 %>
        <p>
          <b>Tags:</b>
          <table class="blank tags">
            <% @sticky.tags.in_groups_of(5).each do |row_tags| %>
              <tr>
                <% row_tags.each do |tag| %>
                  <% if tag %><td><%= @tag = tag; render partial: 'tags/show' %></td><% end %>
                <% end %>
              </tr>
            <% end %>
          </table>
        </p>
        <% end %>
  </div>
</div>

<fieldset>
  <%= form_tag search_comments_path(sticky_id: @sticky.id, class_name: 'Sticky', per: 10), method: :get, id: "comments_search", style: 'display:inline' do %>
  <% end %>

  <legend>Comments</legend>

  <div id="comments"></div>

</fieldset>

<%= javascript_tag do %>
  $(function(){
    $.get($("#comments_search").attr("action"), $("#comments_search").serialize(), null, "script");
  });
<% end %>
