<% if params[:bs3] == '1' %>
  $("#sticky-modal-new").find('.modal-content').html("<%= escape_javascript(render partial: "stickies/modal_content", locals: { sticky: @sticky }) %>");
  $("#sticky-modal-new").modal('show');
  $("#list_sticky_<%= @sticky.id %>").replaceWith("<%= escape_javascript(render partial: "stickies/list_sticky_show", locals: { sticky: @sticky }) %>");

<% elsif params[:from_calendar] == '1' %>

  <% if params[:from_checkbox] == '1' %>
    <% update_stickies = [@sticky.repeated_sticky] %>
    $("#sticky_<%= @sticky.id %>_popup").replaceWith("<%= escape_javascript(render("stickies/popup")) %>");
    $("#sticky_<%= @sticky.id %>_popup").effect("highlight", {}, 3000);
    $(".project_<%= @sticky.project.id %>_color").css('color', '<%= @sticky.project.color(current_user) %>');
  <% else %>
    <% update_stickies = [@sticky, @sticky.repeated_sticky] %>
  <% end %>


  <%# TODO Refactor: Following copied to groups/create.js.erb %>
  <% update_stickies.compact.each do |sticky| %>
    <% @sticky = sticky %>

    old_element = $("#sticky_<%= @sticky.id %>_popup")
    if (old_element.parent().children(".sticky_popup").size() == 1) {
      old_element.parent().remove();
    } else {
      old_element.remove();
    }

    <% unless @sticky.due_date.blank? %>
      var tag_container = $("#day_<%= @sticky.due_date.strftime('%m_%d_%Y') %>_tag_container_<%= @sticky.tag_ids.sort.join('_') %>");

      if(tag_container.length > 0){
        $(tag_container).append("<%= escape_javascript(render("stickies/popup")) %>");
      }else{
        $("#day_<%= @sticky.due_date.strftime('%m_%d_%Y') %>").append("<div style='padding-bottom:5px' id='day_<%= @sticky.due_date.strftime('%m_%d_%Y') %>_tag_container_<%= @sticky.tag_ids.sort.join('_') %>'><%= @tags = @sticky.tags; escape_javascript(render("tags/small_tags")) %><%= escape_javascript(render("stickies/popup")) %></div>")
      }

      $("#sticky_<%= @sticky.id %>_popup").effect("highlight", {}, 3000);
    <% end %>

    $(".project_<%= @sticky.project.id %>_color").css('color', '<%= @sticky.project.color(current_user) %>');
  <% end %>
  <%# END TODO %>


  activateCalendarStickyPopups();

<% elsif params[:from_index] == '1' %>

<%# Launch a refresh of the sticky search %>
$("#stickies_search").submit();

<% else %>
  $("#scope").val('<%= @sticky.panel %>');

  <% params[:board_id] = @sticky.board_id || '0' %>
  <% @project = @sticky.project %>
  <% boards_visible = (@sticky.board and @sticky.board.archived?) %>

  $("#unarchived_boards_container").html("<%= escape_javascript(render partial: "boards/full_menu", locals: { archived: false, boards_visible: true }) %>")
  $("#archived_boards_container").html("<%= escape_javascript(render partial: "boards/full_menu", locals: { archived: true, boards_visible: boards_visible }) %>")

  setBoardNames();
  activateBoardDraggables();
  activateBoardArchiveDroppable();
  activateBoardDroppables();

  clearSearchValues();
  $('#replace').val('rows');
  $('[data-object~="board-select"][data-board-id="<%= params[:board_id] %>"]').click();
  $('#replace').val('');
<% end %>

<% if params[:hide_show] == '1' %>
  hideStickyModal();
<% else %>
  $("#sticky_modal_container").html("<%= escape_javascript(render("stickies/show")) %>");
  showStickyModal();
<% end %>
