<% @title = "About #{DEFAULT_APP_NAME}" %>

<div class="row" style="margin-top:54px">
  <div class="span12">
    <h1 class="about-title"><%= @title %></h1>
    <p class="about-tagline">Visit our <%= link_to 'online community', ABOUT_PAGE_FORUM, target: '_blank' %> or contact us <%= mail_to ABOUT_PAGE_CONTACT, 'via email', target: '_blank', subject: "#{DEFAULT_APP_NAME} Question" %>.</p>
    <p class="about-signup"><%= link_to 'Sign Me Up', new_user_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
</div>

<hr class="soften">

<p class="about-description"><%= DEFAULT_APP_NAME %> is a <%= link_to 'free to use*', 'https://github.com/remomueller/tasktracker/blob/master/LICENSE', rel: 'tooltip', data: { title: 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License' } %> and <%= link_to 'open source', 'https://github.com/remomueller/tasktracker', rel: 'tooltip', data: { title: 'Source code freely available on GitHub' } %> project management tool that minimizes overhead and maximizes productivity and accountability.</p>

<div class="row">
  <div class="span4">
    <h2 class="about-title">View Calendar</h2>
    <p>View tasks for multiple projects.</p>
    <p>
    <ul>
      <li>Directly add new <b>Tasks</b> and instantly create groups of tasks from project-specific <b>Templates</b>.</li>
      <li>Filter tasks by project, completion status, and tasks assigned to you.</li>
      <li>Tasks are grouped by <span class="label label-info">Tags</span>.</li>
    </ul>
    </p>
  </div>

  <div class="span4">
    <h2 class="about-title">Create Tasks</h2>
    <p>Keep track of what you need to accomplish.</p>
    <p>
      <ul>
        <li>Add <span class="label label-info">Tags</span> to tasks for easier reporting and searching.</li>
        <li>Assign tasks to collaborators.</li>
        <li>Post <b>Comments</b> on stickies that get emailed to collaborators.</li>
      </ul>
    </p>
  </div>

  <div class="span4">
    <h2 class="about-title">Create Projects</h2>
    <p>Share your projects with collaborators.</p>
    <p>
      <ul>
        <li>Invite <b>Editors</b> that can participate on your projects.</li>
        <li>Invite <b>Viewers</b> that can see project updates and comment on tasks.</li>
        <li>Create project specific <span class="label label-info">Tags</span> to easily find and get statistics on stickies.</li>
        <li>Create <b>Templates</b> for common series of tasks and assign tasks to collaborators.</li>
      </ul>
    </p>
  </div>
</div>

<hr class="soften">

<footer class="footer">
  <p class="muted about-footer">
    <%= DEFAULT_APP_NAME %> Version <%= link_to TaskTracker::VERSION::STRING, "https://github.com/remomueller/tasktracker/tree/#{TaskTracker::VERSION::MAJOR}.#{TaskTracker::VERSION::MINOR}.#{TaskTracker::VERSION::TINY}" %>
  </p>
  <p class="muted about-footer">
    By using <%= DEFAULT_APP_NAME %> you are agreeing to the <%= link_to 'Acceptable Use Policy', about_use_path %>.
  </p>
</footer>
