<% @title = "About #{DEFAULT_APP_NAME}" %>

<div class="row">
  <div class="span6">
    &nbsp;
  </div>
  <div class="span6">
    <div class="hero-unit">
      <h1><%= @title %></h1>
      <p><%= DEFAULT_APP_NAME %> is a <%= link_to 'free to use', new_user_registration_path, class: 'btn btn-mini btn-primary' %> and <%= link_to 'open source', 'https://github.com/remomueller/notes', class: 'btn btn-mini btn-primary' %> project management tool where you can create and share projects with collaborators.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">

    <div class="hero-unit">
      <h1>Create Projects</h1>
      <p>Share your projects with collaborators and categorize your stickies!</p>
      <p>
        <ul>
          <li><em>Editors</em> can manage the project with you.</li>
          <li><em>Viewers</em> can see project updates and comment on its stickies.</li>
          <li>Create project specific<span class="tag_bubble"><b>Tags</b></span> to easily identify stickies.</li>
          <li>Create <em>Templates</em> for stickies that are always in a particular order and assigned to specific users</li>
          <li>Subdivide your project by <em>Time Frames</em></li>
        </ul>
      </p>
    </div>
  </div>
  <div class="span6">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="span6">
    &nbsp;
  </div>
  <div class="span6">
    <div class="hero-unit">
      <h1>Create Stickies</h1>
      <p>Incremental updates to track and achieve your project goals!</p>
      <p>
        <ul>
          <li>Stickies can provide documentation, todos, followups, and more!</li>
          <li>Add stickies to Project <em>Time Frames</em>.</li>
          <li>Assign a user to a Sticky to have them complete it.</li>
          <li>Add <span class="tag_bubble"><b>Tags</b></span> to Stickies for easier reporting and searching.</li>
          <li>Post <em>Comments</em> on Stickies that get emailed to collaborators.</li>
        </ul>
      </p>
    </div>
  </div>
</div>

<div class="hero-unit">

  <h1>View your Calendar</h1>
  <p>View of your current and upcoming stickies for multiple projects</p>
  <p>
  <ul>
    <li>Create Stickies and Templates directly on the calendar.</li>
    <li>Filter the stickies showing on the calendar, per project, completion status, and those assigned exclusively to you.</li>
    <li>Stickies are grouped by <span class="tag_bubble"><b>Tags</b></span>!</li>
  </ul>
  </p>
  <p>
    <%= link_to 'Sign Me Up!', new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
</div>
