<% @title = 'Dashboard' %>

<h1><%= @title %></h1>

<h4>Recent Activity</h4>

<ul>
<li>This will contain new projects that have been created and updates to your projects (Where you're the owner and we're you've been added as an editor).</li>
<li>Stickies created under your existing projects (Generic or Action Items or Goals or Roadblocks).</li>
<li>Comments people have left on your projects or stickies.</li>
<li>Will also include Recent Activity on Projects where you are a viewer.</li>
</ul>

<% current_user.all_viewable_stickies.each do |sticky| %>
  <div>
    <%= link_to sticky.project.name, sticky.project if sticky.project %>
    <%= link_to sticky.sticky_type, sticky %>:
    <%= sticky.description %> - <%= link_to sticky.user.name, sticky.user %>
    <% @object = sticky %>
    <% @limit = 0 %>
    <%= link_to_function "View/Hide Comments", "$('#{@object.class.name.downcase}_#{@object.id}_comments_other').toggle()" %>    
  </div><br />
  <div id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_other" class = "comment_box" style="display:none">
    <%= render :partial => 'comments/index' %>
  </div>
<% end %>


<h4>Projects Listed in Recently Updated Order</h4>
<ul>
<li>Your own projects (as owner and editor).</li>
</ul>
<% current_user.all_viewable_projects.each do |@project| %>
  <fieldset>
    <legend><%= link_to @project.name, @project %> <span class="quiet small"><%= @project.start_date %> to <%= @project.end_date %></span></legend>
    <% unless @project.description.blank? %>
    <fieldset>
      <legend>Description</legend>
      <%= @project.description %>
    </fieldset>
    <% end %>
    <%= render :partial => 'stickies/index' %>
    <fieldset>
      <legend>Comments</legend>
    <% @object = @project %>
    <% @limit = 5 %>
    <div id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments" class = "comment_box">
      <%= render :partial => 'comments/index' %>
    </div>
    </fieldset>
  </fieldset>
<% end %>