<% @title = 'Dashboard' %>

<h1><%= @title %></h1>

<h4>Recent Activity</h4>

<ul>
<li>This will contain new projects that have been created and updates to your projects (Where you're the owner and we're you've been added as an editor).</li>
<li>Stickies created under your existing projects (Generic or Action Items or Goals or Roadblocks).</li>
<li>Comments people have left on your projects or stickies.</li>
<li>Will also include Recent Activity on Projects where you are a viewer.</li>
</ul>

<% current_user.all_viewable_stickies.status(['planned', 'ongoing']).limit(10).each do |sticky| %>
  <div>
    <%= link_to sticky.project.name, sticky.project if sticky.project %>
    - <%= link_to sticky.user.name, sticky.user %>
    Sticky <%= link_to sticky.sticky_type, sticky %>:
    <% @object = sticky %>
    <% @limit = nil %>
    <% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>
    <%= link_to_function "View/Hide Comments (#{@object.comments.size})", "$('#{@object.class.name.downcase}_#{@object.id}_comments_#{@position}').toggle()" %>
    <pre><%= sticky.description %></pre>
    <br />
  </div>
  <div id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>" class = "comment_box" style="display:none">
    <%= render :partial => 'comments/index' %>
  </div>
  <hr>
<% end %>


<h4>Projects Listed in Recently Updated Order</h4>
<ul>
<li>Your own projects (as owner and editor).</li>
</ul>
<% current_user.all_viewable_projects.each do |@project| %>
  <fieldset>
    <legend><%= link_to @project.name, @project %> <span class="quiet small"><%= @project.start_date %> to <%= @project.end_date %></span></legend>
    <% unless @project.description.blank? %>
    <fieldset>
      <legend>Description</legend><pre><%= @project.description %></pre>
    </fieldset>
    <% end %>
    <%= render :partial => 'stickies/index' %>
    <fieldset>
      <legend>Comments</legend>
    <% @object = @project %>
    <% @limit = 5 %>
    <% @position = ("%.6f" % Time.now.to_f).gsub('.','_') %>
    <div id="<%= @object.class.name.downcase %>_<%= @object.id %>_comments_<%= @position %>" class = "comment_box">
      <%= render :partial => 'comments/index' %>
    </div>
    </fieldset>
  </fieldset>
<% end %>