<%= form_for(@project_user) do |f| %>
  <% if @project_user.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@project_user.errors.count, "error") %> prohibited this project_user from being saved</h4>

      <ul>
      <% @project_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :allow_editing %><br />
    <%= f.check_box :allow_editing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
