%h3 Project Members

- if @project.modifiable_by?(current_user)
  = form_tag project_users_path(project_id: @project.id), method: :post, remote: true, class: 'form-inline' do
    %strong Invite User
    .form-group
      = text_field_tag :invite_email, '', autocomplete: 'off', class: 'form-control', placeholder: 'Email Address', data: { object: 'typeahead', local: current_user.associated_users.collect{|user| "#{user.name} [#{user.email}]" }.uniq.to_json }

    .form-group
      %label.btn.btn-default
        = check_box_tag 'editor', '1', true
        Editor

    .form-group
      = submit_tag 'Invite By Email', class: 'btn btn-primary'

%table.table.table-fixed{ style: 'margin-top:20px' }
  %thead
    %tr
      %th Name
      %th Role
      %th Invited By
      %th Actions
  %tr
    %td= @project.user.name
    %td Project Owner
    %td
    %td
  - @project.project_users.order(allow_editing: :desc, id: :asc).each do |project_user|
    = render 'project_users/member_row', member: project_user
