- if @project.modifiable_by?(current_user)
  = form_tag project_users_path(project_user: { project_id: @project.id, allow_editing: @relation == 'editors' }), method: :post, remote: true, class: 'form-horizontal' do
    .form-group
      %label.col-md-2.control-label= @relation.humanize
      .col-md-10
        .input-group
          = text_field_tag "#{@relation}_text", '', autocomplete: "off", data: { object: 'typeahead', local: current_user.associated_users.collect{|user| "#{user.name} [#{user.email}]" }.uniq.to_json }, class: 'form-control'
          %span.input-group-btn
            = submit_tag 'Invite By Email', class: 'btn btn-primary'
- else
  %b= @relation.humanize

.col-md-10.col-md-offset-2
  %ul.list-unstyled
    - @project.project_users.where(allow_editing: @relation == 'editors').each do |project_user|
      -# TODO: Remove onmouseover inline JS
      %li{ onmouseover: "$('#project_user_#{project_user.id}_delete').show();", onmouseout: "$('#project_user_#{project_user.id}_delete').hide();", style: 'line-height:25px', title: "#{"Invited by #{project_user.creator.name}" if project_user.creator}" }
        - if project_user.user
          = link_to project_user.user.name, project_user.user
        - else
          %span.text-muted
            = project_user.invite_email
            - if current_user == project_user.creator
              = text_field_tag "project_user_#{project_user.id}_invite", "#{ENV['website_url']}/project_users/accept?invite_token=#{project_user.invite_token}"
        %span{ id: "project_user_#{project_user.id}_delete", style: 'display:none' }
          - if @project.modifiable_by?(current_user) || (@project.viewable_by?(current_user) && current_user == project_user.user)
            = link_to 'Remove', project_user, method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to remove #{project_user.user ? project_user.user.name : project_user.invite_email} from the list of #{@relation}?" }
