<p>
  <b>Project:</b>
  <%= @project_user.project_id %>
</p>

<p>
  <b>User:</b>
  <%= @project_user.user_id %>
</p>

<p>
  <b>Allow editing:</b>
  <%= @project_user.allow_editing %>
</p>


<%= link_to 'Edit', edit_project_user_path(@project_user) %> |
<%= link_to 'Back', project_users_path %>
