<% if user_signed_in? -%>
  <div style="float:right">
    <%= link_to_function current_user.name, "$('menu_user_settings').show();", :onmouseover => "$('menu_user_settings').show();" %>
    <div style="position:relative">
      <div id="menu_user_settings" class="menu_dropdown_right" style="display:none">
        <div style="white-space:nowrap"><%= current_user.name %></div>
        <div class="quiet small"><%= current_user.email %></div>
        <div><%= link_to 'Settings', authentications_path %></div>
        <hr>
        <div><%= link_to 'Logout', destroy_user_session_path %></div>
      </div>
    </div>
  </div>

  <% if false %>
  <div style="float:right">
    <%= link_to_function 'set2', "$('menu_set2').show();", :onmouseover => "$('menu_set2').show();" %>
    <div style="position:relative;">
      <div id="menu_set2" class="menu_dropdown_right_center" style="display:none">
        <div><%= link_to 'set2', root_path %></div>
        <div><%= link_to 'Publications', publications_path %></div>
      </div>
    </div>
  </div>
  <% end %>

  <div style="float:left">
    <%= link_to_function 'Home', "$('menu_home').show();", :onmouseover => "$('menu_home').show();" %>
    <div style="position:relative;">
      <div id="menu_home" class="menu_dropdown_left" style="display:none">
        <div><%= link_to 'Home', root_path %></div>
        <div><%= link_to 'Projects', projects_path %></div>
        <div><%= link_to 'Stickies', stickies_path %></div>
        <div><%= link_to 'Comments', comments_path %></div>
      </div>
    </div>
  </div>
  
  <div style="float:left">
    <%= link_to_function 'Projects', "$('menu_projects').show();", :onmouseover => "$('menu_projects').show();" %>
    <div style="position:relative;">
      <div id="menu_projects" class="menu_dropdown_left_center" style="display:none">
        <div><%= link_to 'Projects', projects_path %></div>
        <div><%= link_to '&raquo;New'.html_safe, new_project_path %></div>
      </div>
    </div>
  </div>
  
  <div style="float:left">
    <%= link_to_function 'Stickies', "$('menu_stickies').show();", :onmouseover => "$('menu_stickies').show();" %>
    <div style="position:relative;">
      <div id="menu_stickies" class="menu_dropdown_left_center" style="display:none">
        <div><%= link_to 'Stickies', stickies_path %></div>
        <div><%= link_to '&raquo;New'.html_safe, new_sticky_path %></div>
      </div>
    </div>
  </div>

  <div style="float:left">
    <%= link_to_function 'Comments', "$('menu_comments').show();", :onmouseover => "$('menu_comments').show();" %>
    <div style="position:relative;">
      <div id="menu_comments" class="menu_dropdown_left_center" style="display:none">
        <div><%= link_to 'Comments', comments_path %></div>
        <div><%= link_to '&raquo;New'.html_safe, new_comment_path %></div>
      </div>
    </div>
  </div>

  <%= javascript_tag "hideOnMouseOut(['menu_user_settings', 'menu_home', 'menu_projects', 'menu_stickies', 'menu_comments']);" %>
<% else %>
  <div style="float:right" onmouseover="$('menu_user_settings').show();">
    <%= link_to_function 'Login', "$('menu_user_settings').show();" %>
    <div style="position:relative">
      <div id="menu_user_settings" class="menu_dropdown_right" style="display:none">
        <div><%= link_to 'Login', new_user_session_path %></div>
        <hr>
        <div style="white-space:nowrap"><%= link_to 'Sign Up', new_user_registration_path %></div>
      </div>
    </div>
  </div>
  <%= javascript_tag "hideOnMouseOut(['menu_user_settings']);" %>
<% end %>

<div style="clear:both">&nbsp;</div>