<% if false %>
<div id="msg_notice" class="notice" style="display:none">Lorem llit anim id est laborum.</div>
<div id="msg_warning" class="error" style="display:none">Some amazing error, oh no!!!!</div>
<%= javascript_tag "new Effect.Appear($('msg_notice'), {duration:1.5});new Effect.Appear($('msg_warning'), {duration:1.5});" %>
<% end %>

<% unless notice.blank? %>
  <div id="msg_notice" class="notice" style="display:none"><%= notice %></div>
  <%= javascript_tag "new Effect.Appear($('msg_notice'), {duration:1.5});" %>
<% end %>
<% unless flash[:warning].blank? %>
  <div id="msg_warning" class="error" style="display:none"><%= flash[:warning].humanize %></div>
  <%= javascript_tag "new Effect.Appear($('msg_warning'), {duration:1.5});" %>
<% end %>
<% unless alert.blank? %>
  <div id="msg_alert" class="error" style="display:none"><%= alert %></div>
  <%= javascript_tag "new Effect.Appear($('msg_error'), {duration:1.5});" %>
<% end %>
