<div class="modal" id="welcome-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Welcome To <%= DEFAULT_APP_NAME %>!</h4>
        </div>

        <div class="modal-body">
          <p>
          To get started, <b>create a project</b> to organize your tasks. Once the project is created, you can <b>double click</b> on the calendar to add tasks! You can also <b>add collaborators</b> to your project once they have signed up!
          </p>

          <% @project = current_user.all_projects.new() %>
          <%= form_for(@project, remote: true, html: { class: 'form-horizontal', style: 'margin-top:20px' }) do |f| %>

            <div class="form-group">
              <%= f.label :name, 'Project Name', class: 'col-md-2 control-label' %>
              <div class="col-md-10">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>

          <% end %>
        </div>

        <div class="modal-footer">
          <%= link_to 'Create Project', '#', class: 'btn btn-primary', data: { target: "#new_project", object: 'submit' } %>
        </div>
      </div>
    </div>
  </div>
</div>
