<!DOCTYPE html>
<html>
<head>
  <title>Notes | version <%= Notes::VERSION::STRING %></title>
  <title><%= ['Notes', @title].join(' - ') unless @title.blank? %></title>
  <%#= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'ie', :media => 'screen, projection' %>
  <![endif]-->
  <%= stylesheet_link_tag 'foundation', :media => 'screen, projection' %>
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header" class="container" style="background-image: url(<%= SITE_URL %>/images/brigham.png);">
    <div style="position:relative">
      <span style="position:absolute;top:18px;left:50px;font-size:0.5em;font-variant:normal">version <%= Notes::VERSION::STRING %></span>
    </div>
    Notes
  </div>

  <div id="message" class="container">
    <%= render :partial => 'layouts/message' %>
  </div>

  <div id="menu" class="container">
    <%= render :partial => 'layouts/menu' %>
  </div>

  <div id="content" class="container">
    <%= yield %>
  </div>
</body>
</html>
